﻿<table cellpadding="0" cellspacing="0" border="0" class="stdtable table" id="dyntable2">
    <colgroup>
        <col class="con0" />
        <col class="con1" />
        <col class="con0" />
        <col class="con1" />
        <col class="con0" />
    </colgroup>
    <thead>
        <tr>
            <th class="head0">Barcode</th>
            <th class="head1">Inspector Name</th>
            <th class="head0">Category Name</th>
            <th class="head0">Asset Name</th>
            <th class="head0">Item Name</th>
            <th class="head1">Inecption Date</th>
            <th class="head0">Action</th>
        </tr>
    </thead>
    <tbody id="report_items">
        @*@foreach (lib_web.Models.Shift _shift in Model)
        {
            string var_split = (_shift.issplit.ToLower() == "true") ? "Yes" : "No";
            <tr class="gradeX">
                <td align="center">
                    <span class="center">
                        <input type="checkbox" />
                    </span>
                </td>
                <td>@_shift.shift_code</td>
                <td>@_shift.shift_name</td>
                <td>@Html.Raw(_shift.period)</td>
                <td>@var_split</td>
                <td>@_shift.billable Min</td>
                <td>@_shift.non_billable</td>
                <td style="padding:1px; line-height:0">
                    <ul class="buttonlist" style="margin:0px !important">
                        <li><a href="@Url.Action("ShiftView_win", "Admin", new { shift_id = @_shift.shift_id.ToString() })" class="fancybox btns btn5 btn_yellow btn5_search"></a></li>

                    </ul>
                </td>
            </tr>
        }*@
    </tbody>
</table>



<script type="text/javascript">
        jQuery.ajax({
            url: '/BI/GetPassReport',
            dataType: "json",
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                console.log('data')
                console.log(data)
                jQuery('#report_items').html('')
                var rows = JSON.parse(data)
                var template = ''
                for (let x of rows) {
                    template += '<tr class="gradeX">' +
                        '<td>' + x.barcode + '</td>' +
                        '<td>' + x.firstname + '</td>' +
                        '<td>' + x.category_name + '</td>' +
                        '<td>' + x.asset_name + '</td>' +
                        '<td>' + x.item_name + '</td>' +
                        '<td>' + x.insp_date + '</td>' +
                        '<td style="padding:1px; line-height:0">' +
                        '    <ul class="buttonlist" style="margin:0px !important">' +
                        '        <li><a href="javascript:getReport();" class="fancybox-off btns btn5 btn_yellow btn5_search"></a></li>' +
                        '    </ul>' +
                        '</td>' +
                        '</tr>'
                }
                jQuery('#report_items').html(template)
            },
            error: function (xhr, ajaxOptions, thrownError) {
                var msg = "Error";
                jQuery.growl.error({ title: "Error", message: msg });
            }
        });
    function getReport() {
        var parameters = '&id=1';
        console.log('parameters')
        console.log(parameters)
        openReport(parameters);
    }
</script>