﻿<tr>
    <td>Organisation Structure</td>
    <td></td>
    <td><div id="structure_level"></div></td>
</tr>

<script type="text/javascript">
    function getReport() {
        var structure_id = jQuery('#structure_id').val();
        var parameters = '&structure_id=' + structure_id;
        debugger
        openReport(parameters);
    }
</script>