﻿<tr>
    <td>Organisation Structure</td>
    <td></td>
    <td><div id="structure_level"></div></td>
</tr>
<tr>
    <td>Start Date</td>
    <td></td>
    <td id="tdDatefrom"> <input type="text" name="from" id="datefrom" /></td>
</tr>
<tr>
    <td>End Date</td>
    <td></td>
    <td id="tdDateto"> <input type="text" name="to" id="dateto" /></td>
</tr>

<script type="text/javascript">
    function getReport() {
        var structure_id = jQuery('#structure_id').val();
        var datefrom = jQuery('#datefrom').val();
        var dateto = jQuery('#dateto').val();
        var parameters = '&structure_id=' + structure_id + '&datefrom=' + datefrom + '&datato=' + datato;
        debugger
        openReport(parameters);
    }
</script>