﻿
@{
    ViewBag.Title = "err_1020";
    Layout = "~/Views/Shared/_Anon.cshtml";
}

<div class="centercontent01">
    <div class="contentwrapper padding10">
        <div class="errorwrapper error403">
            <div class="errorcontent">
                <h1>Access Warning</h1>
                <h3>you do not have roles assign to you..</h3>
                <div class="notibar announcement">
                    <a class="close"></a>
                    <h3>Please contact your system administrator..</h3>
                    <i style="padding:5px 15px">This message can be caursed by the following.</i>

                    <br />
                    <ul style="padding:5px 15px">
                        <li>You administrator have not assign roles to you.</li>
                        <li>Your role assign to you does not have menus.</li>
                    </ul>

                    <br />
                    <strong style="padding:5px 15px">If message persists please contact your vendor.</strong>
                </div>
                <br />
                <a href="@Url.Action("LogOut","Account")" class="stdbtn btn_orange" style="background-image:none !important">Go Back to Login</a>
            </div><!--errorcontent-->
        </div><!--errorwrapper-->
    </div>

</div>

