﻿
@{
    ViewBag.Title = "err_1025";
    Layout = "~/Views/Shared/_Anon.cshtml";
}


<div class="centercontent01">
    <div class="contentwrapper padding10">
        <div class="errorwrapper error403">
            <div class="errorcontent">
                <h1>Version Warning</h1>
                <h3>Please note the application version does not match</h3>
                <div class="notibar announcement">
                    <a class="close"></a>
                    <h3>Please contact your application vendor.</h3>
                    <i style="padding:5px 15px">This message can be caursed by the following.</i>

                    <br />
                    <ul style="padding:5px 15px">
                        <li>Recent update or upgrades was done incorretly.</li>
                        <li>Application setup or setting are incorrect.</li>
                    </ul>

                    <br />
                    <strong style="padding:5px 15px">Contact your vendor support@bytefile.co.za.</strong>
                </div>
                <br />
                <a href="@Url.Action("LogOut","Account")" class="stdbtn btn_orange" style="background-image:none !important">Go Back to Login</a>
            </div><!--errorcontent-->
        </div><!--errorwrapper-->
    </div>

</div>

