﻿
@{
    ViewBag.Title = "err_1030";
    Layout = "~/Views/Shared/_Anon.cshtml";
}


<div class="centercontent01">
    <div class="contentwrapper padding10">
        <div class="errorwrapper error403">
            <div class="errorcontent">
                <h1>Application Maintanance</h1>
                <h3>Please note application  is currently under maintanance.</h3>
                <div class="notibar announcement">
                    <a class="close"></a>
                    <h3>Please be patient while we are busy with the application.</h3>
                    <i style="padding:5px 15px">This is likely to due of the following reasons</i>

                    <br />
                    <ul style="padding:5px 15px">
                        <li>Weekend routing maintance, takes about an hour.</li>
                        <li>Emergency maintance, ussualy communucated has been send.</li>
                    </ul>

                    <br />
                    <strong style="padding:5px 15px">Contact system administration for futher clarity.</strong>
                </div>
                <br />
                <a href="@Url.Action("LogOut","Account")" class="stdbtn btn_orange" style="background-image:none !important">Go Back to Login</a>
            </div><!--errorcontent-->
        </div><!--errorwrapper-->
    </div>

</div>


