﻿

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_Anon.cshtml";
}


<div class="loginbox">
    <div class="loginboxinner" style="width:360px">

        <div class="logo">
            <h1><span>LIFTING</span>.ID</h1>
            <p>Enter your username and password</p>
        </div>
        <!--logo-->
        @*<div class="nousername">
                <div class="loginmsg">@Html.ValidationMessage("CustomError")</div>
            </div>*@

        @*<br clear="all" /><br />

        <div class="nopassword">
            <div class="loginmsg">The password you entered is incorrect.</div>
            <div class="loginf">
                <div class="thumb"><img alt="" src="images/thumbs/avatar1.png" /></div>
                <div class="userlogged">
                    <h4></h4>
                    <a href="index.html">Not <span></span>?</a>
                </div>
            </div>
        </div>
    //@ using ( Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    //{*@
            <div class="username">
                <div class="usernameinner">
                    <input type="text" name="username" id="username" class="form-control" />
                    @*@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })*@
                </div>
            </div>

            <div class="password">
                <div class="passwordinner">
                    <input type="password" name="password" id="password" class="form-control" />
                    @*@Html.PasswordFor(m => m.Password, new { @class = "form-control" })*@
                </div>
            </div>

            @*<div class="keep">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>*@

            <input type="button" id="btn_login" value="Log in" class="btn btn-default" />
            @*<input type="button" value="Forgot Password" class="btn btn-primary" />*@


            @Html.ActionLink("click here to register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "linkcolor" })

        @*//}*@

    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    jQuery(document).ready(function () {
        jQuery('#btn_login').click(function () {
            var data = {
                email: jQuery('#username').val(),
                password: jQuery('#password').val(),
                rememberMe: false,
            };
            

            jQuery.ajax({
                url: '/Account/login',
                dataType: "json",
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                async: false,
                success: function (response, newValue) {
                    var data = JSON.parse(response);
                    if (data.code == 1) {
                        var msg = "Please wait while we retrive your profile..."
                        jQuery.growl.notice({ title: "Login Success", message: msg });
                        setTimeout(function () { window.location.href = data.message }, 2000);
                    }
                    else if (data.code == 99) {
                        var msg = "We notice your application version is incompitable..."
                        jQuery.growl.warning({ title: "Incompitability Issue", message: msg });
                        setTimeout(function () { window.location.href = data.message }, 2000);
                    }
                    else {
                        var msg = data.message
                        jQuery.growl.error({ title: "Login Failed", message: msg });
                    }
                },
                error: function (xhr, thrownError, Error) {
                    console.log(xhr)
                    console.log(thrownError)
                    console.log(Error)
                    var msg = "Message: " + thrownError;
                    jQuery.growl.error({ title: "Exception", message: msg });
                }
            });
        })
    });
</script>