﻿@model web_app.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Anon.cshtml";
}


<div class="loginbox">
    <div class="loginboxinner" style="width:360px">

        <div class="logo">
            <h1><span>LIFTING</span>.ID</h1>
            <p>Register a new company account.</p>
        </div>

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4 style="color:white">Company Details</h4>
            <hr />
            <div class="companyico">
                <div class="usernameinner">
                    <input type="text" name="company" id="company" class="form-control" placeholder="Company name" />
                </div>
            </div>
            <div class="emailico">
                <div class="usernameinner">
                    <input type="text" name="email" id="email" class="form-control" placeholder="Company email" />
                </div>
            </div>
            <div class="telico">
                <div class="usernameinner">
                    <input type="text" name="tel" id="tel" class="form-control" placeholder="Company telephone" />
                </div>
            </div>
            <div class="companyico">
                <div class="usernameinner">
                    @*<select  class="form-control uniformselect">
                        <option value="value">text</option>
                    </select>*@


                    <select name="select" class="uniformselect form-control" style="height:45px; font-size: 14px; color: #666" id="comp">
                        <option value="">Select organisation type</option>
                        <option value="1">Company</option>
                        <option value="2">Manufacture</option>
                        <option value="3">Supplier</option>
                    </select>
                </div>
            </div>
            <div class="companyico">
                <div class="usernameinner">
                    @Html.DropDownList("ddlGroupCat", ViewBag.group_category as SelectList, "Select Group Category...", new { @class = "uniformselect form-control", style = "height:45px;color:#666;font-size:14px" })


                </div>
            </div>
            <h4 style="color:white">Admin Login Details</h4>
            <hr />
            <div class="username">
                <div class="usernameinner">
                    <input type="text" name="username" id="username" class="form-control" placeholder="Username" autocomplete="off"  />
                </div>
            </div>

            <div class="password">
                <div class="passwordinner">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" autocomplete="off" />
                </div>
            </div>
            
            <div class="alignleft">
                <input type="button" id="btn_save" class="btn btn-default " value="Register" />
                @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "linkcolor" })
            </div>



        }
        </div></div>
   
<script type="text/javascript">

    jQuery(document).ready(function () {

        ///// FORM VALIDATION /////
        jQuery("#frm_addstaff").validate({
            rules: {
                name: "required",
                email: {
                    required: true,
                    email: true,
                }
            },
            messages: {
                name: "Please enter your first name",
                email: "Please enter a valid email address"
            }
        });


        jQuery('#btn_save').click(function () {

            var data =
                {
                    company_name: jQuery('#company').val(),
                    company_email: jQuery('#email').val(),
                    company_tel: jQuery('#tel').val(),
                    company_type_id: jQuery('#comp').find("option:selected").val(),
                    group_id: jQuery('#ddlGroupCat').find("option:selected").val(),
                    username: jQuery('#username').val(),
                    password: jQuery('#password').val(),
                }
            var auth =
                {
                    email: jQuery('#username').val(),
                    password: jQuery('#password').val(),
                    rememberMe: false,
                }

            console.log(data)

            jQuery.ajax({
                url: '/Account/CompanyReg',
                dataType: "json",
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (response, newValue) {
                    var data = JSON.parse(response);
                    if (data.code == 1) {
                        var msg = data.message;
                        jQuery.growl.notice({ title: "Saved", message: msg });

                        setTimeout(function () { user_login(auth) }, 2000)
                    }
                    else {
                        var msg = "Oops: " + data.message;
                        jQuery.growl.warning({ title: "Failed", message: msg });
                    }
                },
                error: function (xhr, thrownError, thrownError) {
                    var msg = "Message: " + thrownError;
                    jQuery.growl.error({ title: "Exception", message: msg });
                }
            });
        });
    });

    function user_login(data) {

                jQuery.ajax({
                    url: '/Account/login',
                    dataType: "json",
                    type: "POST",
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    async: false,
                    success: function (response, newValue) {
                        var data = JSON.parse(response);
                        if (data.code == 1) {
                            var msg = "Please wait while we retrive your profile..."
                            jQuery.growl.notice({ title: "Login Success", message: msg });
                            setTimeout(function () { window.location.href = data.message }, 2000);
                        }
                        else if (data.code == 99) {
                            var msg = "We notice your application version is incompitable..."
                            jQuery.growl.warning({ title: "Incompitability Issue", message: msg });
                            setTimeout(function () { window.location.href = data.message }, 2000);
                        }
                        else {
                            var msg = data.message
                            jQuery.growl.error({ title: "Login Failed", message: msg });
                        }
                    },
                    error: function (xhr, thrownError, Error) {
                        console.log(xhr)
                        console.log(thrownError)
                        console.log(Error)
                        var msg = "Message: " + thrownError;
                        jQuery.growl.error({ title: "Exception", message: msg });
                    }
                });
    }
</script>
