﻿
@using web_app.BLL;
@using web_app.Models;

@{
    string _action = ViewContext.RouteData.Values["action"].ToString();
    string _controller = ViewContext.RouteData.Values["controller"].ToString();
    List<Menus> menus = AdminCore.get_userwebsubmenus(User.Identity.Name, _controller);
}

<div class="vernav2 iconmenu">
    <ul>
        @{
            foreach (Menus menu in menus)
            {
                if (@menu.menu_action == null)
                {
                    <li>@menu.menu_name</li>
                }
                else
                {
                    <li class="@((@_action == @menu.menu_action) ? "current" : "")"><i style="padding: 4px 12px;" class="fa @menu.menu_icon"></i><a href="@Url.Action(@menu.menu_action, @menu.menu_controller)">@menu.menu_name</a></li>
                    }
                }
            }
    </ul>
    <a class="togglemenu"></a>
    <br />
    <br />
</div>
