﻿
@using web_app.BLL;
@using web_app.Models;

@{
    string _action = ViewContext.RouteData.Values["action"].ToString();
    string _controller = ViewContext.RouteData.Values["controller"].ToString();
    List<Menus> menus = AdminCore.get_userwebsubmenus(User.Identity.Name, _controller);
}

<div class="vernav2 iconmenu">
    <ul>
        @{
            foreach (Menus menu in menus)
            {
                if (@menu.menu_action == null)
                {
                    <li>@menu.menu_name</li>
                }
                else
                {
                    <li class="@((@_action == @menu.menu_action) ? "current" : "")"><i style="padding: 4px 12px;" class="fa @menu.menu_icon"></i><a href="@Url.Action(@menu.menu_action, @menu.menu_controller)">@menu.menu_name</a></li>
                }
            }
            @*<li class="@((page == "Index") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("Index","HR")" class="calendar">Dashboard</a></li>
            <li>Staff Management</li>
            <li class="@((page == "ShiftTrade") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("AddStaff","Admin")">Add Staff Member</a></li>
            <li class="@((page == "ShiftTrade") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("ViewStaff","Admin")">View Staff Members</a></li>
            <li>Staff Requests</li>
            <li class="@((page == "LeaveRequests") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("LeaveRequests", "HR")" class="typo">Leave Requests</a></li>
            <li class="@((page == "ShiftTrade") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("ShiftTrade", "HR")" class="typo">Shift Trade</a></li>
            <li>Approve</li>
            <li class="@((page == "ShiftTrade") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("ApproveShift","Home")">Staff Schedule</a></li>
            <li class="@((page == "ShiftTrade") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("ApproveLeave","Home")">Leave Requests</a></li>
            <li class="@((page == "ShiftTrade") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("ApproveTrade","Home")">Shift Trade</a></li>
            <li>Settings</li>
            <li class="@((page == "Settings") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("Settings", "HR")" class="calendar">Organisation Settings</a></li>
            <li class="@((page == "StaffSettings") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("StaffSettings", "HR")" class="calendar">Staff Settings</a></li>
            <li class="@((page == "ShiftSettings") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("ShiftSettings", "HR")" class="calendar">Shift Settings</a></li>*@

            @* <li class="@((page == "Hourlyrates") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("LeaveRequests", "HR")" class="typo">Hourly Rates</a></li>
                <li class="@((page == "ShiftTrade") ? @css : @css_non)"><a href="@Url.Action("ShiftTrade", "HR")" class="typo">Shift Trade</a></li>*@
        }
    </ul>
    <a class="togglemenu"></a>
    <br />
    <br />
</div>


