﻿
@using web_app.BLL;
@using web_app.Models;

@{
    string _action = ViewContext.RouteData.Values["action"].ToString();
    string _controller = ViewContext.RouteData.Values["controller"].ToString();
    List<Menus> menus = AdminCore.get_userwebsubmenus(User.Identity.Name, _controller);
}

<div class="vernav2 iconmenu">
    <ul>
        @{
            foreach (Menus menu in menus)
            {
                if (@menu.menu_action == null)
                {
                    <li>@menu.menu_name</li>
                }
                else
                {
                    <li class="@((@_action == @menu.menu_action) ? "current" : "")"><i style="padding: 4px 12px;" class="fa @menu.menu_icon"></i><a href="@Url.Action(@menu.menu_action, @menu.menu_controller)">@menu.menu_name</a></li>
                }
            }
        }
    </ul>
    <a class="togglemenu"></a>
    <br />
    <br />
</div>




<div class="vernav2 iconmenu">
    <ul>
        @{
            string page = ViewData["_current"].ToString();
            string css = "current";
            string css_non = "current_off";
            <li class="@((page == "Index") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-dashboard"></i><a href="@Url.Action("Index","Reports")" class="calendar">Dashboard</a></li>
            <li>Recent Reports</li>
            <li class="@((page == "RecentReports") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-table"></i><a href="@Url.Action("RecentReports", "Reports")" class="calendar">Recent Reports List</a></li>
            <li class="@((page == "ManageRecent") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-tasks"></i><a href="@Url.Action("ManageRecent", "Reports")" class="calendar">Manage Recent List</a></li>
            <li class="@((page == "RecentSettings") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("RecentSettings", "Reports")" class="calendar">Recent Settings</a></li>
            <li>Archived Reports</li>
            <li class="@((page == "ArchivedReports") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-table"></i><a href="@Url.Action("ArchivedReports", "Reports")" class="calendar">Archived Reports</a></li>
            <li class="@((page == "ManageArchives") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-tasks"></i><a href="@Url.Action("ManageArchives", "Reports")" class="calendar">Manage Archived List</a></li>
            <li class="@((page == "ArchiveSettings") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("ArchiveSettings", "Reports")" class="calendar">Archive Settings</a></li>
            <li>Report Scheduler</li>
            <li class="@((page == "ScheduleReport") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-table"></i><a href="@Url.Action("ScheduleReport", "Reports")" class="calendar">Schedule Report</a></li>
            <li class="@((page == "ManageSchedule") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-tasks"></i><a href="@Url.Action("ManageSchedule", "Reports")" class="calendar">Manage Schedule</a></li>
            <li class="@((page == "ScheduleHistory") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-list"></i><a href="@Url.Action("ScheduleHistory", "Reports")" class="calendar">Schedule History</a></li>
            <li>Reports Access</li>
            <li class="@((page == "ManageReports") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-list"></i><a href="@Url.Action("ManageReports", "Reports")" class="calendar">Manage Reports</a></li>
        }
    </ul>
    <a class="togglemenu"></a>
    <br />
    <br />
</div>

