﻿

<div class="vernav2 iconmenu">
    <ul>
        @{
            string page = ViewData["_current"].ToString();
            string css = "current";
            string css_non = "current_off";
            <li class="@((page == "Home") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-home"></i> <a href="@Url.Action("Index", "Home")" class="calendar">Dashboard</a></li>
            <li class="@((page == "Calendar") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-calendar"></i> <a href="@Url.Action("Calendar", "Home")" class="calendar">Calendar</a></li>
            <li class="@((page == "Queue") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i> <a href="@Url.Action("Queue", "Home")">Work Queue</a></li>
            @*<li class="@((page == "Tempo") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-users"></i> <a href="@Url.Action("Tempo", "Home")" class="calendar">Staff Tempo</a></li>
            <li class="@((page == "Stats") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-car"></i> <a href="@Url.Action("Stats", "Home")" class="calendar">Stats</a></li>*@
        }
    </ul>
    <a class="togglemenu"></a>
    <br />
    <br />
</div>
