﻿
<div class="vernav2 iconmenu">
    <ul>
        @{
            string page = ViewData["_current"].ToString();
            string css = "current";
            string css_non = "current_off";
            <li class="@((page == "MyProfile") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-user"></i><a href="@Url.Action("MyProfile","Profile")" class="calendar">My Profile</a></li>
            <li class="@((page == "MyCalendar") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-calendar"></i><a href="@Url.Action("MyCalendar","Profile")" class="calendar">My Calendar</a></li>
        }
    </ul>
    <a class="togglemenu"></a>
    <br />
    <br />
</div>


