﻿

<div class="vernav2 iconmenu">
    <ul>
            <li ><a href="@Url.Action("LogOut", "Account")" class="typo">Log Out</a></li>
    </ul>
    <a class="togglemenu"></a>
    <br />
    <br />
</div>


