﻿
@using web_app.BLL;
@using web_app.Models;

@{
    string _action = ViewContext.RouteData.Values["action"].ToString();
    string _controller = ViewContext.RouteData.Values["controller"].ToString();
    List<Menus> menus = AdminCore.get_userwebsubmenus(User.Identity.Name, _controller);
}

<div class="vernav2 iconmenu">
    <ul>
        @{
            foreach (Menus menu in menus)
            {
                if (@menu.menu_action == null)
                {
                    <li>@menu.menu_name</li>
                }
                else
                {
                    <li class="@((@_action == @menu.menu_action) ? "current" : "")"><i style="padding: 4px 12px;" class="fa @menu.menu_icon"></i><a href="@Url.Action(@menu.menu_action, @menu.menu_controller)">@menu.menu_name</a></li>
                }
            }
            @*<li class="@((page == "Index") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("Index","Schedule")" class="elements">Dashboard</a></li>
            <li>Schedule Results</li>
            <li class="@((page == "Schedule") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("Schedule","Schedule")" class="elements">Staff Schedule</a></li>
            <li class="@((page == "TimeSheet") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("TimeSheet","Schedule")" class="calendar">Time Sheet</a></li>
            <li class="@((page == "StaffHours") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("StaffHours", "Schedule")" class="calendar">Staff Hours</a></li>
            <li>Graphical Charts</li>
            <li class="@((page == "Burndown") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("Burndown","Schedule")" class="calendar">Burn Down</a></li>
            <li class="@((page == "Attendance") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("Attendance", "Schedule")" class="calendar">Attendance</a></li>*@
            @*<li>Settings</li>
                <li class="@((page == "Distribution") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("Distribution", "Schedule")" class="calendar">Distribution</a></li>
                <li class="@((page == "Automation") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("Automation", "Schedule")" class="calendar">Automation</a></li>*@
        }
    </ul>
    <a class="togglemenu"></a>
    <br />
    <br />
</div>
