﻿
@using web_app.BLL;
@using web_app.Models;

@{
    string _action = ViewContext.RouteData.Values["action"].ToString();
    string _controller = ViewContext.RouteData.Values["controller"].ToString();
    List<Menus> menus = AdminCore.get_userwebsubmenus(User.Identity.Name, _controller);
}

<div class="vernav2 iconmenu">
    <ul>
        @{
            foreach (Menus menu in menus)
            {
                if (@menu.menu_action == null)
                {
                    <li>@menu.menu_name</li>
                }
                else
                {
                <li class="@((@_action == @menu.menu_action) ? "current" : "")"><i style="padding: 4px 12px;" class="fa @menu.menu_icon"></i><a href="@Url.Action(@menu.menu_action, @menu.menu_controller)">@menu.menu_name</a></li>
                }
            }
            @*  <li class="@((page == "Index") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-home"></i><a href="@Url.Action("Index","Scheduler")">Dashboard</a>
                  </li><li>Staff Scheduler</li>
                  <li class="@((page == "ManageShifts") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("ManageShifts","Scheduler")">Shift Scheduler </a></li>
                  <li class="@((page == "StaffScheduler") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("StaffScheduler","Scheduler")">Staff Scheduler</a></li>
                  <li>Staff Grouping</li>
                  <li class="@((page == "StaffGrouping") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("StaffGrouping", "Scheduler")">Staff Grouping</a></li>
                <li class="@((page == "AutoScheduler") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("AutoScheduler","Scheduler")">Auto Scheduler</a></li>*@
        }
    </ul>
    <a class="togglemenu"></a>
    <br />
    <br />
</div>

