﻿
@using web_app.BLL;
@using web_app.Models;

@{
    string _action = ViewContext.RouteData.Values["action"].ToString();
    string _controller = ViewContext.RouteData.Values["controller"].ToString();
    List<Menus> menus = AdminCore.get_userwebsubmenus(User.Identity.Name, _controller);
}

<div class="vernav2 iconmenu">
    <ul>
        @{
            foreach (Menus menu in menus)
            {
                if (@menu.menu_action == null)
                {
                    <li>@menu.menu_name</li>
                }
                else
                {
                    <li class="@((@_action == @menu.menu_action) ? "current" : "")"><i style="padding: 4px 12px;" class="fa @menu.menu_icon"></i><a href="@Url.Action(@menu.menu_action, @menu.menu_controller)">@menu.menu_name</a></li>
                }
            }
            @*<li class="@((page == "Dashboard") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("Index","Organisation")" class="calendar">Dashboard</a></li>
            <li>Structure</li>
            <li class="@((page == "Structure") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("Structure", "Organisation")" class="calendar">Organisation Structure</a></li>
            <li class="@((page == "StaffStructure") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("StaffStructure", "Organisation")" class="calendar">Staff Structure</a></li>
            <li>Staff</li>
            <li class="@((page == "StaffHours") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("StaffHours", "Organisation")" class="calendar">Staff Hours</a></li>
            <li class="@((page == "OrganisationStaff") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("OrganisationStaff", "Organisation")" class="calendar">Organisation Staff</a></li>
            <li>Details</li>
            <li class="@((page == "Organisation") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("Organisation","Organisation")" class="calendar">Organisation Details</a></li>
            <li class="@((page == "DisplayFormats") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("DisplayFormats", "Organisation")" class="calendar">Display Formats</a></li>
            <li>Settings</li>
            <li class="@((page == "Settings") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("Settings", "Organisation")" class="calendar">Organisation Settings</a></li>
            <li class="@((page == "StaffSettings") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("StaffSettings", "Organisation")" class="calendar">Staff Settings</a></li>
            <li class="@((page == "ShiftSettings") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("ShiftSettings", "Organisation")" class="calendar">Shift Settings</a></li>
            <li>Documents</li>
            <li class="@((page == "UploadDocument") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("UploadDocument", "Organisation")" class="calendar">Upload Document</a></li>
            <li class="@((page == "SettingDocument") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("SettingDocument", "Organisation")" class="calendar">Document Settings</a></li>*@
        }
    </ul>
    <a class="togglemenu"></a>
    <br />
    <br />
</div>


