﻿


<div class="vernav2 iconmenu">
    <ul>
        @{
            string page = ViewData["_current"].ToString();
            string css = "current";
            string css_non = "current_off";
            <li class="@((page == "Index") ? @css : @css_non)"><i style="padding: 4px 12px;" class="fa fa-cog"></i><a href="@Url.Action("Index","Help")" class="calendar">Help Documentation</a></li>
        }
    </ul>
    <a class="togglemenu"></a>
    <br />
    <br />
</div>

