﻿@using web_app.BLL;
@using web_app.Models;

@{
    string _controller = ViewContext.RouteData.Values["controller"].ToString();
    List<Menus> menus = AdminCore.get_userwebmenus(User.Identity.Name);
}
<ul class="headermenu" id="headermenu">
    @{
        foreach (Menus menu in menus)
        {
            <li class="@((_controller == @menu.menu_controller) ? "current" : "")"><a href="@Url.Action("Index",@menu.menu_controller)"><span class="icon @menu.menu_icon"></span>@menu.menu_name</a></li>
        }
    }
  @*  <li style="display:@((menus.Any(x => x == "Dashboard") ? "block" : "none"))" class="@((_controller == "Home") ? "current" : "")"><a href="@Url.Action("Index","Home")"><span class="icon icon-dashboard"></span>Dashboard</a></li>
     <li style="display:@((menus.Any(x => x == "Schedule") ? "block" : "none"))" class="@((_controller == "Schedule") ? "current" : "")"><a href="@Url.Action("Index","Schedule")"><span class="icon icon-timesheet"></span>Schedule</a></li>
     <li style="display:@((menus.Any(x => x == "Clocking") ? "block" : "none"))" class="@((_controller == "Clocking") ? "current" : "")"><a href="@Url.Action("Index","Clocking")"><span class="icon icon-clock"></span>Clock Time</a></li>
     <li style="display:@((menus.Any(x => x == "Organisation") ? "block" : "none"))" class="@((_controller == "Organisation") ? "current" : "")"><a href="@Url.Action("Index","Organisation")"><span class="icon icon-home"></span>Organisation</a></li>
     <li style="display:@((menus.Any(x => x == "Scheduler") ? "block" : "none"))" class="@((_controller == "Scheduler") ? "current" : "")"><a href="@Url.Action("Index","Scheduler")"><span class="icon icon-scheduler"></span>Scheduler</a></li>
     <li style="display:@((menus.Any(x => x == "HR") ? "block" : "none"))" class="@((_controller == "HR") ? "current" : "")"><a href="@Url.Action("Index","HR")"><span class="icon icon-hr"></span>Human Resources</a></li>
     <li style="display:@((menus.Any(x => x == "Reports") ? "block" : "none"))" class="@((_controller == "Reports") ? "current" : "")"><a href="@Url.Action("Index","Reports")"><span class="icon icon-chart"></span>Reports</a></li>
     <li style="display:@((menus.Any(x => x == "Admin") ? "block" : "none"))" class="@((_controller == "Admin") ? "current" : "")"><a href="@Url.Action("Index","Admin")"><span class="icon icon-admin"></span>Admin</a></li>
    <li style="display:@((menus.Any(x => x == "Settings") ? "block" : "none"))" class="@((_controller == "Settings") ? "current" : "")"><a href="@Url.Action("Index","Settings")"><span class="icon icon-flatscreen"></span>Settings</a></li>
    <li style="display:@((menus.Any(x => x == "Help") ? "block" : "none"))" class="@((_controller == "Help") ? "current" : "")"><a href="@Url.Action("Index","Help")"><span class="icon icon-help"></span>Help</a></li>*@
</ul>

