﻿<tr>
    <td>Start Date</td>
    <td></td>
    <td id="tdDatefrom"> <input type="text" name="from" id="datefrom" /></td>
</tr>
<tr>
    <td>End Date</td>
    <td></td>
    <td id="tdDateto"> <input type="text" name="to" id="dateto" /></td>
</tr>
<script type="text/javascript">
    function getReport() {
        var datefrom = jQuery('#datefrom').val();
        var dateto = jQuery('#dateto').val();
        var parameters = '&datefrom=' + datefrom + '&datato=' + datato;
        debugger
        openReport(parameters);
    }
</script>