﻿@model IEnumerable<lid_web.Models.ArchiveDTO>
@{
    ViewBag.Title = "ArchivedReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("..//partial//_side_menu_reports", null, new ViewDataDictionary { { "_current", "ArchivedReports" } })


<div class="centercontent">

    <div class="pageheader">
        <h1 class="pagetitle">Archived Reports</h1>
        <span class="pagedesc">View Reports Achived </span>
    </div>

    <div id="contentwrapper" class="contentwrapper nopadding">
        <div class="filemgr_content" style="margin-right: 20px !important;">

            <small>
                <strong>
                    <em>Tips: Hold Control key to select multiple items. To view file, select one item and click View File button.</em>
                </strong>
            </small>

            <br /><br />

            <div class="contenttitle3">
                <h3>&nbsp;Archive Report Files</h3>
            </div>
            <br /><br />
            <ul class="listfile">
                @foreach (lid_web.Models.ArchiveDTO archive in Model)
                {
                    <li class="col-md-2">
                        <a class="image text-center" download="" href="~/Files/ReportsArchivers/@archive.filename" style="min-height:220px">
                            <span class="img"><img style="width:95% !important" src="~/Assets/images/icon_right.png" alt="" /></span>
                            <h4 class="filename">@archive.description</h4>
                            <label>Create: @archive.arch_date At @archive.arch_time</label>
                        </a>
                    </li>
                }
            </ul>
            <br /><br />
            <br clear="all" />

        </div>



    </div>

</div>




