﻿@model IEnumerable<lid_web.Models.rptDeptWithStaff>
@{
    ViewBag.Title = "DepartmentStaff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("..//partial//_side_menu_reports", null, new ViewDataDictionary { { "_current", "DepartmentStaff" } })

<script type="text/javascript" src="/Assets/js/plugins/jquery.flot.min.js"></script>
<script type="text/javascript" src="/Assets/js/plugins/jquery.flot.pie.js"></script>
<script type="text/javascript">

    function init_chart(dept) {
        /**PIE CHART IN MAIN PAGE WHERE LABELS ARE INSIDE THE PIE CHART**/

        var dataRow = {
            'dept_id': dept
        }
        jQuery.ajax({
            url: '/Reports/rptDepartmentStaff',
            dataType: "json",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify(dataRow),
            async: false,
            processData: true,
            cache: true,
            success: function (data) {
                jQuery.plot(jQuery("#pie" + dept), JSON.parse(data), {
                    series: {
                        pie: { show: true }
                    },
                    legend: { show: false }
                });
            },
            error: function (xhr, thrownError, thrownError) {
                var msg = "Chart fail to load data";
                jQuery.growl.warning({ title: "Failed", message: msg });
            }
        });
    }
</script>
<div class="centercontent" style="padding:5px 0px">

    <div class="pageheader">
        <h1 class="pagetitle">Department Staff</h1>
        <span class="pagedesc">View department staff counts </span>

    </div>

    <div id="charts" class="subcontent">
        @foreach (lid_web.Models.rptDeptWithStaff _dept in Model)
        {
            <div class="one_half last">
                <div class="contenttitle2">
                    <h3>Department: @_dept.dept_name</h3>
                </div>
                <br />
                <div id="pie@_dept.dept_id" style="height: 300px;" ></div>
            </div>
            <script type="text/javascript">
                init_chart(@_dept.dept_id);
            </script>
            <br clear="all" />
        }
    </div>
</div>



