﻿@model lid_web.Models.ShiftManage
@{
    ViewBag.Title = "GetReportPDF";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="centercontent0" style="padding:5px 15px">

    <div class="contenttitle2">
        <h3>Monthly Staff Shifts</h3>
    </div>
    <div>
        <div class="filemgr">
            <div class="filemgr_left">

                <div id="tabswrapper" class="tabswrapper">
                    <div class="filemgr_content0">
                        <div id="viewall" class="subcontent">
                            <h4 style="padding:4px 10px" class="linkcolor">Report Date From <b> @Model.Week_days[0].day_name</b> to <b>@Model.Week_days[Model.Week_days.Count - 1].day_name</b></h4>
                            <table class="stdtable table table-bordered" id="tblManageShifts0">
                                <colgroup>
                                    <col class="con0" style="width:200px" />
                                    <col class="con1" />
                                    <col class="con0" />
                                    <col class="con1" />
                                    <col class="con0" />
                                    <col class="con1" />
                                    <col class="con0" />
                                    <col class="con1" />
                                </colgroup>
                                <thead>

                                    <tr>
                                        <th class="head0"></th>
                                        @foreach (lid_web.Models.WeekDays _days in Model.Week_days)
                                        {
                                            <th class="head1 nosort ">
                                                <strong>@_days.day_code</strong>
                                            </th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


