﻿@model lid_web.Models.ReportsDTO
@using lid_web.BLL;
@using lid_web.Models;

@{
    ViewBag.Title = "Index";
}

@Html.Partial("..//partial//_side_menu_reports", null, new ViewDataDictionary { { "_current", "Index" } })


<div class="centercontent">

    <div class="pageheader">
        <h1 class="pagetitle">Reports Dashboard</h1>
        <span class="pagedesc">View and Print Organisation Reports</span>
    </div>
    <div id="contentwrapper" class="contentwrapper nopadding">
        <div class="filemgr">
            <div class="filemgr_left">
                <div class="filemgr_head">
                    <ul class="filemgr_menu">
                        @*<li><a class="prev prev_disabled"></a></li>
                        <li><a class="next"></a></li>*@
                        <li class="marginleft20"><a class="selectall">Select All</a></li>
                        <li class="marginleft5 viewfilebtn"><a class="preview preview_disabled">View File</a></li>
                        @*<li class="marginleft20 newfoldbtn"><a class="newfolder" title="Add New Foldr"></a></li>
                        <li class="marginleft5 trashbtn"><a class="trash trash_disabled" title="Trash"></a></li>*@
                        <li class="marginleft20 filesearch">
                            <form>
                                <input type="text" id="filekeyword" class="filekeyword" value="Search report here" />
                            </form>
                        </li>
                        @*<li class="right newfilebtn"><a href="" class="newfilebutton radius2">Add New Report</a></li>*@
                    </ul>
                    <span class="clearall"></span>
                </div><!--filemgr_head-->

                <div class="filemgr_category">
                    <ul>
                        @{
                            int tot = 0;
                            foreach (lid_web.Models.ReportCategory cat in Model.cat_list)
                            {
                                if (cat.reports_list.Count > 0)
                                {
                                    tot = tot + cat.reports_list.Count;
                                    <li><a href="#@cat.reportcat_id">@cat.report_cat (@cat.reports_list.Count)</a></li>
                                }
                            }
                            <li class="right"><span class="pagenuminfo"><strong>You have @tot Reports</strong> </span></li>
                        }
                    </ul>
                </div><!--filemgr_category-->

                <div class="filemgr_content">

                    <small>
                        <strong>
                            <em>Tips: Hold Control key to select multiple items. To view file, select one item and click View File button.</em>
                        </strong>
                    </small>

                    <br /><br />

                    @foreach (lid_web.Models.ReportCategory cat in Model.cat_list)
                    {
                        if (cat.reports_list.Count > 0)
                        {
                            <div class="contenttitle3" id="@cat.reportcat_id">
                                <h3>&nbsp;@cat.report_cat</h3>
                            </div>
                            <br /><br />
                            <ul class="listfile">
                                @foreach (lid_web.Models.Reports report in cat.reports_list)
                                {
                                    <li class="col-md-3">
                                        <a class="image text-center fancybox" href="@Url.Action("ReportParameters", "Reports", new { report_id = report.report_id })" style="min-height:220px">
                                            <span class="img"><img style="width:95% !important" src="~/Assets/images/reports/@report.report_image" alt="" /></span>
                                            <h4 class="filename">@report.report_name</h4>
                                            <label>@report.report_desc</label>
                                        </a>
                                    </li>
                                }
                            </ul>
                            <br /><br />
                        }
                    }
                    <br clear="all" />

                </div><!--filemgr_content-->

            </div><!--filemgr_left -->

            <div class="filemgr_right">
                <div class="filemgr_rightinner">
                    <div class="contenttitle2" style="margin-top: 0">
                        <h3>Recent Report</h3>
                    </div><!--contenttitle-->
                    <ul class="menuright">
                        @{
                            List<RptRecentDTO> recents = ReportCore.rpt_gettenresentreports(@User.Identity.Name);
                            foreach (RptRecentDTO recent in recents)
                            {
                                <li style="border-bottom:1px dashed gray"><a href="@recent.report_url">@recent.report_name <br /><i class="linkcolor small">@recent.report_date </i></a></li>
                            }
                        }
                    </ul>
                </div><!-- filemgr_rightinner -->
            </div><!-- filemgr_right -->
            <br clear="all" />
        </div><!--filemgr-->

    </div><!--contentwrapper-->
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {

        jQuery('a.fancybox').click(function () {
            // debugger;
            jQuery.fancybox.open({
                'content': jQuery('<div>').load(jQuery(this).attr('href')),
                'autoScale': false,
                'autoDimensions': true,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'hideOnOverlayClick': false,
                'hideOnContentClick': false,
                'showCloseButton': true,
                'type': 'iframe',
                'autoSize': false,
                'width': 850,
                'height': 450,
                helpers: {
                    overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
                },
                'afterClose': function () {
                    window.location.reload();
                }
            });
            return false;
        });
    });
</script>