﻿@model lid_web.Models.ReportsDTO
@using lid_web.BLL;
@using lid_web.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("..//partial//_side_menu_reports", null, new ViewDataDictionary { { "_current", "ManageReports" } })


<div class="centercontent">

    <div class="pageheader">
        <h1 class="pagetitle">Manage Reports</h1>
        <span class="pagedesc">Remove and/or Add Reports From Dashboard Reports List </span>
    </div>

    <div id="contentwrapper" class="contentwrapper nopadding">
        <div class="filemgr">
            <div class="filemgr_left">
                <div class="filemgr_category">
                    <ul>
                        @{
                            int tot = 0;
                            foreach (lid_web.Models.ReportCategory cat in Model.cat_list)
                            {
                                tot = tot + cat.reports_list.Count;
                                <li><a href="#@cat.reportcat_id">@cat.report_cat (@cat.reports_list.Count)</a></li>
                            }
                            <li class="right"><span class="pagenuminfo"><strong>You have @tot Reports</strong> </span></li>
                        }
                    </ul>
                </div><!--filemgr_category-->

                <div class="filemgr_content" style="margin-right: 20px !important;">

                    <small>
                        <strong>
                            <em>&nbsp;Tips: Click on report item to toggle between Add and Remove, light green indicate active/showing and light red indicate inactive/hidden.</em>
                        </strong>
                    </small>

                    <br /><br />

                    @foreach (lid_web.Models.ReportCategory cat in Model.cat_list)
                    {

                        <div class="contenttitle3" id="@cat.reportcat_id">
                            <h3>&nbsp;@cat.report_cat</h3>
                        </div>
                        <br /><br />
                        <ul class="listfile">
                            @foreach (lid_web.Models.Reports report in cat.reports_list)
                            {
                                string css = (report.report_toggled) ? "bg-warning" : "bg-success";
                                <li class="col-md-2 @css">
                                    <a class="image text-center" onclick="toggleReport(this,'@report.report_id','@report.report_name')" style="min-height:220px">
                                        <span class="img"><img style="width:95% !important" src="~/Assets/images/reports/@report.report_image" alt="" /></span>
                                        <h4 class="filename">@report.report_name</h4>
                                        <label>@report.report_desc</label>
                                    </a>
                                </li>
                            }
                        </ul>
                        <br /><br />

                    }
                    <br clear="all" />

                </div>

            </div>
        </div>

    </div>
</div>



<script type="text/javascript">
    jQuery(document).ready(function () {
    });

    function toggleReport(tag,id,name)
    {
        jQuery.ajax({
            url: '/Reports/ToggleReport',
            dataType: "json",
            type: "POST",
            data: JSON.stringify({id: id}),
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (response, newValue) {
                var data = JSON.parse(response);
                if (data.code == 1) {
                    var msg = data.message;
                    jQuery.growl.notice({ title: name, message: msg });
                }
                else {
                    var msg = data.message;
                    jQuery.growl.warning({ title: name, message: msg });
                }
                var li = jQuery(tag.parentElement);

                if (jQuery(li).hasClass('bg-success')) {
                    jQuery(li).removeClass('bg-success');
                    jQuery(li).addClass('bg-warning');
                }
                else {
                    jQuery(li).removeClass('bg-warning');
                    jQuery(li).addClass('bg-success');
                }
            },
            error: function (xhr, thrownError, thrownError) {
                var msg = "Message: " + thrownError;
                jQuery.growl.error({ title: "Exception", message: msg });
            }
        });
    }
</script>