﻿
@{
    ViewBag.Title = "ManageArchives";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("..//partial//_side_menu_reports", null, new ViewDataDictionary { { "_current", "ManageArchives" } })

<div class="centercontent">

    <div class="pageheader">
        <h1 class="pagetitle">Manage Archives Files</h1>
        <span class="pagedesc">Delete unwanted recent reports </span>
    </div>

    <div id="contentwrapper" class="contentwrapper nopadding">


        <div id="grid" class="stdtable table"></div>
        <a id="link_pdf"></a>
    </div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#grid').kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: {
                        url: '/Reports/GetManageArchives',
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: 'id',
                        fields: {
                            id: {
                                editable: false,
                                nullable: true
                            }
                        }
                    },
                    data: function (data) {
                        return JSON.parse(data);
                    },
                    total: function (data) {
                        return (jQuery(JSON.parse(data))).length;
                    },
                },
                batch: false,
                pageSize: 10,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            toolbar: [
            {
                name: "Advanced",
                template:

                '<div class="k-button" onclick="exporttoexcel();">' +
                    '<span class="k-icon fa-file-excel-o"></span>' +
                        'Export to Excel' +
                '</div>' +
                '<div class="k-button" onclick="view_structure();">' +
                    '<span class="k-icon fa-file-excel-o"></span>' +
                        'Export to PDF' +
                '</div>'
            }],
            columns: [
                 {
                     width: 70,
                     command: [
                         {
                             name: "View",
                             template: '<div class="fa fa-info-circle custom_command_view" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="view(this);"></div>'
                         },
                         {
                             name: "Remove",
                             template: '<div class="fa fa-trash-o custom_command_remove" data-text="Remove Record" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="remove(this);"></div>'
                         }
                     ],
                     title: '&nbsp;'
                 },
                {
                    field: 'id',
                    title: 'id',
                    hidden: true,
                },
                {
                    field: 'filename',
                    title: 'filename',
                    hidden: true,
                },
                {
                    field: "username",
                    title: "Username",
                    width: 150,
                },
                {
                    field: "description",
                    title: "Report Name",
                    width: 250,
                },
                {
                    field: "arch_date",
                    title: "Archive Date",
                    width: 250,
                },
                {
                    field: "arch_time",
                    title: "Archive Time",
                    width: 150,
                }
            ],
            pageable: true,
        });
    });


    function view(e) {
        var filename = get_url(e);
        debugger
        if (filename) {
            var link = jQuery('#link_pdf')[0];
            jQuery(link).attr('href', '/Files/ReportsArchivers/' + filename);//?report_id=' + report_id + '&datefrom=' + datefrom + '&dateto=' + dateto);
            jQuery(link).attr('download', '');
            link.click();
        }
    }
    function remove(e) {
        jConfirm('Are you sure you want to delete selected shift?', 'Confirm Delete', function (r) {
            if (r == true) {
                var id = get_id(e);
                var url = "/Reports/DelArchivesFiles?id=" + id;
                delete_record(id, url);
            }
        });

    }

    function delete_record(id, url) {
        debugger
        jQuery.ajax({
            url: url,
            dataType: "json",
            type: "GET",
            //data: JSON.stringify({id: id}),
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (response, newValue) {
                var data = JSON.parse(response);
                if (data.code == 1) {
                    var msg = data.message;
                    jQuery.growl.notice({ title: "Saved", message: msg });
                }
                else {
                    var msg = data.message;
                    jQuery.growl.warning({ title: "Failed", message: msg });
                }
            },
            error: function (xhr, thrownError, thrownError) {
                var msg = "Message: " + thrownError;
                jQuery.growl.error({ title: "Exception", message: msg });
            }
        });
    }
    function get_id(e) {
        var id = jQuery(e.parentElement.parentElement).find('td')[1].innerText;
        if (!id) {
            var msg = "Please select record before you proceed.";
            jQuery.growl.warning({ title: "Oops", message: msg });
            return false;
        }
        return id;
    }

    function get_url(e) {
        debugger
        var id = jQuery(e.parentElement.parentElement).find('td')[2].innerText;
        if (!id) {
            var msg = "Please select record before you proceed.";
            jQuery.growl.warning({ title: "Oops", message: msg });
            return false;
        }
        return id;
    }
</script>
