﻿@model lid_web.Models.ShiftManage
@{
    ViewBag.Title = "MonthlySchedule";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="centercontent0" style="padding:5px 15px">

    <div class="contenttitle2">
        <h3>Monthly Staff Shifts</h3>
    </div>
    <div>
        <div class="filemgr">
            <div class="filemgr_left">
             
                <div id="tabswrapper" class="tabswrapper">
                    <div class="filemgr_content0">
                        <div id="viewall" class="subcontent">
                            <h4 style="padding:4px 10px" class="linkcolor">Report Date From <b> @Model.Week_days[0].day_name</b> to <b>@Model.Week_days[Model.Week_days.Count - 1].day_name</b></h4>
                            <table class="stdtable table table-bordered"  id="tblManageShifts0">
                                <colgroup>
                                    <col class="con0" style="width:200px" />
                                    <col class="con1" />
                                    <col class="con0" />
                                    <col class="con1" />
                                    <col class="con0" />
                                    <col class="con1" />
                                    <col class="con0" />
                                    <col class="con1" />
                                </colgroup>
                                <thead>

                                    <tr>
                                        <th class="head0"></th>
                                        @foreach (lid_web.Models.WeekDays _days in Model.Week_days)
                                        {
                                            <th class="head1 nosort ">
                                                <strong>@_days.day_code</strong>
                                            </th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (lid_web.Models.Staff _staff in Model.Staff_list)
                                    {
                                        <tr class="line_items">
                                            <td style="line-height: 9px !important; padding: 8px 10px">
                                                <div class="info0">
                                                   <strong>@_staff.title @_staff.staff_name.Substring(0, 1).ToUpper() @_staff.staff_surname</strong> <br />
                                                    <small> @_staff.department :: <strong>@_staff.position</strong> </small>
                                                </div>
                                            </td>
                                            @foreach (lid_web.Models.WeekDays _days in Model.Week_days)
                                            {
                                                string staff_id = _staff.staff_id.ToString();
                                                string dayname = _days.day_name.ToString();
                                                lid_web.Models.Shift _shift = lid_web.BLL.AdminCore.get_staffshiftbyday_appr(staff_id, dayname);
                                                if (_shift.shift_id != null)
                                                {
                                                    <td class="bg-success0 text-center" style="vertical-align: middle; line-height: 9px !important; padding: 8px 10px">
                                                        <div class="link">
                                                            <strong>@Html.Raw(_shift.shift_code)</strong>

                                                        </div>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td style="line-height: 9px !important; padding: 8px 10px">
                                                        <div class="linkcolor" style="background-color: #ffffcc; text-transform: uppercase">
                                                            <strong>&nbsp;&nbsp;&nbsp;</strong>
                                                        </div>
                                                    </td>
                                                }
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


