﻿@model lid_web.Models.ShiftManage
@{
    ViewBag.Title = "MonthlySchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("..//partial//_side_menu_reports", null, new ViewDataDictionary { { "_current", "Monthly" } })

<div class="centercontent" style="padding:5px 0px">


    <div class="pageheader">
        <h1 class="pagetitle">Monthly Schedule</h1>
        <span class="pagedesc">Print staff monthly schedule</span>

    </div>
    <div>
        <div class="filemgr">
            <div class="filemgr_left">
                <div class="filemgr_head">
                    @using (Html.BeginForm("MonthlySchedule", "Reports", new { _weekinx = Model.weekday, _dept_id = Model.dept_id, _post_id = Model.pos_id }, FormMethod.Post, null))
                    {
                        <ul class="filemgr_menu">

                            <li class="marginleft5 viewfilebtn">
                                <input id="monthpicker" style="width: 100%" class="form-control" value="@ViewBag.monthdate" />
                            </li>
                            <li class="marginleft20 filesearch">
                                <span class="field">
                                    <div name="structure_level" id="structure_level"></div>
                                </span>
                            </li>
                            <li class="marginleft20 filesearch"></li>
                            <li class="marginleft20 viewfilebtn"><a class="preview" href="@Url.Action("MonthlySchedulePDF", "Reports", new { month = Model.weekday, _dept_id = Model.dept_id, _pos_id = Model.pos_id })">Print Schedule</a></li>

                            @*
                                <li class="filesearch marginleft5">
                                    <span class="field">

                                        @Html.DropDownList("ddlDept", ViewBag.list_dept as SelectList, "Select Department...", new { @class = "form-control", style = " height:32px;width:190px" })
                                    </span>
                                </li>
                                <li class="marginleft5 filesearch">
                                    <span class="field">
                                        @Html.DropDownList("ddlPosition", ViewBag.list_position as SelectList, "Select Position...", new { @class = "form-control", style = " height:32px;width:190px" })
                                    </span>
                                </li>
                                <li class="marginleft5 viewfilebtn">
                                    <input type="submit" class="submit radius2" value="Filter" id="btnweek" name="btnweek" style="padding:4px 10px !important" />
                                </li>*@
                        </ul>
                    }
                    <span class="clearall"></span>
                </div>


                <div id="tabswrapper" class="tabswrapper">
                    <div class="filemgr_content0">
                        <div id="viewall" class="subcontent">
                            <h4 style="padding:4px 10px" class="linkcolor">Report Date From <b> @Model.Week_days[0].day_name</b> to <b>@Model.Week_days[Model.Week_days.Count - 1].day_name</b></h4>
                            <table class="stdtable" id="tblManageShifts0">
                                <colgroup>
                                    <col class="con0" style="width:200px" />
                                    @foreach (lid_web.Models.WeekDays _days in Model.Week_days)
                                    {
                                        string _css_con = (_days.day_name.Contains("Sun") || _days.day_name.Contains("Sat")) ? "con1" : "con0";
                                        <col class="@_css_con" />
                                    }
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="head0"></th>
                                        @foreach (lid_web.Models.WeekDays _days in Model.Week_days)
                                        {
                                            <th class="head1 nosort ">
                                                <strong>@_days.day_code</strong>
                                            </th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (lid_web.Models.Staff _staff in Model.Staff_list)
                                    {
                                        <tr class="line_items">
                                            <td style="line-height: 9px !important; padding: 8px 10px" >
                                                <div class="info0">
                                                    <a class="fancybox" href="@Url.Action("StaffView_win", "Admin", new { staff_id = @_staff.staff_id.ToString() })"><strong>@_staff.title @_staff.staff_name.Substring(0, 1).ToUpper() @_staff.staff_surname</strong></a> <br />
                                                    <small> @_staff.department :: <strong>@_staff.position</strong> </small>
                                                </div>
                                            </td>
                                            @foreach (lid_web.Models.WeekDays _days in Model.Week_days)
                                            {
                                                string staff_id = _staff.staff_id.ToString();
                                                string dayname = _days.day_name.ToString();
                                                lid_web.Models.Shift _shift = lid_web.BLL.AdminCore.get_staffshiftbyday_appr(staff_id, dayname);
                                                if (_shift.shift_id != null)
                                                {
                                                    <td class="bg-success0 text-center" style="vertical-align: middle; line-height: 9px !important; padding: 8px 10px">
                                                        <div class="link">
                                                            <strong>@Html.Raw(_shift.shift_code)</strong>

                                                        </div>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td style="line-height: 9px !important; padding: 2px 2px">
                                                        <div class="linkcolor" >
                                                            <strong>&nbsp;</strong>
                                                        </div>
                                                    </td>
                                                }
                                            }

                                        </tr>
                                        @* <tr class="line_items">
                                                 @foreach (lid_web.Models.WeekDays _days in Model.Week_days)
                                                 {
                                                     string staff_id = _staff.staff_id.ToString();
                                                     string dayname = _days.day_name.ToString();
                                                     lid_web.Models.Shift _shift = lid_web.BLL.AdminCore.get_staffshiftbyday_appr(staff_id, dayname);
                                                     if (_shift.shift_id != null)
                                                     {
                                                         <td class="bg-success0 text-center" style="vertical-align: middle; line-height: 9px !important; padding: 8px 10px; background-color:#808080">
                                                             <div class="link">
                                                                 <strong>0 hrs</strong>

                                                             </div>
                                                         </td>
                                                     }
                                                 }
                                             </tr>
                                            <tr class="rlvI" style="background-color: #EFFEB9; border-bottom: 2px solid skyblue;">
                                                     <td style="vertical-align: top; line-height: 9px !important; padding: 8px 10px">
                                                         <div class="info0">
                                                             <small>Total :: <strong>11:00 Hrs</strong> </small>
                                                         </div>
                                                     </td>
                                                     @foreach (lid_web.Models.WeekDays _days in Model.Week_days)
                                                     {
                                                         <td style="vertical-align: middle; line-height:9px !important; padding: 8px 10px" class="text-center">
                                                             <strong><small style='font-size:7pt'>00:00 to 00:00</small></strong>

                                                         </td>
                                                     }

                                                 </tr>
                                                 <tr>
                                                     <td colspan="8" style="background-color: #FB9337; max-height: 1px; line-height: 9px !important; padding: 8px 10px"></td>
                                                 </tr>*@
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        byteFile.init();

        jQuery('#structure_level').tree({
            categories: ['Department'],
            source: '/Ajax/GetTreeStructure',
            parent: 'parentId',
            value: 'id',
            text: 'name',
            drop: true,
            multi: false,
            all: false,
            include: ['Department'],
            highlight: '#CCFFEB',
            placeholder: 'Select department or positions..',
            bound: function (data) {
                //fleetMate.log('fleetMate.base.reports > common?tree=true > Tree Data Binded...');
            },
            changed: function (item) {
                var _organisation = jQuery('#structure_level').data('tree').list;
                var _date = jQuery('#monthpicker').val();
                window.location.href = '/reports/MonthlySchedule?_dept_id=' + _organisation + '&monthdate=' + _date;
            }
        });

        jQuery("#monthpicker").kendoDatePicker({
            // defines the start view
            start: "year",

            // defines when the calendar should return date
            depth: "year",

            // display month and year in the input
            format: "MMMM yyyy"
        });

        jQuery('a.fancybox').click(function () {
            jQuery.fancybox.open({
                'content': jQuery('<div>').load(jQuery(this).attr('href')),
                'autoScale': false,
                'autoDimensions': true,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'hideOnOverlayClick': false,
                'hideOnContentClick': false,
                'showCloseButton': true,
                'type': 'iframe',
                'autoSize': false,
                'width': 950,
                'height': 500,
                helpers: {
                    overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
                },
                'afterClose': function () {
                    window.location.reload();
                }
            });
            return false;
        });



        jQuery('#tblManageShifts').dataTable({
            "sPaginationType": "full_numbers",
            "aaSortingFixed": [[0, 'asc']],
            "fnDrawCallback": function (oSettings) {
                jQuery('input:checkbox,input:radio').uniform();
                //jQuery.uniform.update();
            }
        });


        ///// TRANSFORM CHECKBOX AND RADIO BOX USING UNIFORM PLUGIN /////
        jQuery('input:checkbox,input:radio').uniform();


        jQuery('.selectall').click(function () {
            var parentTable = jQuery("#tblManageShifts");
            if (jQuery(this).hasClass('clicked')) {
                jQuery(this).removeClass('clicked');
                jQuery(this).text('Select All');
                jQuery('.filemgr_menu a.preview').addClass('preview_disabled');
                parentTable.find('.line_items span').removeClass('checked');
            } else {
                jQuery(this).addClass('clicked');
                jQuery(this).text('Select None');
                jQuery('.filemgr_menu a.preview').removeClass('preview_disabled');
                parentTable.find('.line_items span').addClass('checked');
            }

            jQuery('.line_items span').each(function () {
                jQuery(this).parents('tr').removeClass('bg-success');
                jQuery(this).parents('tr').find('.clipboard_highlighter').addClass('msgerror_sm');
                jQuery(this).parents('tr').find('.clipboard_highlighter').removeClass('_highlighter');

            });
        });

        jQuery('.chkSelect').on('click', function () {
            var isCheck = false;
            jQuery("#tblManageShifts").find('.line_items span').each(function () {
                if (jQuery(this).hasClass('checked')) {
                    isCheck = true;
                }
            });
            if (isCheck) {
                jQuery('.filemgr_menu a.preview').removeClass('preview_disabled');
            }
            else {
                jQuery('.filemgr_menu a.preview').addClass('preview_disabled');
            }
        });

        jQuery('.filemgr_menu a.preview').click(function () {
            jQuery('.line_items span').each(function () {
                if (jQuery(this).hasClass('checked')) {
                    jQuery(this).parents('tr').addClass('bg-success');
                    jQuery(this).parents('tr').find('.clipboard_highlighter').removeClass('msgerror_sm');
                    jQuery(this).parents('tr').find('.clipboard_highlighter').addClass('_highlighter');
                }
                else {
                    jQuery(this).parents('tr').removeClass('bg-success');
                    jQuery(this).parents('tr').find('.clipboard_highlighter').addClass('msgerror_sm');
                    jQuery(this).parents('tr').find('.clipboard_highlighter').removeClass('_highlighter');
                }
            });
        });
    });
</script>