﻿@model lid_web.Models.PassFailReportDTO
@{
    ViewBag.Title = "PassFailReport";
    Layout = "~/Views/Shared/_Anon.cshtml";
}

<div class="centercontent1">
    <div class="pageheader">
        <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">Inpection Report</h1>
            <span class="pagedesc"><h4>Pass</h4></span>
        </div>
        @*<ul class="hornav">
                <li class="current"><a href="#view">Shift Details</a></li>
            </ul>*@
    </div>
    <div style="padding:0px 20px">

        <div class="last profile_wrapper" style="width:100% !important">
            <div id="view" class="subcontent">
                <div class="contenttitle2" style="width:100%">
                    <h5><span style="float:left">Printed on: <strong>@DateTime.Now.ToString("dd MMM yyyy")</strong></span> <span style="float:right">From: <strong> Monday </strong> to <strong>Monday</strong></span> </h5>
                </div>
                <div id="summary" class="subcontent">
                    <div class="filemgr">
                        <div class="filemgr_left">
                            <table class="table stdtable">
                                <thead>
                                    <tr>
                                        <th class="head0 nosort">Test Description</th>
                                        <th class="head1 nosort">Test</th>
                                        <th class="head0 nosort">Discard</th>
                                    </tr>
                                </thead>

                                <tbody class="drop_section">
                                    @foreach (lid_web.Models.PassFailReportItemsDTO line in @Model.line_items)
                                    {
                                        <tr style="border:none; background-color:silver">
                                            <td class="right bold text-capitalize text-info"><strong>@line.test_description</strong></td>
                                            <td class="table-bordered" style="font-weight:bold">@line.test_info</td>
                                            <td class="table-bordered" style="font-weight:bold">@line.discard</td>
                                        </tr>
                                            <tr>
                                                <td colspan="2"  style="text-align:right"> @line.comments</td>
                                                <td style="text-align:right">@line.status</td>
                                            </tr>

                                    }
                                </tbody>
                            </table>



                        </div>
                    </div>
                </div>
            </div><!--#profile-->

        </div><!--two_third-->

        <br /><br />

    </div><!--contentwrapper-->

</div><!-- centercontent -->
