﻿
@{
    ViewBag.Title = "RecentSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("..//partial//_side_menu_reports", null, new ViewDataDictionary { { "_current", "RecentSettings" } })


<div class="centercontent">

    <div class="pageheader">
        <h1 class="pagetitle">Recent Settings</h1>
        <span class="pagedesc">Manage Recent Reports Settings</span>
    </div>

    <div id="contentwrapper" class="contentwrapper nopadding">

        @using (Html.BeginForm("Sysconfig", "Admin", FormMethod.Post, new { id = "frm_config", @class = "stdform stdform2", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div id="validation">
                <div class="stdform stdform2 grid_3 ">
                    <table class="table " style="border-top:0 !important">

                        <tr>
                            <td>
                                <p>
                                    <label>Dont Show Recent Report <small>Dont show recent reports</small></label>
                                    <span class="field">
                                        @Html.CheckBox("chkShift")
                                    </span>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <label>Recent Report Valid For <small>Number of days before item expire</small></label>
                                    <span class="field">
                                        <input type="number" name="name" value="10" />
                                    </span>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>
                                    <label>Number Of Recent Item<small>How many recent items to show</small></label>
                                    <span class="field">
                                        @Html.CheckBox("chkShift")
                                    </span>
                                </p>
                            </td>
                            <td>
                                <p>
                                    <label>Clear List Daily<small>Claer all recent report item every day</small></label>
                                    <span class="field">
                                        @Html.CheckBox("chkDeptHrs")
                                    </span>
                                </p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <p class="stdformbutton">
                <input type="submit" class="submit radius2" value="Update Settings" />
                @*<input type="reset" class="reset radius2" value="Reset Button" />*@
            </p>
        }
    </div>
</div>


