﻿@model IEnumerable<lid_web.Models.RptRecentDTO>
@{
    ViewBag.Title = "RecentReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("..//partial//_side_menu_reports", null, new ViewDataDictionary { { "_current", "RecentReports" } })



<div class="centercontent">

    <div class="pageheader">
        <h1 class="pagetitle">Recent Reports</h1>
        <span class="pagedesc">View Reports Recently Oponed</span>
    </div>

    <div id="contentwrapper" class="contentwrapper nopadding">
        <div class="filemgr_content" style="margin-right: 20px !important;">

            <small>
                <strong>
                    <em>Tips: Hold Control key to select multiple items. To view file, select one item and click View File button.</em>
                </strong>
            </small>

            <br /><br />

            <div class="contenttitle3">
                <h3>&nbsp;Recent Report List</h3>
            </div>
            <br /><br />
            <ul class="listfile">
                @foreach (lid_web.Models.RptRecentDTO report in Model)
                {
                    <li class="col-md-2">
                        <a class="image text-center " href="@report.report_url" style="min-height:220px">
                            <i class="linkcolor small"><strong>Date Opened: @report.report_date </strong> </i>
                            <span class="img"><img style="width:95% !important" src="~/Assets/images/reports/@report.report_image" alt="" /></span>
                            <h4 class="filename">@report.report_name</h4>
                            <label>@report.report_desc</label>
                        </a>
                    </li>
                }
            </ul>
            <br /><br />
            <br clear="all" />

        </div>







    </div>
</div>

