﻿@model lid_web.Models.Reports

@{
    Layout = "~/Views/Shared/_Popup.cshtml";
}


<div class="centercontent1">

    <div class="pageheader">
        <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">Report: @Model.report_name </h1>
            <span class="pagedesc">Complete report parameters</span>
        </div>
    </div><!--pageheader-->
    <div id="contentwrapper" class="contentwrapper" style="background-color: #fff !important">
        <div class="stdform">
            <input type="hidden" id="report_id" value="@Model.report_id" />
            <input type="hidden" id="report_file" value="@Model.report_file" />
            <table class="table">

                @Html.Partial("..//Reports//Parameters//" + @Model.report_parms, null, new ViewDataDictionary { { "report_id", @Model.report_id } })
                <tr>
                    <td>Archive This Report</td>
                    <td></td>
                    <td>
                        <input type="checkbox" name="name" id="chkArchive" />

                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <!-- Split button -->
                        <div class="btn-group dropup">
                            <button type="button" class="btn btn-default" id="btnReport" onclick="getReport();">Download As PDF</button>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li class="disabled"><a href="#">View Report Online</a></li>
                                <li><a href="javascript:getReport();">Download As PDF</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#" class="disabled">Email Report To Me</a></li>
                            </ul>
                        </div>
                        <button class="submit0 stdbtn" id="btnReport" onclick="getReport();">Get Report</button>
                        <a id="link_pdf"></a>
                        <input type="hidden" name="structure_id" id="structure_id" />
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>

<script>

    jQuery(document).ready(function () {
        byteFile.init();

        jQuery('#structure_level').tree({
            categories: ['Department'],
            source: '/Ajax/GetTreeStructure',
            parent: 'parentId',
            value: 'id',
            text: 'name',
            drop: true,
            multi: false,
            all: false,
            include: ['Department'],
            highlight: '#CCFFEB',
            placeholder: 'Select department or positions..',
            bound: function (data) {
            },
            changed: function (item) {
                var _organisation = jQuery('#structure_level').data('tree').list;
                jQuery('#structure_id').val(_organisation);
            }
        });


        jQuery("#datefrom").kendoDatePicker({
            value: new Date(),
            format: "dd MMM yyyy"
        });
        jQuery("#dateto").kendoDatePicker({
            value: new Date(),
            format: "dd MMM yyyy"
        });
    });

    function openReport(parameters) {
        var report_id = jQuery('#report_id').val();
        var report_file = jQuery('#report_file').val();
        var archive = jQuery('#chkArchive')[0].checked;
        var url = report_file + "?archive=" + archive;
        console
        var report_url = '/Reports/' + url + parameters;
        console.log('report_url')
        console.log(report_url)
        var link = jQuery('#link_pdf')[0];
        jQuery(link).attr('href', report_url);
        jQuery(link).attr('download', 'true');
        link.click();

        var msg = "Report was sucessfully geranted."
        jQuery.growl.notice({ title: "Report", message: msg });

        jQuery.ajax({
            url: "/Reports/LogRecentReport",
            type: "POST",
            data: { report_id: report_id, report_url: report_url }
        })
        .done(function () {
            var msg = "Report was added to recent list."
            jQuery.growl.notice({ title: "Saved", message: msg });
        });

    }
</script>

