﻿@model IEnumerable<lid_web.Models.Users>

    @using lid_web.Models;

    @{
        Layout = "~/Views/Shared/_Reports.cshtml";
    }


    <div class="centercontent0" style="padding:5px 15px">

        <div class="contenttitle2">
            <h3>System User Reports</h3>
        </div>
        <div>
            <div class="filemgr">
                <div class="filemgr_left">

                    <div id="tabswrapper" class="tabswrapper">
                        <div class="filemgr_content0">
                            <div id="viewall" class="subcontent">
                                <h4 style="padding:4px 10px" class="linkcolor">Report Date From <b> </b> to <b></b></h4>
                                <table class="stdtable table table-bordered" id="tblManageShifts0">
                                    <colgroup>
                                        <col class="con0" style="width:200px" />
                                        <col class="con1" />
                                        <col class="con0" />
                                        <col class="con1" />
                                        <col class="con0" />
                                        <col class="con1" />
                                        <col class="con0" />
                                        <col class="con1" />
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th class="head1 nosort ">
                                                <strong>Username</strong>
                                            </th>
                                            <th class="head0 nosort ">
                                                <strong>Name</strong>
                                            </th>
                                            <th class="head1 nosort ">
                                                <strong>Surname</strong>
                                            </th>
                                            <th class="head0 nosort ">
                                                <strong>Email</strong>
                                            </th>
                                            <th class="head1 nosort ">
                                                <strong>Telephone</strong>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (lid_web.Models.Users _user in Model)
                                            {
                                            <tr class="head1 nosort ">
                                                <td>@_user.email</td>
                                                <td>@_user.name</td>
                                                <td>@_user.surname</td>
                                                <td>@_user.email</td>
                                                <td>@_user.telephone</td>
                                            </tr>
                                            }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

