﻿@model IEnumerable<lid_web.Models.PassFailReportDTO>

@{
    Layout = "~/Views/Shared/_Reports.cshtml";
}


<div class="centercontent0" style="padding:5px 15px">

    <div class="contenttitle2">
        <h3>Default Data Report</h3>
    </div>
    <div>
        <div class="filemgr">
            <div class="filemgr_left">

                <div id="tabswrapper" class="tabswrapper">
                    <div class="filemgr_content0">
                        <div id="viewall" class="subcontent">
                            <h4 style="padding:4px 10px" class="linkcolor">Report Date From <b> </b> to <b></b></h4>
                            <table class="stdtable table table-bordered" id="tblManageShifts0">
                                <colgroup>
                                    <col class="con0" style="width:200px" />
                                    <col class="con1" />
                                    <col class="con0" />
                                    <col class="con1" />
                                    <col class="con0" />
                                    <col class="con1" />
                                    <col class="con0" />
                                    <col class="con1" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="head1 nosort ">
                                            <strong>Code </strong>
                                        </th>
                                        <th class="head0 nosort ">
                                            <strong>Value</strong>
                                        </th>
                                        <th class="head1 nosort ">
                                            <strong>Read Only</strong>
                                        </th>
                                        <th class="head0 nosort ">
                                            <strong>Visible</strong>
                                        </th>
                                        <th class="head1 nosort ">
                                            <strong>Is Active</strong>
                                        </th>
                                        <th class="head1 nosort ">
                                            <strong>Order</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*@foreach (lid_web.Models.DefaultDataDTO _data in Model)
                                    {
                                        <tr class="head1 nosort ">
                                            <td>@_data.code</td>
                                            <td>@_data.value</td>
                                            <td>@_data.isreadonly</td>
                                            <td>@_data.isvisible</td>
                                            <td>@_data.isactive</td>
                                            <td>@_data.ordervalue</td>
                                        </tr>
                                    }*@
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



