﻿@model IEnumerable<Byte_Staff.Models.RptShiftDTO>

@using Byte_Staff.Models;

@{
    Layout = "~/Views/Shared/_Reports.cshtml";
}


<div class="centercontent0" style="padding:5px 15px">

    <div class="contenttitle2">
        <h3>System User Reports</h3>
    </div>
    <div>
        <div class="filemgr">
            <div class="filemgr_left">

                <div id="tabswrapper" class="tabswrapper">
                    <div class="filemgr_content0">
                        <div id="viewall" class="subcontent">
                            <h4 style="padding:4px 10px" class="linkcolor">Report Date From <b> </b> to <b></b></h4>
                            <table class="stdtable table table-bordered" id="tblManageShifts0">
                                <colgroup>
                                    <col class="con0" style="width:200px" />
                                    <col class="con1" />
                                    <col class="con0" />
                                    <col class="con1" />
                                    <col class="con0" />
                                    <col class="con1" />
                                    <col class="con0" />
                                    <col class="con1" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th class="head1 nosort ">
                                            <strong>Shift Name</strong>
                                        </th>
                                        <th class="head0 nosort ">
                                            <strong>Shift Code</strong>
                                        </th>
                                        <th class="head0 nosort ">
                                            <strong>Shift Department</strong>
                                        </th>
                                        <th class="head1 nosort ">
                                            <strong>Shift Start At</strong>
                                        </th>
                                        <th class="head0 nosort ">
                                            <strong>Shift End At</strong>
                                        </th>
                                        <th class="head1 nosort ">
                                            <strong>Is Split</strong>
                                        </th>
                                        <th class="head1 nosort ">
                                            <strong>Split Start At</strong>
                                        </th>
                                        <th class="head0 nosort ">
                                            <strong>Split End At</strong>
                                        </th>
                                        <th class="head0 nosort ">
                                            <strong>None Billable Mins</strong>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Byte_Staff.Models.RptShiftDTO _data in Model)
                                    {
                                        <tr class="head1 nosort ">
                                            <td>@_data.shift_name</td>
                                            <td>@_data.shift_code</td>
                                            <td>@_data.shift_dept</td>
                                            <td>@_data.shift_from</td>
                                            <td>@_data.shift_to</td>
                                            <td>@_data.split_shift</td>
                                            <td>@_data.split_from</td>
                                            <td>@_data.split_to</td>
                                            <td>@_data.non_billable</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



