﻿@model lid_web.Models.ReportsDTO
@using lid_web.BLL;
@using lid_web.Models;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("..//partial//_side_menu_reports", null, new ViewDataDictionary { { "_current", "ScheduleReport" } })


<div class="centercontent">

    <div class="pageheader">
        <h1 class="pagetitle">Schedule Report</h1>
        <span class="pagedesc">Create Schedules For Reports</span>
    </div>

    <div id="contentwrapper" class="contentwrapper nopadding">
        <div class="filemgr">
            <div class="filemgr_left">
                <div class="filemgr_category">
                    <ul>
                        @{
                            int tot = 0;
                            foreach (lid_web.Models.ReportCategory cat in Model.cat_list)
                            {
                                if (cat.reports_list.Count > 0)
                                {
                                    tot = tot + cat.reports_list.Count;
                                    <li><a href="#@cat.reportcat_id">@cat.report_cat (@cat.reports_list.Count)</a></li>
                                }
                            }
                            <li class="right"><span class="pagenuminfo"><strong>You have @tot Reports</strong> </span></li>
                        }
                    </ul>
                </div><!--filemgr_category-->

                <div class="filemgr_content" style="margin-right: 20px !important;">

                    <small>
                        <strong>
                            <em>Tips: Hold Control key to select multiple items. To view file, select one item and click View File button.</em>
                        </strong>
                    </small>

                    <br /><br />

                    @foreach (lid_web.Models.ReportCategory cat in Model.cat_list)
                    {

                        if (cat.reports_list.Count > 0)
                        {
                            <div class="contenttitle3" id="@cat.reportcat_id">
                                <h3>&nbsp;@cat.report_cat</h3>
                            </div>
                            <br /><br />
                            <ul class="listfile">
                                @foreach (lid_web.Models.Reports report in cat.reports_list)
                                {
                                    <li class="col-md-2">
                                        <a class="image text-center fancybox" href="@Url.Action("ScheduleReport_win", "Reports", new { report_id = report.report_id })" style="min-height:220px">
                                            <span class="img"><img style="width:95% !important" src="~/Assets/images/reports/@report.report_image" alt="" /></span>
                                            <h4 class="filename">@report.report_name</h4>
                                            <label>@report.report_desc</label>
                                        </a>
                                    </li>
                                }
                            </ul>
                            <br /><br />
                        }
                    }
                    <br clear="all" />

                </div><!--filemgr_content-->

            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function () {

        jQuery('a.fancybox').click(function () {
            // debugger;
            jQuery.fancybox.open({
                'content': jQuery('<div>').load(jQuery(this).attr('href')),
                'autoScale': false,
                'autoDimensions': true,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'hideOnOverlayClick': false,
                'hideOnContentClick': false,
                'showCloseButton': true,
                'type': 'iframe',
                'autoSize': false,
                'width': 650,
                'height': 550,
                helpers: {
                    overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
                },
                'afterClose': function () {
                    window.location.reload();
                }
            });
            return false;
        });
    });
</script>