﻿
@{
    ViewBag.Title = "ScheduleReport_win";
    Layout = "~/Views/Shared/_Popup.cshtml";
}



<div class="centercontent1">

    <div class="pageheader">
        <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">Report Scheduler</h1>
            <span class="pagedesc">Create Report Scheduler</span>
        </div>
    </div><!--pageheader-->
    <div id="contentwrapper" class="contentwrapper" style="background-color: #fff !important">
        <form class="stdform" action="" method="post">
            <input type="hidden" id="report_id" value="@ViewBag.report_id" />
            <table class="table">
                <tr>
                    <td>Title</td>
                    <td></td>
                    <td>
                        <input type="text" name="name" id="txtTitle" value="" />

                    </td>
                </tr>
                <tr>
                    <td>Start</td>
                    <td></td>
                    <td id="tdDatefrom"> <input type="text" name="from" id="datefrom" /></td>
                </tr>
                <tr>
                    <td>End</td>
                    <td></td>
                    <td id="tdDateto"> <input type="text" name="to" id="dateto" /></td>
                </tr>
                <tr>
                    <td>Increamental</td>
                    <td></td>
                    <td>
                        <input type="checkbox" name="name" id="chkIncreamental" />

                    </td>
                </tr>
                <tr>
                    <td>Output</td>
                    <td></td>
                    <td>
                        <select id="ddlOutput" placeholder="Select...">
                            <option>Recent Report</option>
                            <option>Archive File</option>
                            <option>Send To Email</option>
                        </select>
                    </td>
                </tr>
                <tr id="trEmail" style="display:none">
                    <td>Enter Email</td>
                    <td></td>
                    <td>
                        <input type="email" name="" id="email" class="noradiusright" value="@User.Identity.Name" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <td>Repeate</td>
                    <td></td>
                    <td>
                        <select id="ddlRepeate" placeholder="Select...">
                            <option>Never</option>
                            <option>Daily</option>
                            <option>Weekly</option>
                        </select>
                    </td>
                </tr>
                <tr id="trDialy" style="display:none">
                    <td>Repeat Every</td>
                    <td></td>
                    <td>
                        <input type="text" name="" id="repeatevery" class="noradiusright" value="1" disabled="disabled" /> day(s)
                    </td>
                </tr>
                <tr id="trWeekly" style="display:none">
                    <td>Repeat On</td>
                    <td></td>
                    <td>
                        <input type="checkbox" id="chkmo" /> &nbsp; &nbsp;Mo&nbsp; &nbsp;
                        <input type="checkbox" id="chktu" /> &nbsp; &nbsp;Tu&nbsp; &nbsp;
                        <input type="checkbox" id="chkwe" /> &nbsp; &nbsp;We&nbsp; &nbsp;
                        <input type="checkbox" id="chkth" /> &nbsp; &nbsp;Th&nbsp; &nbsp;
                        <input type="checkbox" id="chkfr" /> &nbsp; &nbsp;Fri&nbsp; &nbsp;
                        <input type="checkbox" id="chksa" /> &nbsp; &nbsp;Sa&nbsp; &nbsp;
                        <input type="checkbox" id="chksu" /> &nbsp; &nbsp;Su
                    </td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td></td>
                    <td>
                        <textarea cols="50" rows="5" id="txtDesc" class="longinput"></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <button class="submit stdbtn" id="btnSave">Save Report Schedule</button>
                    </td>
                </tr>
            </table>
        </form>

    </div>
</div>


<script>

    jQuery(document).ready(function () {
        jQuery("#repeatevery").kendoNumericTextBox({
            min: 0,
            max: 100,
            format: "#",
            decimals: 0
        });
        jQuery("#datefrom").kendoDatePicker({
            value: new Date(),
            format: "dd MMM yyyy"
        });
        jQuery("#dateto").kendoDatePicker({
            value: new Date(),
            format: "dd MMM yyyy"
        });
        jQuery("#ddlRepeate").kendoComboBox();
        jQuery("#ddlOutput").kendoComboBox();
        
        jQuery('#ddlRepeate').change(function () {
            var item = jQuery(this).find("option:selected").text();
            switch (item) {
                case 'Never':
                    jQuery('#trDialy').hide();
                    jQuery('#trWeekly').hide();
                    jQuery('#trEnding').hide();
                    break;
                case 'Daily':
                    jQuery('#trDialy').show();
                    jQuery('#trWeekly').hide();
                    jQuery('#trEnding').show();
                    break;
                case 'Weekly':
                    jQuery('#trDialy').hide();
                    jQuery('#trWeekly').show();
                    jQuery('#trEnding').show();
                    break;
            }
        });

        jQuery('#ddlOutput').change(function () {
            var item = jQuery(this).find("option:selected").text();
            switch (item) {
                case 'Recent Report':
                    jQuery('#trEmail').hide();
                    break;
                case 'Archive File':
                    jQuery('#trEmail').hide();
                    break;
                case 'Send To Email':
                    jQuery('#trEmail').show();
                    break;
            }
        });
        jQuery('#btnSave').click(function () {
            debugger
            var data = {
                report_id: jQuery('#report_id').val(),
                title: jQuery('#txtTitle').val(),
                desc: jQuery('#txtDesc').val(),
                from: jQuery('#datefrom').val(),
                to: jQuery('#dateto').val(),
                repeatevery: jQuery('#repeatevery').val(),
                email: jQuery('#email').val(),
                increamental: jQuery('#chkIncreamental')[0].checked,
                mo: jQuery('#chkmo')[0].checked,
                tu: jQuery('#chktu')[0].checked,
                we: jQuery('#chkwe')[0].checked,
                th: jQuery('#chkth')[0].checked,
                fr: jQuery('#chkfr')[0].checked,
                sa: jQuery('#chksa')[0].checked,
                su: jQuery('#chksu')[0].checked,
                output: jQuery('#ddlOutput').find("option:selected").text(),
                repeat: jQuery('#ddlRepeate').find("option:selected").text(),
                
            };
            jQuery.ajax({
                url: '/Reports/SaveReportScheduler',
                dataType: "json",
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                async:false,
                success: function (response) {
                    debugger
                    var data = JSON.parse(response);
                    if (data.code == 1) {
                        var msg = "Report scheduler was successfully saved."
                        jQuery.growl.notice({ title: "Saved", message: msg });
                    }
                    else {
                        var msg = "Oops: " + data.message
                        jQuery.growl.warning({ title: "Failed", message: msg });
                    }
                },
                error: function (xhr, thrownError, thrownError) {
                    var msg = "Message: " + thrownError;
                    jQuery.growl.error({ title: "Exception", message: msg });
                }
            });
        })
    });
</script>


