﻿
@{
    ViewBag.Title = "ScheduleHistory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("..//partial//_side_menu_reports", null, new ViewDataDictionary { { "_current", "ScheduleHistory" } })


<div class="centercontent">

    <div class="pageheader">
        <h1 class="pagetitle">Schedule History</h1>
        <span class="pagedesc">View Report Scheduler Activities </span>
    </div>

    <div id="contentwrapper" class="contentwrapper nopadding">
        <div id="grid" class="stdtable table"></div>
    </div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#grid').kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: {
                        url: '/Reports/GetScheduleHistory',
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: 'id',
                        fields: {
                            id: {
                                editable: false,
                                nullable: true
                            }
                        }
                    },
                    data: function (data) {
                        return JSON.parse(data);
                    },
                    total: function (data) {
                        return (jQuery(JSON.parse(data))).length;
                    },
                },
                batch: false,
                pageSize: 10,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            toolbar: [
            {
                name: "Advanced",
                template:

                '<div class="k-button" onclick="exporttoexcel();">' +
                    '<span class="k-icon fa-file-excel-o"></span>' +
                        'Export to Excel' +
                '</div>' +
                '<div class="k-button" onclick="view_structure();">' +
                    '<span class="k-icon fa-file-excel-o"></span>' +
                        'Export to PDF' +
                '</div>'
            }],
            columns: [
                {
                    field: 'id',
                    title: 'id',
                    hidden: true,
                },
                {
                    field: "title",
                    title: "Schedule Title",
                    width: 150,
                },
                {
                    field: "report_name",
                    title: "Report Name",
                    width: 250,
                },
                {
                    field: "output",
                    title: "Output",
                    width: 150,
                },
                {
                    field: "run_from",
                    title: "Run Date",
                    width: 250,
                },
                {
                    field: "run_time",
                    title: "Run Time",
                    width: 150,
                },
                {
                    field: "status",
                    title: "Successfuly",
                    width: 150,
                }
            ],
            pageable: true,
        });
    });
</script>
