﻿@model web_app.Models.DashBoard
@using web_app.BLL;

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="centercontent" style="margin-left: 10px !important; background-color: #FFF !important">

    <div class="pageheader">
        <h1 class="pagetitle">Dashboard</h1>
        <span class="pagedesc"></span>
    </div><!--pageheader-->

    <div id="contentwrapper" class="contentwrapper" style="padding: 5px 20px">

        <div id="updates" class="subcontent">
            <div class="one_one dashboard_left">

                <ul class="shortcuts">
                    <li><a href="@Url.Action("Inspectors", "Company" , null)" class="users linkcolor fancybox"><span>Inspectors</span></a></li>
                    <li><a href="@Url.Action("Sites", "Company" , null)" class="users linkcolor fancybox"><span>Sites</span></a></li>
                    <li><a href="@Url.Action("ViewAssets", "Company" , null)" class="users linkcolor fancybox"><span>View Assets</span></a></li>
                    <li><a href="@Url.Action("ViewAllAssets", "Company", null)" class="users linkcolor fancybox"><span>View All Assets</span></a></li>
                    <li><a href="@Url.Action("TimeCycle", "Company", null)" class="users linkcolor fancybox"><span>Time Cycle</span></a></li>
                    <li><a href="@Url.Action("Maps", "Company", null)" class="users linkcolor fancybox"><span>View Map</span></a></li>
                </ul>
            </div>
         <br clear="all" />
             @*  <br clear="all" />*@
        </div>
    </div>

    <div id="contentwrapper" class="contentwrapper">

        <div id="updates" class="subcontent">
            <!--<div class="notibar announcement">
                <a class="close"></a>
                <h3>Announcement</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div> notification announcement -->

            <div class="two_third dashboard_left">

                @*<ul class="shortcuts">
                    <li><a href="" class="settings"><span>Settings</span></a></li>
                    <li><a href="" class="users"><span>Users</span></a></li>
                    <li><a href="" class="gallery"><span>Gallery</span></a></li>
                    <li><a href="" class="events"><span>Events</span></a></li>
                    <li><a href="" class="analytics"><span>Analytics</span></a></li>
                </ul>

                <br clear="all" />*@

                <div class="contenttitle2 nomargintop">
                    <h3>Inspection Overview</h3>
                </div><!--contenttitle-->

                <!--<div class="overviewhead">
                    <div class="overviewselect">
                        <select id="overviewselect" name="select">
                            <option value="">Last 1 hour ago</option>
                            <option value="">Last 5 hours ago</option>
                            <option value="">Today</option>
                            <option value="">Yesterday</option>
                            <option value="">This Week</option>
                            <option value="">Last Week</option>
                            <option value="">This Month</option>
                            <option value="">Last Month</option>
                        </select>
                    </div>
                    From: &nbsp;<input type="text" id="datepickfrom" /> &nbsp; &nbsp; To: &nbsp;<input type="text" id="datepickto" />
                </div>overviewhead-->

                <br clear="all" />


                <table cellpadding="0" cellspacing="0" border="0" class="stdtable stdtablecb overviewtable2">
                    <colgroup>
                        <col class="con0" style="width: 4%" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                        <col class="con0" />
                        <col class="con1" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="head0"><input type="checkbox" class="checkall" /></th>
                            <th class="head1">Item</th>
                            <th class="head0">Site</th>
                            <th class="head1">Inspector</th>
                            <th class="head0">Date</th>
                            <th class="head1">Status</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th class="head0"><input type="checkbox" class="checkall" /></th>
                            <th class="head1">Item</th>
                            <th class="head0">Site</th>
                            <th class="head1">Inspector</th>
                            <th class="head0">Date</th>
                            <th class="head1">Status</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var _itm in Model.list_inspection)
                        {
                            <tr>
                                <td align="center"><input type="checkbox" /></td>
                                <td>@_itm.category_name</td>
                                <td>@_itm.asset_name</td>
                                <td>@_itm.inspector</td>
                                <td class="center">@_itm.insp_date</td>
                                <td class="center">@_itm.inspection_status</td>
                            </tr>
                        }
                        </tbody>
                </table>

                <br />

            </div><!--two_third dashboard_left -->

            <div class="one_third last dashboard_right">

                <div class="contenttitle2 nomargintop">
                    <h3>Sites And Items</h3>
                </div><!--contenttitle-->
                <ul class="toplist">
                    @foreach (var _itm in Model.list_sites)
                    {
                        <li>
                            <div>
                                <span class="three_fourth">
                                    <span class="left">
                                        <span class="title"><a href="">@_itm.site_name</a></span>
                                        <span class="desc">@_itm.site_description</span>
                                    </span><!--left-->
                                </span><!--three_fourth-->
                                <span class="one_fourth last">
                                    <span class="right">
                                        <span class="h3">@_itm.tag_count</span>
                                    </span><!--right-->
                                </span><!--one_fourth-->
                                <br clear="all" />
                            </div>
                        </li>
                    }
                </ul>

                <div class="widgetbox">
            <div class="title"><h3>Company Inspectors</h3></div>
            <div class="widgetoptions">
                <div class="right"></div>
                <a href="#">View All</a>
            </div>
            <div class="widgetcontent userlistwidget nopadding">
                <ul>

                    @foreach (var _itm in Model.list_inspectors)
                    {
                        <li>
                            <div class="avatar"><img alt="" src="~/Assets/images/thumbs/avatar1.png" /></div>
                            <div class="info">
                                <a href="#">@_itm.firstname @_itm.lastname</a> <br />
                                @_itm.phone <br />Cert: @(_itm.certification != null ? @_itm.certification : "NA")
                            </div>
                        </li>
                    }
                    </ul>
                <a class="more" href="#">View More Users</a>
            </div>
        </div>

            </div><!--one_third last-->


        </div><!-- #updates -->

        <div id="activities" class="subcontent" style="display: none;">
            &nbsp;
        </div><!-- #activities -->

    </div><!--contentwrapper-->


    <br clear="all" />

</div>
<script src="~/Assets/js/plugins/jquery.flot.js"></script>
<script src="~/assets/echarts/dist/echarts.min.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
    ///// SIMPLE CHART /////
    var flash = [[0, 2], [1, 6], [2, 3], [3, 8], [4, 5], [5, 13], [6, 8]];
    var html5 = [[0, 5], [1, 4], [2, 4], [3, 1], [4, 9], [5, 10], [6, 13]];

    function showTooltip(x, y, contents) {
        jQuery('<div id="tooltip" class="tooltipflot">' + contents + '</div>').css({
            position: 'absolute',
            display: 'none',
            top: y + 5,
            left: x + 5
        }).appendTo("body").fadeIn(200);
    }


    var plot = jQuery.plot(jQuery("#chartplace"),
           [{ data: flash, label: "Pass(x)", color: "#069" }, { data: html5, label: "Fail(x)", color: "#FF6600" }], {
               series: {
                   lines: { show: true, fill: true, fillColor: { colors: [{ opacity: 0.05 }, { opacity: 0.15 }] } },
                   points: { show: true }
               },
               legend: { position: 'nw' },
               grid: { hoverable: true, clickable: true, borderColor: '#ccc', borderWidth: 1, labelMargin: 10 },
               yaxis: { min: 0, max: 15 }
           });

    var previousPoint = null;
    jQuery("#chartplace").bind("plothover", function (event, pos, item) {
        jQuery("#x").text(pos.x.toFixed(2));
        jQuery("#y").text(pos.y.toFixed(2));

        if (item) {
            if (previousPoint != item.dataIndex) {
                previousPoint = item.dataIndex;

                jQuery("#tooltip").remove();
                var x = item.datapoint[0].toFixed(2),
                y = item.datapoint[1].toFixed(2);

                showTooltip(item.pageX, item.pageY,
                                item.series.label + " of " + x + " = " + y);
            }

        } else {
            jQuery("#tooltip").remove();
            previousPoint = null;
        }

    });

    jQuery("#chartplace").bind("plotclick", function (event, pos, item) {
        if (item) {
            jQuery("#clickdata").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
            plot.highlight(item.series, item.datapoint);
        }
    });
    });
</script>
 
    @*jQuery(document).ready(function () {
        debugger
        jQuery('#chartplace').load(function () { debugger; render_chat(); });
        render_chat();

        jQuery('a.fancybox').click(function () {
            jQuery.fancybox.open({
                'content': jQuery('<div>').load(jQuery(this).attr('href')),
                'autoScale': false,
                'autoDimensions': true,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'hideOnOverlayClick': false,
                'hideOnContentClick': false,
                'showCloseButton': true,
                'type': 'iframe',
                'autoSize': false,
                'width': 1100,
                'height': 800,
                helpers: {
                    overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
                },
                'afterClose': function () {
                    //window.location.reload();
                }
            });
            return false;
        });

        //jQuery('#overviewselect, input:checkbox').uniform();

        ///// DATE PICKER /////
        jQuery("#datepickfrom, #datepickto").kendoDatePicker();

        ///// SLIM SCROLL /////
        jQuery('.slimscroll').slimscroll({
            color: '#666',
            size: '10px',
            width: 'auto',
            height: '500px'
        });

        ///// ACCORDION /////
        jQuery('#accordion').accordion({ autoHeight: false });


        ///// SWITCHING LIST FROM 3 COLUMNS TO 2 COLUMN LIST /////
        function rearrangeShortcuts() {
            if (jQuery(window).width() < 430) {
                if (jQuery('.shortcuts li.one_half').length == 0) {
                    var count = 0;
                    jQuery('.shortcuts li').removeAttr('class');
                    jQuery('.shortcuts li').each(function () {
                        jQuery(this).addClass('one_half');
                        if (count % 2 != 0) jQuery(this).addClass('last');
                        count++;
                    });
                }
            } else {
                if (jQuery('.shortcuts li.one_half').length > 0) {
                    jQuery('.shortcuts li').removeAttr('class');
                }
            }
        }

        rearrangeShortcuts();

        ///// ON RESIZE WINDOW /////
        //jQuery(window).resize(function () {
        //    rearrangeShortcuts();
        //});


        var theme = {
            color: [
                '#26B99A', '#34495E', '#BDC3C7', '#3498DB',
                '#9B59B6', '#8abb6f', '#759c6a', '#bfd3b7'
            ],

            title: {
                itemGap: 8,
                textStyle: {
                    fontWeight: 'normal',
                    color: '#408829'
                }
            },

            dataRange: {
                color: ['#1f610a', '#97b58d']
            },

            toolbox: {
                color: ['#408829', '#408829', '#408829', '#408829']
            },

            tooltip: {
                backgroundColor: 'rgba(0,0,0,0.5)',
                axisPointer: {
                    type: 'line',
                    lineStyle: {
                        color: '#408829',
                        type: 'dashed'
                    },
                    crossStyle: {
                        color: '#408829'
                    },
                    shadowStyle: {
                        color: 'rgba(200,200,200,0.3)'
                    }
                }
            },

            dataZoom: {
                dataBackgroundColor: '#eee',
                fillerColor: 'rgba(64,136,41,0.2)',
                handleColor: '#408829'
            },
            grid: {
                borderWidth: 0
            },

            categoryAxis: {
                axisLine: {
                    lineStyle: {
                        color: '#408829'
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ['#eee']
                    }
                }
            },

            valueAxis: {
                axisLine: {
                    lineStyle: {
                        color: '#408829'
                    }
                },
                splitArea: {
                    show: true,
                    areaStyle: {
                        color: ['rgba(250,250,250,0.1)', 'rgba(200,200,200,0.1)']
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ['#eee']
                    }
                }
            },
            timeline: {
                lineStyle: {
                    color: '#408829'
                },
                controlStyle: {
                    normal: { color: '#408829' },
                    emphasis: { color: '#408829' }
                }
            },

            k: {
                itemStyle: {
                    normal: {
                        color: '#68a54a',
                        color0: '#a9cba2',
                        lineStyle: {
                            width: 1,
                            color: '#408829',
                            color0: '#86b379'
                        }
                    }
                }
            },
            map: {
                itemStyle: {
                    normal: {
                        areaStyle: {
                            color: '#ddd'
                        },
                        label: {
                            textStyle: {
                                color: '#c12e34'
                            }
                        }
                    },
                    emphasis: {
                        areaStyle: {
                            color: '#99d2dd'
                        },
                        label: {
                            textStyle: {
                                color: '#c12e34'
                            }
                        }
                    }
                }
            },
            force: {
                itemStyle: {
                    normal: {
                        linkStyle: {
                            strokeColor: '#408829'
                        }
                    }
                }
            },
            chord: {
                padding: 4,
                itemStyle: {
                    normal: {
                        lineStyle: {
                            width: 1,
                            color: 'rgba(128, 128, 128, 0.5)'
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: 'rgba(128, 128, 128, 0.5)'
                            }
                        }
                    },
                    emphasis: {
                        lineStyle: {
                            width: 1,
                            color: 'rgba(128, 128, 128, 0.5)'
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: 'rgba(128, 128, 128, 0.5)'
                            }
                        }
                    }
                }
            },
            gauge: {
                startAngle: 225,
                endAngle: -45,
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: [[0.2, '#86b379'], [0.8, '#68a54a'], [1, '#408829']],
                        width: 8
                    }
                },
                axisTick: {
                    splitNumber: 10,
                    length: 12,
                    lineStyle: {
                        color: 'auto'
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: 'auto'
                    }
                },
                splitLine: {
                    length: 18,
                    lineStyle: {
                        color: 'auto'
                    }
                },
                pointer: {
                    length: '90%',
                    color: 'auto'
                },
                title: {
                    textStyle: {
                        color: '#333'
                    }
                },
                detail: {
                    textStyle: {
                        color: 'auto'
                    }
                }
            },
            textStyle: {
                fontFamily: 'Arial, Verdana, sans-serif'
            }
        };

        var echartScatter = echarts.init(document.getElementById('echart_scatter'), theme);

        jQuery.ajax({
            url: "/Ajax/tempoScatterChart",
            type: "GET",
            //data: { staff_id: staff_id, weekday: day }
        })
            .done(function (data) {
                if (data = '[]') return;
                debugger
                data = JSON.parse(data);
                var _from = [];
                var _to = [];
                jQuery.each(data, function () {
                    _from.push(this.shift_from);
                    _to.push(this.shift_to);
                });

                var option = {
                    title: {
                        //text: getdate(),
                        subtext: ''
                    },
                    //tooltip: {
                    //    trigger: 'axis',
                    //    showDelay: 0,
                    //    //axisPointer: {
                    //    //    type: 'cross',
                    //    //    lineStyle: {
                    //    //        type: 'dashed',
                    //    //        width: 1
                    //    //    }
                    //    //}
                    //},
                    legend: {
                        data: ['Staff Shift Start', 'Staff Shift End']
                    },
                    toolbox: {
                        show: false,
                        feature: {
                            saveAsImage: {
                                show: true,
                                title: "Save Image"
                            }
                        }
                    },
                    xAxis: [{
                        type: 'value',
                        data: ['00', '02', '04', '06', '08', '10', '12', '14', '16', '18', '20', '22', '24'],
                        //scale: true,
                        axisLabel: {
                            formatter: '{value}:00'
                        }
                    }],
                    yAxis: [{
                        type: 'value',
                        scale: true,
                        axisLabel: {
                            formatter: '{value}'
                        }
                    }],
                    series: [{
                        name: 'Shift Start',
                        type: 'scatter',
                        //tooltip: {
                        //    trigger: 'item',
                        //    formatter: function (params) {
                        //        if (params.value.length > 1) {
                        //            return params.seriesName + ' :<br/>' + params.value[0] + 'cm ' + params.value[1] + 'kg ';
                        //        } else {
                        //            return params.seriesName + ' :<br/>' + params.name + ' : ' + params.value + 'kg ';
                        //        }
                        //    }
                        //},
                        data: eval(JSON.stringify(_from).replace(/"/g, '')),
                        //markPoint: {
                        //    data: [{
                        //        type: 'max',
                        //        name: 'Max'
                        //    }, {
                        //        type: 'min',
                        //        name: 'Min'
                        //    }]
                        //},
                        //markLine: {
                        //    data: [{
                        //        type: 'average',
                        //        name: 'Mean'
                        //    }]
                        //}
                    }, {
                        name: 'Shift End',
                        type: 'scatter',
                        //tooltip: {
                        //    trigger: 'item',
                        //    formatter: function (params) {
                        //        if (params.value.length > 1) {
                        //            return params.seriesName + ' :<br/>' + params.value[0] + 'cm ' + params.value[1] + 'kg ';
                        //        } else {
                        //            return params.seriesName + ' :<br/>' + params.name + ' : ' + params.value + 'kg ';
                        //        }
                        //    }
                        //},
                        data: eval(JSON.stringify(_to).replace(/"/g, '')),
                        //markPoint: {
                        //    data: [{
                        //        type: 'max',
                        //        name: 'Max'
                        //    }, {
                        //        type: 'min',
                        //        name: 'Min'
                        //    }]
                        //},
                        //markLine: {
                        //    data: [{
                        //        type: 'average',
                        //        name: 'Mean'
                        //    }]
                        //}
                    }]
                }
                echartScatter.setOption(option);
            });

        var echartBar = echarts.init(document.getElementById('mainb'), theme);
        jQuery.ajax({
            url: "/Ajax/dash_tempo",
            type: "GET",
            //data: { staff_id: staff_id, weekday: day }
        })
            .done(function (data) {
                debugger
                data = JSON.parse(data);
                var _cat = [];
                var _x = [];
                var _y = [];
                jQuery.each(data.maindata, function () {
                    _cat.push(this.cat_text);
                    _y.push(this.y_value);
                    _x.push(this.x_value);
                });

                var option = {
                    title: {
                        //text: data.title_text,
                        subtext: '' //data.title_desc
                    },
                    tooltip: {
                        trigger: 'axis'
                    },
                    legend: {
                        data: ['Staff On Shift', 'Staff Off Shift']
                    },
                    toolbox: {
                        show: false
                    },
                    calculable: false,
                    xAxis: [{
                        type: 'category',
                        data: _cat //['MT', 'DC', 'DT', 'CC', 'OA', 'MI', 'WC', 'ICU', 'MC', 'PH', 'RC', 'CR']
                    }],
                    yAxis: [{
                        type: 'value'
                    }],
                    series: [{
                        name: 'Staff On Shift',
                        type: 'bar',
                        data: _y, //[2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3],
                        //markPoint: {
                        //    data: [{
                        //        type: 'max',
                        //        name: '???'
                        //    }, {
                        //        type: 'min',
                        //        name: '???'
                        //    }]
                        //},
                        //markLine: {
                        //    data: [{
                        //        type: 'average',
                        //        name: '???'
                        //    }]
                        //}
                    }, {
                        name: 'Staff Off Shift',
                        type: 'bar',
                        data: _x, //[2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3],
                        //markPoint: {
                        //    data: [{
                        //        name: 'sales',
                        //        value: 182.2,
                        //        xAxis: 7,
                        //        yAxis: 183,
                        //    }, {
                        //        name: 'purchases',
                        //        value: 2.3,
                        //        xAxis: 11,
                        //        yAxis: 3
                        //    }]
                        //},
                        //markLine: {
                        //    data: [{
                        //        type: 'average',
                        //        name: '???'
                        //    }]
                        //}
                    }]
                }
                echartBar.setOption(option);
            });
    });

    function render_chat() {

        jQuery.ajax({
            url: '/Ajax/ajaxGetChatData',
            dataType: "json",
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            async: false,
            processData: true,
            cache: true,
            success: function (data) {
                if (data = '[]') return;
                debugger
                data = jsonClean(data);
                
                var arr_data = data.split(':');
                var chatData = "[";
                for (var i = 0; i < arr_data.length; i++) {
                    var _data = '[' + arr_data[i].substring(arr_data[i].indexOf(']') + 2);
                    var _label = arr_data[i].substring(8, arr_data[i].indexOf(']'));
                    chatData += "{ label: '" + _label + "', data: " + _data + " },";
                }
                chatData += "]";
                var dataset = eval(chatData);
                var ticks = [[0, "Mon"], [1, "Tue"], [2, "Wed"], [3, "Thu"], [4, "Fri"], [5, "Sat"], [6, "Sun"]];

                var options = {
                    series: {
                        bars: {
                            show: false
                        },
                        lines: { show: true, fill: true, fillColor: { colors: [{ opacity: 0.05 }, { opacity: 0.15 }] } },
                        points: { show: true }
                    },
                    bars: {
                        align: "center",
                        barWidth: 0.5
                    },
                    //yaxis: { min: 0, max: 15 },
                    xaxis: {
                        axisLabel: "World Cities",
                        axisLabelUseCanvas: true,
                        axisLabelFontSizePixels: 12,
                        axisLabelFontFamily: 'Verdana, Arial',
                        axisLabelPadding: 10,
                        ticks: ticks,
                        max: 6
                    },

                    legend: {
                        //noColumns: 3,
                        labelBoxBorderColor: "#000000",
                        position: "nw"
                    },
                    grid: {
                        hoverable: true,
                        clickable: true,
                        borderColor: '#ccc',
                        borderWidth: 1,
                        labelMargin: 10,
                        hoverable: true,
                        borderWidth: 2,
                        backgroundColor: { colors: ["#ffffff", "#EDF5FF"] }
                    }
                };
                jQuery.plot(jQuery("#chartplace"), dataset, options);
            },
            error: function (xhr, thrownError, thrownError) {
                var msg = "Leave request successfully approved";
                jQuery.growl.notice({ title: "Saved", message: msg });
            }
        });

        function showTooltip(x, y, contents) {
            jQuery('<div id="tooltip" class="tooltipflot msgsuccess_sm">' + contents + '</div>').css({
                position: 'absolute',
                display: 'none',
                top: y - 30,
                left: x - 5
            }).appendTo("body").fadeIn(200);
        }

        var previousPoint = null;
        jQuery("#chartplace").bind("plothover", function (event, pos, item) {
            jQuery("#x").text(pos.x.toFixed(2));
            jQuery("#y").text(pos.y.toFixed(2));

            if (item) {
                if (previousPoint != item.dataIndex) {
                    previousPoint = item.dataIndex;

                    jQuery("#tooltip").remove();
                    var x = item.datapoint[0],//.toFixed(2),
					y = item.datapoint[1];//.toFixed(2);

                    showTooltip(item.pageX, item.pageY,
									item.series.label + " Dept: <strong>" + y + "</strong> Staff On Shift");
                }

            } else {
                jQuery("#tooltip").remove();
                previousPoint = null;
            }

        });

        jQuery("#chartplace").bind("plotclick", function (event, pos, item) {
            if (item) {
                jQuery("#clickdata").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
                plot.highlight(item.series, item.datapoint);
            }
        });
    }

    function btn_approve(leave_id) {
        jQuery.ajax({
            url: '/Ajax/ajaxApproveLeave',
            dataType: "json",
            type: "POST",
            data: JSON.stringify({ leave_id: leave_id }),
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                var msg = "Leave request successfully approved";
                jQuery.growl.notice({ title: "Saved", message: msg });
            },
            error: function (xhr, thrownError, thrownError) {
                var msg = "Leave request successfully approved";
                jQuery.growl.notice({ title: "Saved", message: msg });
            }
        });
    }

    function btn_decline(leave_id) {
        jQuery.ajax({
            url: '/Ajax/ajaxDeclineLeave',
            dataType: "json",
            type: "POST",
            data: JSON.stringify({ leave_id: leave_id }),
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                var msg = "Leave request successfully declined";
                jQuery.growl.warning({ title: "Saved", message: msg });
            },
            error: function (xhr, thrownError, thrownError) {
                var msg = "Leave request successfully declined";
                jQuery.growl.warning({ title: "Saved", message: msg });
            }
        });
    }

    function Iterate(data) {
        //var flash = [[0, 2], [1, 6], [2, 3], [3, 8], [4, 5], [5, 13], [6, 8]];
        jQuery.each(data, function (index, value) {
            if (typeof value == 'object') {
                // alert("Object " + index);
                Iterate(value);
            }
            else {
                //alert(index + "   :   " + value);
            }
        });
        //return flash;
    }

    function jsonClean(data) {

        data = data.replace(/dept_code/g, 'label');
        data = data.replace(/Mon/g, '0');
        data = data.replace(/Tue/g, '1');
        data = data.replace(/Wed/g, '2');
        data = data.replace(/Thu/g, '3');
        data = data.replace(/Fri/g, '4');
        data = data.replace(/Sat/g, '5');
        data = data.replace(/Sun/g, '6');
        data = data.replace(/"/g, '');
        data = data.replace(/{/g, '[');
        data = data.replace(/}/g, ']');
        data = data.replace(/,/g, '],[');
        data = data.replace(/:/g, ',');
        data = data.replace(/dept_code/g, 'label');
        data = data.replace(/]],\[\[/g, ']]:[[');
        return data;
    }

    function getdate() {
            var today = new Date();
            var day = today.getDate();
            var month = today.getMonth() + 1; //January is 0!
            var year = today.getFullYear();
            var hours = today.getHours();
            var minutes = today.getMinutes();
            var seconds = today.getSeconds();
                
            if (day < 10) {
                day = '0' + day
            }
                
            //if (month < 10) {
            //    month = '0' + month
            //}
            var months = ['','Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov','Dec'];
            today = 'Date: ' + day + ' ' + months[month] + ' ' + year;
                
            return today;
        }
</script>*@