#main {width: 100%;} section.container_12 {width: 98%;}
body #main .breadCrumb {margin: auto 1%;}

/* Header */
header a.logo {max-width: 600px;float: left;}

/* Search input */
header .search { max-width: 300px; min-width: 220px;}

/* One third becomes one fourth, two thirds - two fourths, there is no 3/4 widget for compatibility */

/* Content area */
#main .onethird {width: 31.333%;}
#main .twothirds {width: 64.666%;}
#main .threethirds {width: 98%;}

/* Gallery */
.gallery .thumb.large { width: 21%;padding: 0.7%;margin: 0 1.1% 15px 1.1%;}
.gallery .thumb.medium { width: 14%;padding: 0.5%;margin: 0 0.7% 15px 0.7%;}
.gallery .thumb.small { width: 9.2%;padding: 0.3%;margin: 0 0.5% 15px 0.5%;}