﻿@model IEnumerable<web_app.Models.Certificate>
@{
    ViewBag.Title = "Certificate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("..//partial//_side_menu", null, new ViewDataDictionary { { "_current", "Manufacture" } })

<div class="centercontent">

    <div class="pageheader">
        <h1 class="pagetitle">Certificate List</h1>
        <span class="pagedesc">Manage certificate list</span>
    </div><!--pageheader-->

    <div id="contentwrapper" class="contentwrapper nopadding">

        <div class="filemgr">
            <div class="filemgr_left">
                <div class="filemgr_head">
                    <ul class="filemgr_menu">
                        <li><a class="prev prev_disabled"></a></li>
                        <li><a class="next"></a></li>
                        <li class="marginleft20"><a class="selectall">Select All</a></li>
                        <li class="marginleft5 viewfilebtn"><a class="preview preview_disabled">View File</a></li>
                        <li class="marginleft20 newfoldbtn"><a class="newfolder" title="Add New Foldr"></a></li>
                        <li class="marginleft5 trashbtn"><a class="trash trash_disabled" title="Trash"></a></li>
                        <li class="marginleft20 filesearch">
                            <form>
                                <input type="text" id="filekeyword" class="filekeyword" value="Search certificate here" />
                            </form>
                        </li>
                        <li class="right newfilebtn"><a href="javascript:add_doc()" class="newfilebutton radius2">Add Certificate</a></li>
                    </ul>
                    <span class="clearall"></span>
                </div><!--filemgr_head-->

                <div class="filemgr_category">
                    <ul>
                        <li class="current"><a href="">All</a></li>
                        <li><a href="">Images</a></li>
                        <li><a href="">Certificate </a></li>
                        <li class="right"><span class="pagenuminfo">Showing 1 - @Model.Count() of @Model.Count()</span></li>
                    </ul>
                </div><!--filemgr_category-->

                <div class="filemgr_content">

                    <small>
                        <strong>
                            <em>Tips: Hold Control key to select multiple items. To view file, select one item and click View File button.</em>
                        </strong>
                    </small>

                    <br /><br />

                    <ul class="listfile">
                        @foreach (web_app.Models.Certificate item in Model)
                        {
                            <li>
                                <a class="doc" href="#">
                                    <span class="doc"><img src="~/Assets/images/thumbs/doc.png" alt="" /></span>
                                    <span class="filename">@item.code | @item.description</span>
                                </a>
                            </li>
                        }
                    </ul>

                    <br clear="all" />

                </div><!--filemgr_content-->

            </div><!--filemgr_left -->

            <div class="filemgr_right">
                <div class="filemgr_rightinner">
                    <div class="contenttitle2" style="margin-top: 0">
                        <h3>Actions</h3>
                    </div><!--contenttitle-->
                    <ul class="menuright">
                        <li class="current"><a href="">All Files</a></li>
                        <li><a href="">Deleted Files</a></li>
                        <li><a href="">New Folder</a></li>
                    </ul>
                </div><!-- filemgr_rightinner -->
            </div><!-- filemgr_right -->
            <br clear="all" />
        </div><!--filemgr-->

    </div><!--contentwrapper-->

</div>

<script>


    function add_doc() {
        var url = "/manufacture/win_add_certificate";
        jQuery.fancybox.open({
            'content': jQuery('<div>').load(url),
            'autoScale': false,
            'autoDimensions': true,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'hideOnOverlayClick': false,
            'hideOnContentClick': false,
            'showCloseButton': true,
            'type': 'iframe',
            'autoSize': false,
            'width': 750,
            'height': 500,
            helpers: {
                overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
            },
            'afterClose': function () {
                window.location.reload();
            }
        });
        return false;
    }
</script>

