﻿@model web_app.Models.CompanyModel
@{
    ViewBag.Title = "ManufactureDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("..//partial//_side_menu", null, new ViewDataDictionary { { "_current", "Manufacture" } })

<div class="centercontent">

    <div class="pageheader">
        <h1 class="pagetitle">Manufacture Details</h1>
        <span class="pagedesc">Update manufacture details</span>
    </div><!--pageheader-->

    <div id="contentwrapper" class="contentwrapper" style="background-color: #fff !important">
        <form class="stdform" action="" method="post">
            <input type="hidden" name="company_id" id="company_id" value="@Model.company_id" />
            <table class="table">
                <tr>
                    <td>Company Name</td>
                    <td><input type="text" name="name" id="name" class="longinput" value="@Model.company_name" /></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Trading Name</td>
                    <td><input type="text" name="trading" id="trading" class="longinput" value="@Model.company_trading" /></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Company Registration</td>
                    <td><input type="text" name="reg" id="reg" class="longinput" value="@Model.company_reg" /></td>
                    <td>&nbsp;</td>
                </tr>

                <tr>
                    <td colspan="5">
                        <h3>Contact Details</h3>
                    </td>
                </tr>
                <tr>
                    <td>Email Address:  </td>
                    <td><input type="text" name="email" id="email" class="longinput" value="@Model.company_email" /></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Contact Telephone:  </td>
                    <td><input type="text" name="tel" id="tel" class="longinput" value="@Model.company_tel" /></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Fax Number:  </td>
                    <td><input type="text" name="fax" id="fax" class="longinput" value="@Model.company_fax" /></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="5">
                        <h3>Physical Address Details</h3>
                    </td>
                </tr>
                <tr>
                    <td>Street Name:  </td>
                    <td><input type="text" name="street" id="street" class="longinput" value="@Model.company_street" /></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Building Name:  </td>
                    <td><input type="text" name="building" id="building" class="longinput" value="@Model.company_building" /></td>
                </tr>
                <tr>
                    <td>City / Town:  </td>
                    <td><input type="text" name="city" id="city" class="longinput" value="@Model.company_city" /></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Postal Code:  </td>
                    <td><input type="text" name="pcode" id="pcode" class="longinput" value="@Model.company_pcode" /></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <h3>Postal Address Details</h3>
                    </td>
                </tr>
                <tr>
                    <td>P O Box:  </td>
                    <td><input type="text" name="pobox" id="pobox" class="longinput" value="@Model.company_pobox" /></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Postal Office:  </td>
                    <td><input type="text" name="pooffice" id="pooffice" class="longinput" value="@Model.company_pooffice" /></td>
                </tr>
                <tr>
                    <td>City / Town:  </td>
                    <td><input type="text" name="pocity" id="pocity" class="longinput" value="@Model.company_pocity" /></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td>Postal Code:  </td>
                    <td><input type="text" name="pocode" id="pocode" class="longinput" value="@Model.company_pocode" /></td>
                </tr>
            </table>
            <div class="alignleft">
                <input type="button" id="btn_save" class="btn btn-primary" value="Save Details" />
            </div>
        </form>
    </div>
</div>

