﻿
@{
    ViewBag.Title = "win_add_certificate";
    Layout = "~/Views/Shared/_Popup.cshtml";
}


<div class="centercontent1">

    <div class="pageheader">
        <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">Certificate</h1>
            <span class="pagedesc">Add new certificate</span>
        </div>
    </div><!--pageheader-->
    <div id="contentwrapper" class="contentwrapper" style="background-color: #fff !important">
        <form class="stdform" action="" id="form">
            <table class="table">

                <tr>
                    <td style="width:100px">Asset Code</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="code" id="code" class="longinput" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Asset Name</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="name" id="name" class="longinput" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Serial Number</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="sn" id="sn" class="longinput" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Asset Description</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="desc" id="desc" class="longinput" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Upload Certificate</td>
                    <td style="width:10px"></td>
                    <td><input type="file" name="upload" id="upload" class="longinput" /></td>
                </tr>
            </table>
            <div class="alignright">
                <input type="button" id="btn_save" class="btn btn-primary" value="Save Certificate" />
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">

    jQuery(document).ready(function () {

        ///// FORM VALIDATION /////
        jQuery("#form").validate({
            rules: {
                desc: "required",
                info: "required"
            },
            messages: {
                desc: "Please enter role name",
                info: "Please enter role code"
            }
        });


        jQuery("#datepicker").datepicker();

        jQuery('#chkSplit').click(function () {
            if (jQuery(this).is(':checked')) {
                jQuery('#trSplit').show();
            }
            else {
                jQuery('#trSplit').hide();
            }
        });
        jQuery("#btn_save").click(function () {
            //collect form data
            var data = {
                code: jQuery('#code').val(),
                sn_no: jQuery('#sn').val(),
                name: jQuery('#name').val(),
                description: jQuery('#desc').val(),
            };
            console.log(data)
            jQuery.ajax({
                url: '/Manufacture/CrudCertificate',
                dataType: "json",
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (response, newValue) {
                    var data = JSON.parse(response);
                    if (data.code == 1) {
                        var msg = data.message;
                        jQuery.growl.notice({ title: "Saved", message: msg });
                    }
                    else {
                        var msg = "Oops: " + data.message;
                        jQuery.growl.warning({ title: "Failed", message: msg });
                       // jQuery.growl.notice({ title: "Saved", message: "Changes successully commited" });
                    }
                },
                error: function (xhr, thrownError, thrownError) {
                    var msg = "Message: " + thrownError;
                    jQuery.growl.error({ title: "Exception", message: msg });
                }
            });
        });
    });

</script>
