﻿<!DOCTYPE html>
<html>
<head>
    <title>Lifting::Id</title>
    <link rel="stylesheet" href="~/Assets/css/style.default.css" type="text/css" />
    <link rel="stylesheet" href="~/Assets/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/Assets/css/plugins/jquery.alerts.css" type="text/css" />
    <link rel="stylesheet" href="~/Assets/js/fancybox/jquery.fancybox.css" type="text/css" />
    @*<link rel="stylesheet" href="~/Assets/css/plugins/jquery.jgrowl.min.css" type="text/css" />*@
    <link rel="stylesheet" href="~/Assets/css/dt_picker.css" type="text/css" />


    <script type="text/javascript" src="/Assets/js/jquery/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/Assets/js/jquery-ui.min.js"></script>
    @*<script type="text/javascript" src="/Assets/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>*@
    <script type="text/javascript" src="/Assets/js/plugins/jquery.cookie.js"></script>
    @*<script type="text/javascript" src="/Assets/js/plugins/jquery.uniform.min.js"></script>*@

    <script type="text/javascript" src="/Assets/js/plugins/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Assets/js/plugins/jquery.slimscroll.js"></script>
    @*<script type='text/javascript' src='/Assets/js/plugins/fullcalendar.min.js'></script>*@

    <script type="text/javascript" src="/Assets/js/plugins/jquery.dataTables.min.js"></script>
    @*<script type="text/javascript" src="/Scripts/jquery.uniform.min.js"></script>*@

    <script type="text/javascript" src="/Assets/js/custom/general.js"></script>
    @*<script type="text/javascript" src="/Assets/js/plugins/jquery.jgrowl.min.js"></script>*@
    <script type="text/javascript" src="/Assets/js/plugins/jquery.alerts.js"></script>

    <script type="text/javascript" src="/Assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Assets/js/fancybox/jquery.fancybox.js"></script>

    <link href="~/Assets/js/plugins/jquery.growl/stylesheets/jquery.growl.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Assets/js/plugins/jquery.growl/javascripts/jquery.growl.js"></script>
    @*<link rel="stylesheet" type="text/css" href="~//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.css" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.js"></script>*@
    <style type="text/css">
        .green_color {
            color: green !important;
        }

        .blue_color {
            color: blue !important;
        }
    </style>
</head>

<body class="loginpage0">
    <div>


        @RenderBody()

    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
