﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
    @*<link rel="stylesheet" href="/Assets/css/style.default.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/css/plugins/jquery.alerts.css" type="text/css" />
    <link rel="stylesheet" href="/Assets/js/fancybox/jquery.fancybox.css" type="text/css" />
    <link href="/Assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="/Assets/kendo/kendo.common.min.css" rel="stylesheet" />
    <link href="/Assets/kendo/kendo.default.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Assets/css/dt_picker.css" type="text/css" />
    <link href="/Assets/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" />
    <link href="/Scripts/prettify-1.0.css" rel="stylesheet" />
    <link href="/Scripts/getorgchart.css" rel="stylesheet" />
    <link href="/Assets/css/plugins/datatables.css" rel="stylesheet" />

    <link href="~/Content/custom.css" rel="stylesheet" />
    <script type="text/javascript" src="/Assets/js/jquery/jquery-1.10.1.min.js"></script>
    <script type="text/javascript" src="/Assets/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/Assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Assets/js/fancybox/jquery.fancybox.js"></script>
    <script type="text/javascript" src="/Assets/js/plugins/jquery.cookie.js"></script>

    <script type="text/javascript" src="/Assets/js/plugins/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/Assets/js/plugins/jquery.slimscroll.js"></script>

    <script type="text/javascript" src="/Assets/js/plugins/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/Scripts/jquery.uniform.min.js"></script>

    <script type="text/javascript" src="/Assets/js/custom/general.js"></script>
    <script type="text/javascript" src="/Assets/js/plugins/jquery.alerts.js"></script>

    <script src="/Scripts/prettify-1.0.min.js"></script>
    <link href="/Assets/js/plugins/jquery.growl/stylesheets/jquery.growl.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Assets/js/plugins/jquery.growl/javascripts/jquery.growl.js"></script>
    <script src="/Assets/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
    <script src="/Scripts/getorgchart.js"></script>
    
    <script src="/Assets/kendo/kendo.all.min.js"></script>
    <style type="text/css">
        .green_color {
            color: green !important;
        }

        .blue_color {
            color: blue !important;
        }

        .weekend {
            background-color: silver !important;
        }

        #treeview .k-sprite {
            background-image: url("/Assets/images/coloricons-sprite.png");
        }

        .rootfolder {
            background-position: 0 0;
        }

        .folder {
            background-position: 0 -16px;
        }

        .pdf {
            background-position: 0 -32px;
        }

        .html {
            background-position: 0 -48px;
        }

        .image {
            background-position: 0 -64px;
        }
    </style>*@

</head>
<body class="withvernav">
    <div class="bodywrapper">
        @RenderBody()
    </div>
</body>
</html>
