﻿@model web_app.Models.Users

@using web_app.Models
@using web_app.BLL;

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("..//partial//_side_menu", null, new ViewDataDictionary { { "_current", "Items" } })

<div class="centercontent">

    <div class="pageheader">
        <h1 class="pagetitle">ADD CATEGORY</h1>
        <span class="pagedesc">Add, update and delete categories and items</span>
    </div><!--pageheader-->

    <div id="contentwrapper" class="contentwrapper00">
        <input type="hidden" id="isadmin" name="isadmin" value="@Model.isadmin.ToString().ToLower()" />
        <div class="filemgr">
            <div class="filemgr_left">
                <div class="filemgr_head">
                    <ul class="filemgr_menu">
                        <li class="marginleft20 filesearch">
                            <span class="field">
                                @using (Html.BeginForm("flt_group_category", "Items", null, FormMethod.Post, null))
            {
                                    @Html.DropDownList("ddlGroupCat", ViewBag.group_category as SelectList, "Select Group Category...", new { @class = "form-control", onchange = "this.form.submit();", style = " height:32px;width:190px" })
                                }
                            </span>
                        </li>
                        @*<li><a class="prev prev_disabled"></a></li>
                            <li><a class="next next_disabled"></a></li>
                            <li class="marginleft20"><a class="selectall">Select All</a></li>

                                <li class="marginleft20 newfoldbtn"><a class="newfolder" title="Add New Foldr"></a></li>
                                                <li class="marginleft5 trashbtn"><a class="trash trash_disabled" title="Trash"></a></li>*@
                        @*
                                <li class="marginleft5 viewfilebtn"><a class="preview preview_disabled">View File</a></li>

                            <li class="marginleft20 filesearch">
                                <span class="field">
                                    @using (Html.BeginForm("flt_items", "Items", new { cat_id = Model.cat_id, keyword = Model.keyword }, FormMethod.Post, null))
                                    {
                                        @Html.DropDownList("ddlItems", ViewBag.list_items as SelectList, "Select Item...", new { @class = "form-control", onchange = "this.form.submit();", style = " height:32px;width:190px" })
                                    }
                                </span>
                            </li>

                        <li class="right newfilebtn"><a href="javascript:show_win()" class="newfilebutton radius2">Add New Category</a></li>*@
                    </ul>
                    <span class="clearall"></span>
                </div><!--filemgr_head-->
                <!--div class="filemgr_category">
                    <ul>
                        <li class="current"><a href="">All</a></li>
                        <li><a href="">Images</a></li>
                        <li><a href="">Video</a></li>
                        <li><a href="">Audio</a></li>
                        <li><a href="">Documents</a></li>
                        <li class="right"><span class="pagenuminfo">Showing 1 - 20 of 69</span></li>
                    </ul>
                <div>-->

                <div class="filemgr_content @(ViewBag.id == null ? "hide" : "")">

                    <small>
                        <strong>
                           
                        </strong>
                    </small>

                    <div class="last profile_wrapper" style="width:100% !important">
                        <div id="view" class="subcontent">

                            <div class="one_half">
                                <div class="widgetbox">
                                    <div class="title"><h3>Categories</h3></div>
                                    <div class="widgetoptions">
                                        <div class="right"></div>
                                        @if (Model.isadmin == true)
                                        {
                                            <a id="addcat" href="javascript:0;">Add Category</a>
                                        }else
                                        {
                                            <br />
                                        }
                                    </div>
                                    <div class="widgetcontent userlistwidget nopadding">
                                        <div id="tree_category" class="tree-demo">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" id="hdn_cat_name" value="0" />
                            <input type="hidden" id="hdn_cat_id" value="0" />
                            <div class="one_half last">
                                <div class="widgetbox">
                                    <div class="title"><h3>Items</h3></div>
                                    <div class="widgetoptions">
                                        <div class="right" style="color:#666; font-weight:bold" id="selected_cat_name">@*<a href="">View All Users</a>*@</div>
                                        @if (Model.isadmin == true)
                                        {
                                            <a id="add_new_root_item" href="javascript:0;">Add New Item</a>
                                            <a id="item_image" href="javascript:0;">Item Update</a>
                                        }
                                        <a id="view_item_criteria" href="javascript:0;">View Item Criteria</a>
                                    </div>
                                    <div class="widgetcontent userlistwidget nopadding">
                                        <div id="tree_items" class="tree-demo">
                                            No Category Selected, Please select category...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            var isadmin = jQuery('#isadmin').val()
            jQuery.ajax({
                type: 'GET',
                url: "/Items/get_category_json?group_id=" + jQuery('#ddlGroupCat').find("option:selected").val(),
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    console.log(response);
                    jQuery("#tree_category")
                        .jstree({
                            "core": {
                                "themes": {
                                    "responsive": true
                                },
                                "check_callback": true,
                                'data': JSON.parse(response),
                            },
                            "types": {
                                "default": {
                                    "icon": "fa fa-folder icon-warning icon-lg"
                                },
                                "file": {
                                    "icon": "fa fa-file icon-warning icon-lg"
                                }
                            },
                            "state": { "key": "state_category" },
                            "plugins": isadmin === 'true' ? ["contextmenu", "dnd", "state", "types"] : []
                        }).on('create_node.jstree', function (e, data) {
                            var payload = { 'id': 0, 'parent': data.node.parent, 'position': data.position, 'text': data.node.text, 'group_id': jQuery('#ddlGroupCat').find("option:selected").val() }
                            jQuery.ajax({
                                url: "/Items/CrudCategory",
                                dataType: "json",
                                type: "POST",
                                data: JSON.stringify(payload),
                                contentType: 'application/json; charset=utf-8',
                                success: function (response, newValue) {
                                    console.log('Hi response')
                                    var res = JSON.parse(response);
                                    console.log(res.category_id)
                                    data.instance.set_id(data.node, res.category_id);
                                    jQuery.growl.notice({ title: "Saved", message: "Category list successfully updated." });
                                },
                                error: function (xhr, thrownError, thrownError) {
                                    var msg = "Message: " + thrownError;
                                    jQuery.growl.error({ title: "Exception", message: "Something went wrong please try again." });
                                }
                            });
                        }).on('rename_node.jstree', function (e, data) {
                            crud_category({ 'id': data.node.id, 'parent': data.node.parent, 'position': data.position, 'text': data.node.text })
                        }).on('delete_node.jstree', function (e, data) {
                            crud_category({ 'id': data.node.id, 'parent': data.node.parent, 'position': data.position, 'text': null })
                        }).on('click.jstree', function (e, data) {
                            console.log(data)


                            var tree = jQuery('#tree_category').jstree(true);
                            console.log('tree')
                            console.log(tree.get_selected())
                            var node_id = tree.get_selected()[0]

                            //tree.deselect_all();
                            //tree.refresh(false, function (state) {
                            //    console.log('state');
                            //    console.log(state);
                            //    state.core.selected = [];
                            //    return state;
                            //})
                            //jQuery('#tree_category').jstree('deselect_all');
                            //jQuery('#tree_category').jstree('refresh');

                            var _node = tree.get_node(node_id)
                            //console.log('node')
                            //console.log(node)
                            //var cat_name = node.text;

                            var id = _node.id;

                            jQuery('#hdn_cat_name').text(_node.text);
                            jQuery('#hdn_cat_id').val(id);
                            jQuery('#selected_cat_name').text('Selected Category: ' + _node.text);
                            //console.log(id)
                            load_tree_items(id)
                        });
                    //.on('create_node.jstree', function (e, data) {

                    //    //parent.node.id = arvoreClass.newId;
                    //    //parent.node.li_attr = { id: arvoreClass.newId };
                    //    console.log('hi', data);
                    //    //console.log('hi', parent);
                    //});
                    jQuery('#addcat').on("click", function () {
                        jQuery('#tree_category').jstree().create_node('#', {
                            "id": "0",
                            "text": "New Catgory"
                        }, "last", function () {

                        });

                    });
                    //jQuery('#updcat').on("click", function () {
                    //    var tree = jQuery('#tree_3').jstree(true);
                    //    console.log('tree')
                    //    console.log(tree.get_allnode())
                    //});
                    ////$('#folderTree').jstree().create_node(parentid, { 'text': 'new node', 'type': 'valid_child' });
                    //jQuery('#tree_3').on('create_node.jstree', function (e, data) {
                    //    console.log('hi', data.node.text);
                    //});
                }
            });



            //jQuery('#dyntable2').dataTable({
            //    "sPaginationType": "full_numbers",
            //    "aaSortingFixed": [[0, 'asc']],
            //    "fnDrawCallback": function (oSettings) {
            //        jQuery('input:checkbox,input:radio').uniform();
            //    }
            //});
            jQuery('.dataTables_filter label input:text').addClass("form-control-sm");
            jQuery('a.fancybox').click(function () {
                jQuery.fancybox.open({
                    'content': jQuery('<div>').load(jQuery(this).attr('href')),
                    'autoScale': false,
                    'autoDimensions': true,
                    'transitionIn': 'none',
                    'transitionOut': 'none',
                    'hideOnOverlayClick': false,
                    'hideOnContentClick': false,
                    'showCloseButton': true,
                    'type': 'iframe',
                    'autoSize': false,
                    'width': 950,
                    'height': 500,
                    helpers: {
                        overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
                    },
                    'afterClose': function () {
                        window.location.reload();
                    }
                });
                return false;
            });


            jQuery('#add_new_root_item').on("click", function () {
                var hdn_cat_id = jQuery('#hdn_cat_id').val();
                console.log('hdn_cat_id')
                console.log(hdn_cat_id)
                if (hdn_cat_id) {
                    console.log('in')
                    jQuery('#tree_items').jstree().create_node('#', {
                        "id": "0",
                        "text": "New Item"
                    }, "last", function () {

                    });
                    load_tree_items(hdn_cat_id)
                } else {

                    console.log('else')
                    jQuery.growl.warning({ title: "Oops", message: "Please selecte category." });
                }
            });

            jQuery('#view_item_criteria').on("click", function () {
                var hdn_cat_id = jQuery('#hdn_cat_id').val();
                console.log('hdn_cat_id')
                console.log(hdn_cat_id)

                var tree = jQuery('#tree_items').jstree(true);
                console.log('tree')
                console.log(tree.get_selected())
                var node_id = tree.get_selected()[0]

                //tree.deselect_all();
                if (node_id) {
                    load_tree_tests(tree.get_node(node_id))
                }
                else {
                    jQuery.growl.warning({ title: "Oops", message: "Please selecte item." });
                }
            });
            jQuery('#item_image').on("click", function () {
                var tree = jQuery('#tree_items').jstree(true);
                console.log('tree')
                console.log(tree.get_selected())
                var node_id = tree.get_selected()[0]

                //tree.deselect_all();
                if (node_id) {
                    open_image_win(tree.get_node(node_id))
                }
                else {
                    jQuery.growl.warning({ title: "Oops", message: "Please selecte item." });
                }
            });
        });

        function crud_category(payload) {
            var res = {}
            jQuery.ajax({
                url: "/Items/CrudCategory",
                dataType: "json",
                type: "POST",
                data: JSON.stringify(payload),
                contentType: 'application/json; charset=utf-8',
                success: function (response, newValue) {
                    console.log(response)
                    res = response;
                    jQuery.growl.notice({ title: "Saved", message: "Item list successfully update." });
                },
                error: function (xhr, thrownError, thrownError) {
                    var msg = "Message: " + thrownError;
                    jQuery.growl.error({ title: "Exception", message: "Something went wrong please try again." });
                }
            });
            return res;
        }

        function load_tree_items(id) {

            var isadmin = jQuery('#isadmin').val()
            //console.log('node')
            //console.log(node)
            //var cat_name = node.text;
            //var id = node.id;
            //console.log(id)
            jQuery('#tree_items').parent().html('<div id="tree_items" class="tree-demo">Please select category</div>');
            jQuery.ajax({
                type: 'GET',
                url: "/Items/get_category_items?id=" + id,
                dataType: "json",
                contentType: "application/json",
                success: function (response) {
                    console.log(response);
                    jQuery("#tree_items")
                        .jstree({
                            "core": {
                                "themes": {
                                    "responsive": false
                                },
                                "check_callback": true,
                                'data': JSON.parse(response),
                            },
                            "types": {
                                "default": {
                                    "icon": "fa fa-file icon-warning icon-lg"
                                },
                                "file": {
                                    "icon": "fa fa-file icon-warning icon-lg"
                                }
                            },
                            "state": { "key": "state_items" },
                            "plugins": isadmin === 'true' ? ["contextmenu", "dnd", "state", "types"] : [] //["contextmenu", "dnd", "state", "types"]
                        }).on('create_node.jstree', function (e, data) {
                            var payload = { 'id': 0, 'parent': data.node.parent.replace("itm_", ""), 'position': data.position, 'text': 'New Item', 'category_id': id }
                            jQuery.ajax({
                                url: "/Items/CrudItem", dataType: "json", type: "POST", data: JSON.stringify(payload),
                                contentType: 'application/json; charset=utf-8',
                                success: function (response, newValue) {
                                    var res = JSON.parse(response);
                                    data.instance.set_id(data.node, res.category_id);
                                    jQuery.growl.notice({ title: "Saved", message: "Item has been created." });
                                    load_tree_items(res.category_id)
                                },
                                error: function (xhr, thrownError, thrownError) {
                                    var msg = "Message: " + thrownError;
                                    jQuery.growl.error({ title: "Exception", message: "Something went wrong please try again." });
                                }
                            });
                        }).on('rename_node.jstree', function (e, data) {
                            console.log(data.node)
                            var payload = { 'id': data.node.id.replace("itm_", ""), 'parent': data.node.parent.replace("itm_", ""), 'position': data.position, 'text': data.node.text, 'category_id': id }
                            jQuery.ajax({
                                url: "/Items/CrudItem", dataType: "json", type: "POST", data: JSON.stringify(payload),
                                contentType: 'application/json; charset=utf-8',
                                success: function (response, newValue) {
                                    jQuery.growl.notice({ title: "Saved", message: "Item has been updated." });
                                    load_tree_items(res.category_id)
                                },
                                error: function (xhr, thrownError, thrownError) {
                                    var msg = "Message: " + thrownError;
                                    jQuery.growl.error({ title: "Exception", message: "Something went wrong please try again." });
                                }
                            });
                        }).on('delete_node.jstree', function (e, data) {
                            var payload = { 'id': data.node.id.replace("itm_", ""), 'parent': data.node.parent.replace("itm_", ""), 'position': data.position, 'text': null, 'category_id': id }
                            jQuery.ajax({
                                url: "/Items/CrudItem", dataType: "json", type: "POST", data: JSON.stringify(payload),
                                contentType: 'application/json; charset=utf-8',
                                success: function (response, newValue) {
                                    jQuery.growl.notice({ title: "Saved", message: "Item has been deleted." });
                                },
                                error: function (xhr, thrownError, thrownError) {
                                    var msg = "Message: " + thrownError;
                                    jQuery.growl.error({ title: "Exception", message: "Something went wrong please try again." });
                                }
                            });
                        }).on('click.jstree', function (e, data) {
                            console.log(data)


                            var tree = jQuery('#tree_items').jstree(true);
                            console.log('tree')
                            console.log(tree.get_selected())
                            var node_id = tree.get_selected()[0]

                            //tree.deselect_all();
                            //load_tree_tests(tree.get_node(node_id))
                        });;
                }
            });
        }
        function load_tree_tests(node) {
            var item_name = node.text;
            var id = node.id.replace('itm_', '');
            //alert(id)
            var url = "/items/win_item_tests?id=" + id;
            jQuery.fancybox.open({
                'content': jQuery('<div>').load(url),
                'autoScale': false,
                'autoDimensions': true,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'hideOnOverlayClick': false,
                'hideOnContentClick': false,
                'showCloseButton': true,
                'type': 'iframe',
                'autoSize': false,
                'width': 750,
                'height': 350,
                helpers: {
                    overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
                },
                'afterClose': function () {
                    //window.location.reload();
                }
            });
            return false;
        }

        function open_image_win(node) {
            var item_name = node.text;
            var id = node.id.replace('itm_', '');
            //alert(id)
            var url = "/items/win_item_image?id=" + id;
            jQuery.fancybox.open({
                'content': jQuery('<div>').load(url),
                'autoScale': false,
                'autoDimensions': true,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'hideOnOverlayClick': false,
                'hideOnContentClick': false,
                'showCloseButton': true,
                'type': 'iframe',
                'autoSize': false,
                'width': 750,
                'height': 350,
                helpers: {
                    overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
                },
                'afterClose': function () {
                    //window.location.reload();
                }
            });
            return false;
        }

    </script>
