﻿@model web_app.Models.LinkTests
@{
    ViewBag.Title = "LinkTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("..//partial//_side_menu", null, new ViewDataDictionary { { "_current", "Items" } })

<div class="centercontent" style="padding:5px 0px">
    <div class="pageheader notab">
        <h1 class="pagetitle">LINK INSPECTION CRITERIA</h1>
        <span class="pagedesc">To select an item, and assign tests to selected item.</span>
    </div><!--pageheader-->

    <div id="contentwrapper" class="contentwrapper nopadding">

        <div class="filemgr">
            <div class="filemgr_left">
                <div class="filemgr_head">
                    <ul class="filemgr_menu">
                        <li><a class="prev prev_disabled"></a></li>
                        <li><a class="next next_disabled"></a></li>
                        <li class="marginleft20"><a class="selectall">Select All</a></li>
                        @*
                        <li class="marginleft20 newfoldbtn"><a class="newfolder" title="Add New Foldr"></a></li>*@
                        <li class="marginleft5 trashbtn"><a class="trash trash_disabled" title="Trash"></a></li>
                        @*
                        <li class="marginleft5 viewfilebtn"><a class="preview preview_disabled">View File</a></li>*@

                        <li class="marginleft20 filesearch">
                            <span class="field">
                                @using (Html.BeginForm("flt_category", "Items", null, FormMethod.Post, null))
                                {
                                @Html.DropDownList("ddlCat", ViewBag.list_category as SelectList, "Select Category...", new { @class = "form-control", onchange = "this.form.submit();", style = " height:32px;width:190px" })
                                }
                            </span>
                        </li>
                        <li class="marginleft20 filesearch">
                            <span class="field">
                                @using (Html.BeginForm("flt_items", "Items", new { cat_id = Model.cat_id, keyword = Model.keyword }, FormMethod.Post, null))
                                {
                                @Html.DropDownList("ddlItems", ViewBag.list_items as SelectList, "Select Item...", new { @class = "form-control", onchange = "this.form.submit();", style = " height:32px;width:190px" })
                                }
                            </span>
                        </li>
                        <li class="marginleft20 filesearch">

                            <span class="field">
                                @using (Html.BeginForm("search_tests", "Items", new { cat_id = Model.cat_id, itm_id = Model.itm_id }, FormMethod.Post, null))
                                {
                                @Html.TextBox("txt_search", Model.keyword, new { @class = "form-control", onchange = "this.form.submit();",placeholder = "Enter search text" })
                                }
                            </span>
                        </li>
                        @*<li class="right newfilebtn"><a href="javascript:show_win()" class="newfilebutton radius2">Add New Test</a></li>*@
                    </ul>
                    <span class="clearall"></span>
                </div><!--filemgr_head-->
                <!--div class="filemgr_category">
                    <ul>
                        <li class="current"><a href="">All</a></li>
                        <li><a href="">Images</a></li>
                        <li><a href="">Video</a></li>
                        <li><a href="">Audio</a></li>
                        <li><a href="">Documents</a></li>
                        <li class="right"><span class="pagenuminfo">Showing 1 - 20 of 69</span></li>
                    </ul>
                <div>-->

                <div class="filemgr_content">

                    <small>
                        <strong>
                            <em>Tips: Hold Control key to select multiple test. To assign test, select one item and click >> button to link test, link tests are on the right.</em>
                        </strong>
                    </small>

                    <br /><br />
                    @if (Model.cat_id != null && Model.itm_id != null)
                    {
                    <p>
                        <span id="dualselect" class="dualselect">
                            <select class="uniformselect" name="select3" multiple="multiple" size="10" style="min-height:400px">
                                @foreach (web_app.Models.TestModel _test in Model.tests_list)
                                {
                                <option value="@_test.test_id">@_test.test_description</option>
                                }
                            </select>
                            <span class="ds_arrow">
                                <span class="arrow ds_prev">&laquo;</span>
                                <span class="arrow ds_next">&raquo;</span>
                            </span>
                            <select name="select4" multiple="multiple" size="10" style="min-height:400px">
                                @foreach (web_app.Models.TestModel _test in Model.linked_tests)
                                {
                                <option value="@_test.test_id">@_test.test_description</option>
                                }
                            </select>
                        </span>

                    </p>
                    }

                    <br clear="all" />

                </div><!--filemgr_content-->

            </div><!--filemgr_left -->
            <!-- <div class="filemgr_right">
                <div class="filemgr_rightinner">
                    <div class="contenttitle2" style="margin-top: 0">
                        <h3>Actions</h3>
                    </div>
                    <ul class="menuright">
                        <li><a href=""><i class="fa fa-recycle"></i> Reset Test Items</a></li>
                        <li><hr /></li>
                        <li><a href=""><i class="fa fa-download"></i> Export All Test</a></li>
                        <li><a href=""><i class="fa fa-download"></i> Export Item Test</a></li>
                    </ul>
                </div>
            </div>filemgr_right -->
            <br clear="all" />
        </div><!--filemgr-->
    </div>
</div>
<script type="text/javascript">


    jQuery(document).ready(function ($) {
        
        ///// DUAL BOX /////
        var db = jQuery('#dualselect').find('.ds_arrow .arrow');	//get arrows of dual select
        var sel1 = jQuery('#dualselect select:first-child');		//get first select element
        var sel2 = jQuery('#dualselect select:last-child');			//get second select element

        //sel2.empty(); //empty it first from dom.

        db.click(function () {
            var t = (jQuery(this).hasClass('ds_prev')) ? 0 : 1;	// 0 if arrow prev otherwise arrow next
            if (t) {
                sel1.find('option').each(function () {
                    if (jQuery(this).is(':selected')) {
                        jQuery(this).attr('selected', false);
                        var op = sel2.find('option:first-child');
                        var _id = jQuery(this).val();
                        toggle_link(_id);
                        sel2.append(jQuery(this));
                    }
                });
            } else {
                sel2.find('option').each(function () {
                    if (jQuery(this).is(':selected')) {
                        jQuery(this).attr('selected', false);
                        var _id = jQuery(this).val();
                        toggle_link(_id);
                        sel1.append(jQuery(this));
                    }
                });
            }
        });
    });

    function toggle_link(test_id) {
        var item_id = jQuery('#ddlItems').val();
        jQuery.ajax({
            url: '/items/ToggleLink',
            dataType: "json",
            type: "POST",
            data: JSON.stringify({ item_id: item_id.replace('itm_', ''), test_id: test_id }),
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false,
            cache: false,
            success: function (data) {

                var msg = "Change sucessfully commited";
                jQuery.growl.notice({ title: "Saved", message: msg });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                var msg = "Error";
                jQuery.growl.error({ title: "Error", message: msg });
            }
        });
    }


    function show_win() {

        var url = "/items/win_add_test";
        jQuery.fancybox.open({
            'content': jQuery('<div>').load(url),
            'autoScale': false,
            'autoDimensions': true,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'hideOnOverlayClick': false,
            'hideOnContentClick': false,
            'showCloseButton': true,
            'type': 'iframe',
            'autoSize': false,
            'width': 750,
            'height': 350,
            helpers: {
                overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
            },
            'afterClose': function () {
                window.location.reload();
            }
        });
        return false;
    }
</script>