﻿
@{
    ViewBag.Title = "Tests";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("..//partial//_side_menu", null, new ViewDataDictionary { { "_current", "Items" } })

<div class="centercontent" style="padding:5px 0px">

    <div class="pageheader">
        <h1 class="pagetitle">CREATE INSPECTION CRITERIA</h1>
        <span class="pagedesc">Manage list of inspection criterias </span>

    </div>

    <div id="grid" class="table table-striped stdtable"></div>

</div>


<script type="text/javascript">
    jQuery(document).ready(function () {

        jQuery('#grid').kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: {
                        url: '/items/get_tests_many',
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: 'test_id',
                        fields: {
                            id: {
                                editable: true,
                                nullable: true
                            }
                        }
                    },
                    data: function (data) {
                        return JSON.parse(data);
                    },
                    total: function (data) {
                        return (jQuery(JSON.parse(data))).length;
                    },
                },
                batch: false,
                pageSize: 20,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            toolbar: [
            {
                name: "Create",
                template:
                    '<div class="k-button form-container bg-success" id="btn_create">' +
                        '<span class="k-icon k-i-plus" style="vertical-align: middle;"></span>' +
                            'Create' +
                    '</div>' +
                    '<div class="k-button form-container bg-success" id="btn_import">' +
                        '<span class="k-icon k-i-plus" style="vertical-align: middle;"></span>' +
                            'Import Excel' +
                    '</div>' 
            },"excel"],
            columns: [
                 {
                     width: 40,
                     command: [
                         //{
                         //    name: "View",
                         //    template: '<div class="fa fa-info-circle custom_command_view" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="view(this);"></div>'
                         //},
                         {
                             name: "Change",
                             template: '<div class="fa fa-edit custom_command_change linkcolor" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="change(this);"></div>'
                         },
                         {
                             name: "Remove",
                             template: '<div class="fa fa-trash-o custom_command_remove" data-text="Remove Record" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="remove(this);"></div>'
                         }
                     ],
                     title: '&nbsp;'
                 },
                {
                    field: 'test_id',
                    title: 'test_id',
                    hidden: true,
                },
                {
                    field: "test_description",
                    title: "Test Description",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "discard",
                    title: "Discard",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "test_info",
                    title: "Filter Code",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                }
            ],
            filterable: {
                mode: "row"
            },
            sortable: true,
            pageable: true,
        });

        jQuery('#btn_create').click(function () {
            var url = "/items/win_add_test";
            show_win(url);
        });
        jQuery('#btn_import').click(function () {
            var url = "/items/win_import";
            show_win(url);
        });
    });


    function change(e) {
        var args = get_id(e);
        if (args) {
            var url = "/items/win_add_test?id=" + args;
            show_win(url);
        }
    }

    function get_id(e) {
        var id = jQuery(e.parentElement.parentElement).find('td')[1].innerText;
        if (!id) {
            var msg = "Please select record before you proceed.";
            jQuery.growl.warning({ title: "Oops", message: msg });
            return false;
        }
        return id;
    }

    function remove(e) {
        jConfirm('Are you sure you want to delete selected Test?', 'Confirm Delete', function (r) {
            if (r == true) {
                var id = get_id(e);
                var url = "/items/DeleteTestById";
                delete_record(id, url);
            }
        });
    }

    function delete_record(id, url) {
        jQuery.ajax({
            url: url,
            dataType: "json",
            type: "POST",
            data: JSON.stringify({
                test_id: id,
            }),
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (response, newValue) {
                var data = JSON.parse(response);
                console.log(response)
                console.log(data.test_id)
                console.log(data.test_id !== 0)
                if (data.test_id !== 0) {
                    jQuery.growl.notice({ title: "Confirm", message: "Criteria successully deleted" });
                    window.location.reload();
                }
                else {
                    var msg = data.message;
                    jQuery.growl.warning({ title: "Oops", message: "Delete failed, criteria linked to item." });
                }
            },
            error: function (xhr, thrownError, thrownError) {
                var msg = "Message: " + thrownError;
                jQuery.growl.error({ title: "Exception", message: msg });
            }
        });
    }
    function show_win(url) {
        jQuery.fancybox.open({
            'content': jQuery('<div>').load(url),
            'autoScale': false,
            'autoDimensions': true,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'hideOnOverlayClick': false,
            'hideOnContentClick': false,
            'showCloseButton': true,
            'type': 'iframe',
            'autoSize': false,
            'width': 750,
            'height': 350,
            helpers: {
                overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
            },
            'afterClose': function () {
                window.location.reload();
            }
        });
        return false;
    }
</script>
