﻿@model web_app.Models.Items
@{
    ViewBag.Title = "win_add_test";
    Layout = "~/Views/Shared/_Popup.cshtml";
}


<div class="centercontent1">

    <div class="pageheader">
        <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">Item Update</h1>
            <span class="pagedesc">Complete form with details to update</span>
        </div>
    </div><!--pageheader-->
    <div id="contentwrapper" class="contentwrapper" style="background-color: #fff !important">
        <form class="stdform" action="" id="form">
            <input type="hidden" name="id" id="id" value="@Model.item_id" />
            <table class="table">

                <tr>
                    <td style="width:100px">Standard Code</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="code" id="code" class="longinput" value="@Model.std_code" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Select Image</td>
                    <td style="width:10px"></td>
                    <td><input type="file" name="image" id="image" class="form-control" style="width:300px !important" /></td>
                </tr>
                @{
                    if (Model.imgDataURL != null)
                    {
                        <tr>
                            <td style="width:100px">Item Image</td>
                            <td style="width:10px"></td>
                            <td><img style="width:50px; height: 40px" src="@Model.imgDataURL" /></td>
                        </tr>
                    }
                }
            </table>
                    <div class="alignright">
                        <input type="button" id="btn_save" class="btn btn-primary" value="Update Item" />
                    </div>
        </form>
    </div>
</div>


<script type="text/javascript">

    jQuery(document).ready(function () {

     
        jQuery('#chkSplit').click(function () {
            if (jQuery(this).is(':checked')) {
                jQuery('#trSplit').show();
            }
            else {
                jQuery('#trSplit').hide();
            }
        });
        jQuery("#btn_save").click(function () {
            var file = jQuery('#image').prop('files')[0]
            var bs_img = null;

            if (file) {
                var rd = new FileReader();
                rd.readAsDataURL(file);
                rd.onload = function () {
                    console.log(rd.result)
                    bs_img = rd.result;
                    dosave(bs_img);
                };
                rd.onerror = function () {
                    console.log('Err');
                }
            } else {
                dosave(bs_img);
            }
        });
    });

    function dosave(bs_img) {

        var data = {
            item_id: jQuery('#id').val(),
            std_code: jQuery('#code').val(),
            image: bs_img ? bs_img.replace('data:image/png;base64,', '') : bs_img
        }

        console.log(data)
        jQuery.ajax({
            url: '/Items/PostUpdateItemImage',
            dataType: "json",
            type: "POST",
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            success: function (response, newValue) {
                var data = JSON.parse(response);
                if (data.code == 1) {
                    var msg = data.message;
                    jQuery.growl.notice({ title: "Saved", message: msg });
                }
                else {
                    var msg = "Oops: " + data.message;
                    jQuery.growl.warning({ title: "Failed", message: msg });
                }
            },
            error: function (xhr, thrownError, thrownError) {
                var msg = "Message: " + thrownError;
                jQuery.growl.error({ title: "Exception", message: msg });
            }
        });
    }

</script>




