﻿
@{
    ViewBag.Title = "win_import";
    Layout = "~/Views/Shared/_Anon.cshtml";
}


<div class="centercontent1">

    <div class="pageheader">
        <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">Import</h1>
            <span class="pagedesc">Select excel file to upload</span>
        </div>
    </div><!--pageheader-->
    <div id="contentwrapper" class="contentwrapper" style="background-color: #fff !important">
        <form class="stdform" action="" id="form">
            <div>
                <input type="file" id="btn_upload" class="btn btn-primary" value="Upload" name="files[]" />
            </div>
        </form>
        <br />
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable table" id="import_tbl">
            <colgroup>
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
                <col class="con1" />
            </colgroup>
            <thead>
                <tr>
                    <th class="head0">Test Description</th>
                    <th class="head0">Discard</th>
                    <th class="head1">Filter Code</th>
                    <th class="head1 nosort">Actions</th>
                </tr>
            </thead>
            <tbody id="tr_line">
                @*@foreach (web_app.Models.TestModel item in Model)
                    {
                        <tr class="gradeX">
                            <td>@item.test_description</td>
                            <td>@item.discard</td>
                            <td>@item.test_info</td>
                            <td style="padding:1px; line-height:0">
                                <ul class="buttonlist" style="margin:0px !important">
                                    <li>
                                        <a href="javascript:del_test(@item.test_id)">
                                            <i class="fa fa-trash"></i> Remove
                                        </a>
                                    </li>

                                </ul>
                            </td>
                        </tr>
                    }*@
            </tbody>
        </table>

        <div class="alignright">
            <input type="button" id="btn_save" class="btn btn-primary" value="Save Details" />
        </div>
    </div>
</div>
@*<script src="https:/ /ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>

<script type="text/javascript">

    jQuery(document).ready(function () {

        jQuery("#btn_save").click(function () {
            //collect form data

            var rows = [];

            jQuery("table#import_tbl tr").each(function () {
                var arrayOfThisRow = [];
                var tableData = jQuery(this).find('td');
                if (tableData.length > 0) {
                    tableData.each(function () { arrayOfThisRow.push(jQuery(this).text()); });
                    rows.push(arrayOfThisRow);
                }
            });

            for (x of rows) {
                var data = {
                    test_description: x[0],
                    discard: x[1],
                    test_info: x[2],
                };
                console.log(data)
                jQuery.ajax({
                    url: '/items/CrudTest',
                    dataType: "json",
                    type: "POST",
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=utf-8',
                    success: function (response, newValue) {
                        var res = JSON.parse(response);
                console.log(res)
                        if (res.code == 1) {
                            var msg = res.message;
                            jQuery.growl.notice({ title: "Saved", message: msg });
                        }
                        else {
                            var msg = "Oops: " + res.message;
                            jQuery.growl.notice({ title: "Saved", message: "Changes successully commited" });
                        }
                    },
                    error: function (xhr, thrownError, thrownError) {
                        var msg = "Message: " + thrownError;
                        jQuery.growl.error({ title: "Exception", message: msg });
                    }
                });
            }
            // alert(rows.toSource());
            //jQuery('#tr_line')
            //var data = {
            //    test_id: jQuery('#id').val(),
            //    test_description: jQuery('#desc').val(),
            //    discard: jQuery('#discard').val(),
            //    test_info: jQuery('#info').val(),
            //};
            //console.log(myTableArray)
            //jQuery.ajax({
            //    url: '/items/CrudTest',
            //    dataType: "json",
            //    type: "POST",
            //    data: JSON.stringify(data),
            //    contentType: 'application/json; charset=utf-8',
            //    success: function (response, newValue) {
            //        var data = JSON.parse(response);
            //        if (data.code == 1) {
            //            var msg = data.message;
            //            jQuery.growl.notice({ title: "Saved", message: msg });
            //        }
            //        else {
            //            var msg = "Oops: " + data.message;
            //            //jQuery.growl.warning({ title: "Failed", message: msg });
            //            jQuery.growl.notice({ title: "Saved", message: "Changes successully commited" });
            //        }
            //    },
            //    error: function (xhr, thrownError, thrownError) {
            //        var msg = "Message: " + thrownError;
            //        jQuery.growl.error({ title: "Exception", message: msg });
            //    }
            //});
        });
    });
    var ExcelToJSON = function () {

        this.parseExcel = function (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var data = e.target.result;
                var workbook = XLSX.read(data, {
                    type: 'binary'
                });
                workbook.SheetNames.forEach(function (sheetName) {
                    // Here is your object
                    var XL_row_object = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheetName]);
                    var json_object = JSON.stringify(XL_row_object);
                    for (x of JSON.parse(json_object)) {
                        jQuery('#tr_line').append('<tr class="gradeX">' +
                            '<td>' + x.test + '</td>' +
                            '<td>' + x.info + '</td>' +
                            '<td>' + x.code + '</td>' +
                            '<td style="padding:1px; line-height:0">' +
                            '<input type="checkbox" />' +
                            '</td>' +
                            '</tr>')
                    }
                    //console.log(JSON.parse(json_object));
                    //jQuery('#xlx_json').val(json_object);
                })
            };

            reader.onerror = function (ex) {
                console.log(ex);
            };

            reader.readAsBinaryString(file);
        };
    };

    function handleFileSelect(evt) {

        var files = evt.target.files; // FileList object
        var xl2json = new ExcelToJSON();
        xl2json.parseExcel(files[0]);
    }
    document.getElementById('btn_upload').addEventListener('change', handleFileSelect, false);
</script>