﻿@model IEnumerable<web_app.Models.TestModel>
@{
    ViewBag.Title = "win_item_tests";
    Layout = "~/Views/Shared/_Popup.cshtml";
}


<div class="centercontent0" style="padding:5px  0px">

    <div class="pageheader">
        <h1 class="pagetitle">Item Criteria List</h1>
        <span class="pagedesc">List of criteria assigned to the item</span>

    </div>
    <table cellpadding="0" cellspacing="0" border="0" class="stdtable table" id="dyntable2">
            <colgroup>
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
                @*<col class="con1" />*@
            </colgroup>
            <thead>
                <tr>
                    @*<th class="head0 nosort" style="width:4px"></th>*@
                    <th class="head0">Test Description</th>
                    <th class="head0">Discard</th>
                    <th class="head1">Filter Code</th>
                    <th class="head1 nosort">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (web_app.Models.TestModel item in Model)
                {
                    <tr class="gradeX">
                        <td>@item.test_description</td>
                        <td>@item.discard</td>
                        <td>@item.test_info</td>
                        <td style="padding:1px; line-height:0">
                            <ul class="buttonlist" style="margin:0px !important">
                                <li><a href="javascript:del_test(@item.test_id)">
                                        <i class="fa fa-trash"></i> Remove
                                    </a></li>

                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
</div>



<script type="text/javascript">

    function del_test(id) {
        var data = {
            id: id
        };

        console.log(data)
        jQuery.ajax({
            url: '/items/UnlinkTest',
            dataType: "json",
            type: "POST",
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            success: function (response, newValue) {
                var data = JSON.parse(response);
                if (data.code == 1) {
                    var msg = data.message;
                    jQuery.growl.notice({ title: "Saved", message: msg });
                }
                else {
                    var msg = "Oops: " + data.message;
                    //jQuery.growl.warning({ title: "Failed", message: msg });
                    jQuery.growl.notice({ title: "Saved", message: "Changes successully commited" });
                }
            },
            error: function (xhr, thrownError, thrownError) {
                var msg = "Message: " + thrownError;
                jQuery.growl.error({ title: "Exception", message: msg });
            }
        });
    }

</script>



