﻿@model web_app.Models.TestModel
@{
    ViewBag.Title = "win_add_test";
    Layout = "~/Views/Shared/_Popup.cshtml";
}


<div class="centercontent1">

    <div class="pageheader">
        <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">Test Details</h1>
            <span class="pagedesc">Complete the form with new test details</span>
        </div>
    </div><!--pageheader-->
    <div id="contentwrapper" class="contentwrapper" style="background-color: #fff !important">
        <form class="stdform" action="" id="form">
            <input type="hidden" name="id" id="id" value="@Model.test_id" />
            <table class="table">

                <tr>
                    <td style="width:100px">Test Decsription</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="desc" id="desc" class="longinput" value="@Model.test_description" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Discard</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="discard" id="discard" class="longinput" value="@Model.discard" /></td>
                </tr>
                <tr>
                    <td>Filter Code</td>
                    <td></td>
                    <td><input type="text" name="info" id="info" class="longinput" value="@Model.test_info" /></td>
                </tr>
                @*<tr>
                    <td>Role Department</td>
                    <td></td>
                    <td>
                        @Html.DropDownList("ddlDept", ViewBag.list_dept as SelectList, "Select Department...", new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>Is Role Active</td>
                    <td></td>
                    <td>
                        @Html.CheckBox("chkActive")
                    </td>
                </tr>*@
            </table>
            <div class="alignright">
                <input type="button" id="btn_save" class="btn btn-primary" value="Save Details" />
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">

    jQuery(document).ready(function () {

      
        jQuery('#chkSplit').click(function () {
            if (jQuery(this).is(':checked')) {
                jQuery('#trSplit').show();
            }
            else {
                jQuery('#trSplit').hide();
            }
        });
        jQuery("#btn_save").click(function(){
            //collect form data
            var data = {
                test_id: jQuery('#id').val(),
                test_description: jQuery('#desc').val(),
                discard: jQuery('#discard').val(),
                test_info: jQuery('#info').val(),
            };
            console.log(data)
            jQuery.ajax({
                url: '/items/CrudTest',
                dataType: "json",
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (response, newValue) {
                    var data = JSON.parse(response);
                    if (data.code == 1) {
                        var msg = data.message;
                        jQuery.growl.notice({ title: "Saved", message: msg });
                    }
                    else {
                        var msg = "Oops: " + data.message;
                        //jQuery.growl.warning({ title: "Failed", message: msg });
                        jQuery.growl.notice({ title: "Saved", message: "Changes successully commited" });
                    }
                },
                error: function (xhr, thrownError, thrownError) {
                    var msg = "Message: " + thrownError;
                    jQuery.growl.error({ title: "Exception", message: msg });
                }
            });
        });
    });

</script>



