﻿@model web_app.Models.CompanyAsset
@{
    ViewBag.Title = "AddAsset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("..//partial//_side_menu", null, new ViewDataDictionary { { "_current", "Company" } })

<div class="centercontent">

    <div class="pageheader">
        <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">ADD ASSET CRITERIA</h1>
            <span class="pagedesc">Enter details of the item</span>
        </div>
    </div><!--pageheader-->
    <div id="contentwrapper" class="contentwrapper" style="background-color: #fff !important">
        <div class="stdform">
            <table class="table">
                <tr>
                    <td>Category</td>
                    <td>&nbsp;</td>
                    <td>
                        @using (Html.BeginForm("filter_category", "Company", new { itm_id = Model.item_id, cert_id = Model.cert_id, test_id = Model.test_id, insp_id = Model.insp_id, man_id = Model.man_id, ass_id = Model.ass_id }, FormMethod.Post, null))
                        {
                            @Html.DropDownList("ddlCat", ViewBag.list_category as SelectList, "Select Category...", new { @class = "form-control longinput", onchange = "this.form.submit();", style = " height:32px;width:190px" })
                        }
                    </td>
                    <td>&nbsp;</td>
                    <td>Item</td>
                    <td>&nbsp;</td>
                    <td>
                        @using (Html.BeginForm("filter_item", "Company", new { cat_id = Model.category_id, cert_id = Model.cert_id, test_id = Model.test_id, insp_id = Model.insp_id, man_id = Model.man_id, ass_id = Model.ass_id }, FormMethod.Post, null))
                        {
                            @Html.DropDownList("ddlItems", ViewBag.list_items as SelectList, "Select Item...", new { @class = "form-control", onchange = "this.form.submit();", style = " height:32px;width:190px" })
                        }
                    </td>
                </tr>
                <tr>
                    <td>Inspector Certification</td>
                    <td>&nbsp;</td>
                    <td>
                        @Html.DropDownList("ddlCertificate", ViewBag.list_certification as SelectList, "Select Certification...", new { @class = "form-control", style = " height:32px;width:190px" })
                    </td>
                    <td>&nbsp;</td>
                    <td>Item Image</td>
                    <td>&nbsp;</td>
                    <td><img style="width:50px; height: 40px" src="@Model.imgDataURL" /></td>
                </tr>
                <tr>
                    <td>Inspection Cycles </td>
                    <td>&nbsp;</td>
                    <td>
                        @Html.DropDownList("ddlInpectionCycle", ViewBag.list_inpectioncycle as SelectList, "Select Inpection Cylce...", new { @class = "form-control", style = " height:32px;width:190px" })
                    </td>
                    <td>&nbsp;</td>
                    <td>Load Test Cycle</td>
                    <td>&nbsp;</td>
                    <td>
                        @Html.DropDownList("ddlTestCycle", ViewBag.list_testcycle as SelectList, "Select Load Test Cycle...", new { @class = "form-control", style = " height:32px;width:190px" })
                    </td>
                </tr>
                <tr>
                    <td>Asset Manufacture</td>
                    <td>&nbsp;</td>
                    <td>
                        @Html.DropDownList("ddlMan", ViewBag.list_man as SelectList, "Select Manufacture...", new { @class = "form-control", style = " height:32px;width:190px" })
                    </td>
                    <td>&nbsp;</td>
                    <td>Select Supplier</td>
                    <td>&nbsp;</td>
                    <td>
                        @Html.DropDownList("ddlSupplier", ViewBag.list_supplier as SelectList, "Select Supplier...", new { @class = "form-control", style = " height:32px;width:190px" })
                    </td>
                </tr>
                <tr>
                    <td>Item - Description</td>
                    <td>&nbsp;</td>
                    <td><input type="text" name="itemdesc" id="itemdesc" class="form-control" style="width:300px !important" /></td>
                    <td>&nbsp;</td>
                    <td>Standard Code</td>
                    <td>&nbsp;</td>
                    <td><input type="text" name="stdcode" id="stdcode" class="form-control" style="width:300px !important" readonly="readonly" value="@Model.std_code" /></td>
                </tr>
                <tr>
                    <td>Item WLL in Ton</td>
                    <td>&nbsp;</td>
                    <td><input type="text" name="sizeton" id="sizeton" class="form-control " required="required" style="width:300px !important" /></td>
                    <td>&nbsp;</td>
                    <td>Item Size in mm</td>
                    <td>&nbsp;</td>
                    <td><input type="text" name="sizemm" id="sizemm" class="form-control" style="width:300px !important" /></td>
                </tr>
                <tr>
                    <td>Item Size in meter</td>
                    <td>&nbsp;</td>
                    <td><input type="text" name="sizemeter" id="sizemeter" class="form-control" style="width:300px !important" /></td>
                </tr>
                <tr style="display:none">
                    <td>Set Operation Times</td>
                    <td>&nbsp;</td>
                    <td>
                        @Html.CheckBox("chkSplit")
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr style="display:none" id="trsplite">
                    <td>Time From</td>
                    <td>&nbsp;</td>
                    <td><input type="time" name="timefrom" id="timefrom" class="longinput" /></td>
                    <td>&nbsp;</td>
                    <td>Time To</td>
                    <td>&nbsp;</td>
                    <td><input type="time" name="timeto" id="timeto" class="longinput" /></td>
                </tr>
            </table>
            <div class="alignright bg-info" style="padding: 15px">
                <input type="button" id="btn_save" class="btn btn-primary " value="Save Details" />
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    jQuery(document).ready(function () {

        ///// FORM VALIDATION /////
        //jQuery("#stdform").validate({
        //    rules: {
        //        sizeton: "required",
        //        email: {
        //            required: true,
        //            email: true,
        //        }
        //    },
        //    messages: {
        //        sizeton: "Please enter your first name",
        //        email: "Please enter a valid email address"
        //    }
        //});


        jQuery("#timefrom,#timeto,#splitfrom,#splitto").kendoTimePicker();

        jQuery("#nonbillminutes").kendoNumericTextBox({
            format: "#.00 min"
        });

        jQuery('#chkSplit').change(function () {
            debugger
            var chk = this;
            if (chk.checked) {
                jQuery('#trsplite').show();
            }
            else {
                jQuery('#trsplite').hide();
            }
        });

        jQuery('#btn_save').click(function () {
            dosave();
            //var file = jQuery('#image').prop('files')[0]
            //var bs_img = null;

            //var rd = new FileReader();
            //rd.readAsDataURL(file);
            //rd.onload = function () {
            //    console.log(rd.result)
            //    bs_img = rd.result;
            //    dosave(bs_img);
            //};
            //rd.onerror = function () {
            //    console.log('Err');
            //}
        });
    });

    function dosave() {

        var data =
            {
               /// asset_id: jQuery('#asset_id').val(),
                asset_name: jQuery('#stdcode').val(),
                asset_description: jQuery('#itemdesc').val(),
                //image: bs_img.replace('data:image/png;base64,',''),
                category_id: jQuery('#ddlCat').find("option:selected").val(),
                item_id: jQuery('#ddlItems').find("option:selected").val().replace('itm_', ''),
                cert_id: jQuery('#ddlCertificate').find("option:selected").val(),
                inspection_cycle_id: jQuery('#ddlInpectionCycle').find("option:selected").val(),
                load_test_cycle_id: jQuery('#ddlTestCycle').find("option:selected").val(),
               // ass_id: jQuery('#ddlAssets').find("option:selected").val(),
                man_id: jQuery('#ddlMan').find("option:selected").val(),
                size_ton: jQuery('#sizeton').val(),
                size_meter: jQuery('#sizemeter').val(),
                size_mm: jQuery('#sizemm').val(),
            }

        console.log(data)
        jQuery.ajax({
            url: '/Company/SaveOrUpdateAsset',
            headers: {
                'token': '0Um1EB58as5We6quii5XGnmsbtBsb5La',
                'Content-Type': 'application/json'
            },
            dataType: "json",
            type: "POST",
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            async: true,
            success: function (response, newValue) {
                var data = JSON.parse(response);
                if (data.code == 1) {
                    var msg = data.message;
                    jQuery.growl.notice({ title: "Saved", message: msg });
                }
                else {
                    var msg = "Oops: " + data.message;
                    jQuery.growl.warning({ title: "Failed", message: msg });
                }
            },
            error: function (xhr, thrownError, err) {
                console.log(xhr)
                console.log(thrownError)
                console.log(err)
                var msg = "Message: " + err;
                jQuery.growl.error({ title: "Exception", message: msg });
            }
        });
    }

    function check() {
        var chk = jQuery('#chkSplit')[0].checked;
        if (chk) {
            jQuery('#trsplite').show();
        }
        else {
            jQuery('#trsplite').hide();
        }
    } check();
</script>
