﻿@model IEnumerable<web_app.Models.CompanyAsset>
@{
    ViewBag.Title = "AddAssetTag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("..//partial//_side_menu", null, new ViewDataDictionary { { "_current", "Company" } })

    <div class="centercontent">

        <div class="pageheader">
            <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
            <div class="profiletitle">
                <h1 class="pagetitle">Link Tag</h1>
                <span class="pagedesc">Add tags and link to asset</span>
            </div>
        </div><!--pageheader-->

        <div id="grid"></div>
        @*<table class="table table-bordered" id="tblManageShifts">
            <colgroup>
                <col class="con0" style="width:70px" />
                <col class="con1" />
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
                <col class="con1" style="width:120px" />
            </colgroup>
            <thead>
                <tr>
                    <th class="head1">Image</th>
                    <th class="head0 nosort "><strong>Std Code</strong></th>
                    <th class="head1 nosort "><strong>Item Name</strong></th>
                    <th class="head0 nosort "><strong>Item Desc</strong></th>
                    <th class="head1 nosort "><strong>Category</strong></th>
                    <th class="head0 nosort "><strong>Inpection Cycle</strong></th>
                    <th class="head1 nosort "><strong>Certification</strong></th>
                    <th class="head0 nosort "><strong>Manufacture</strong></th>
                    <th class="head1 nosort "><strong>Size WLL in Ton</strong></th>
                    <th class="head0 nosort "><strong>Size in Meter</strong></th>
                    <th class="head1 nosort "><strong>Size in mm</strong></th>
                    <th class="head0 nosort "><strong>Actions</strong></th>
                </tr>
            </thead>
            <tbody>
                @foreach (web_app.Models.CompanyAsset _item in Model)
                {
                    <tr class="line_items">
                        <td style="line-height: 9px !important; padding: 2px;width:50px;">
                            <img style="width:50px; height: 40px" src="@_item.imgDataURL" />
                        </td>
                        <td>@_item.asset_name</td>
                        <td>@_item.item_name</td>
                        <td>@_item.asset_description</td>
                        <td>@_item.category_name</td>
                        <td>@_item.insp_cycle</td>
                        <td>@_item.certification</td>
                        <td>@_item.company_name </td>
                        <td>@_item.size_ton </td>
                        <td>@_item.size_meter </td>
                        <td>@_item.size_mm </td>
                        <td style="padding:1px; line-height:0">
                            <ul class="buttonlist" style="margin:0px !important">
                                <li style="margin:1px"><a href="javascript:add_tag(@_item.asset_id)" class="btn btn-default">Add</a></li>
                                <li style="margin:1px"><a href="javascript:view_tags(@_item.asset_id)" class="btn btn-info">View</a></li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@


    </div>


<script type="text/javascript">
    jQuery(document).ready(function () {
        jQuery('#grid').kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: {
                        url: '/Company/GetCompanyAssets',
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: 'asset_id',
                        //fields: {
                        //    id: {
                        //        editable: false,
                        //        nullable: true
                        //    }
                        //}
                    },
                    data: function (data) {
                        return JSON.parse(data);
                    },
                    total: function (data) {
                        return (jQuery(JSON.parse(data))).length;
                    },
                },
                batch: false,
                pageSize: 10,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true
            },
            //toolbar: [
            //{
            //    name: "Create",
            //    template:
            //        '<div class="k-button form-container bg-success" id="btn_create">' +
            //            '<span class="k-icon k-i-plus" style="vertical-align: middle;"></span>' +
            //                'Create' +
            //        '</div>' +
            //        '<div style="float: right" class="form-container">' +
            //            '<input data-control="text" class="form-control" placeholder="please enter any free form text to search......" type="text" id="searchgrid" style="width: 300px;" onblur="grid();" /></div>' +
            //        '</div>'
            //}],
            toolbar: ["excel"],
            columns: [
                 {
                     width: 150,
                     command: [
                         {
                             name: "Edit",
                             template: '<div class="btn btn-default custom_command_change" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="add_tag(this);">Edit</div>'
                         },
                         {
                             name: "Delete",
                             template: '<div class="btn btn-danger custom_command_change" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="add_tag(this);">Delete</div>'
                         },
                         {
                             name: "Change",
                             template: '<div class="btn btn-default custom_command_change" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="add_tag(this);">Add</div>'
                         },
                         {
                             name: "Remove",
                             template: '<div class="btn btn-info custom_command_remove" data-text="Remove Record" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="view_tags(this);">View</div>'
                         }
                     ],
                     title: '&nbsp;'
                 },
                {
                    field: 'asset_id',
                    title: 'asset_id',
                    hidden: true,
                },
                {
                    title: "Image",
                    width: 80,
                    template: function (dataItem) {
                        return dataItem.imgDataURL == null ? '' : '<img style="width:50px; height: 40px" src="' + dataItem.imgDataURL + '" />' // + kendo.htmlEncode(dataItem.name) + "</strong>";
                    }
                },
                {
                    field: "asset_name",
                    title: "Standard Code",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "item_name",
                    title: "Item",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "asset_description",
                    title: "Item Description",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "category_name",
                    title: "Category",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "insp_cycle",
                    title: "Inpection Cycle",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "certification",
                    title: "Certification",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "company_name",
                    title: "Manufacture",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "company_name",
                    title: "Manufacture",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "size_ton",
                    title: "Size WLL in Ton",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "size_meter",
                    title: "Size in Meter",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "size_mm",
                    title: "Size in mm",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                }
            ],
            filterable: { mode: "row" },
            sortable: true,
            pageable: true,
            detailTemplate: kendo.template('<div class="detail_grid"></div>'),
            detailInit: detailInit,
        });


        jQuery('#btn_create').click(function () {
            var url = "/items/win_add_asettag";
            show_win(url);
        });
    });

    function detailInit(e) {
        var detailRow = e.detailRow;
        console.log(e)
        console.log(e.data.asset_id)

        detailRow.find('.detail_grid').kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: {
                        url: '/Company/GetCompanyAssetTags?id=' + e.data.asset_id,
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: 'tag_id',
                        fields: {
                            id: {
                                editable: false,
                                nullable: true
                            }
                        }
                    },
                    data: function (data) {
                        return JSON.parse(data);
                    },
                    total: function (data) {
                        return (jQuery(JSON.parse(data))).length;
                    },
                },
                serverPaging: false,
                serverSorting: false,
                serverFiltering: false,
                pageSize: 10,
                //filter: { field: "tag_id", operator: "eq", value: e.data.EmployeeID }
            },
            scrollable: false,
            sortable: false,
            pageable: false,
            toolbar: [
            {
                name: "Add Tag",
                template:
                    '<div class="k-button form-container bg-success" onclick="show_win(' + e.data.asset_id + ')" id="btn_create">' +
                        '<span class="k-icon k-i-plus" style="vertical-align: middle;"></span>' +
                            'Add Tag' +
                    '</div>'
            }],
            columns: [
                 {
                     width: 70,
                     command: [
                         {
                             name: "Move",
                             template: '<div class="fa fa-arrow custom_command_change" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="change(this);"></div>'
                         },
                         {
                             name: "Remove",
                             template: '<div class="fa fa-trash-o custom_command_remove" data-text="Remove Record" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="remove(this);"></div>'
                         }
                     ],
                     title: '&nbsp;'
                 },
                { field: "tag_id", title: "ID", width: "70px", hidden: true },
                { field: "sn_no", title: "Serial No", width: "110px" },
                { field: "site_name", title: "Site Name" },
                { field: "site_description", title: "Site Description" },
                { field: "tag_description", title: "Tag Description" },
                { field: "barcode", title: "Tag Barcode" },
            ]
        });
    }

    function show_win(id) {
        var url = "/company/win_add_asettag?id=" + id;
        jQuery.fancybox.open({
            'content': jQuery('<div>').load(url),
            'autoScale': false,
            'autoDimensions': true,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'hideOnOverlayClick': false,
            'hideOnContentClick': false,
            'showCloseButton': true,
            'type': 'iframe',
            'autoSize': false,
            'width': 750,
            'height': 470,
            helpers: {
                overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
            },
            'afterClose': function () {
                window.location.reload();
            }
        });
        return false;
    }


    function add_tag(el) {
        var id = get_id(el);
        var url = "/company/win_add_asettag?id=" + id;
        jQuery.fancybox.open({
            'content': jQuery('<div>').load(url),
            'autoScale': false,
            'autoDimensions': true,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'hideOnOverlayClick': false,
            'hideOnContentClick': false,
            'showCloseButton': true,
            'type': 'iframe',
            'autoSize': false,
            'width': 750,
            'height': 470,
            helpers: {
                overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
            },
            'afterClose': function () {
                window.location.reload();
            }
        });
        return false;
    }

    function view_tags(el) {
        var id = get_id(el)
        console.log(id)
        var url = "/company/win_view_asettag?id=" + id;
        jQuery.fancybox.open({
            'content': jQuery('<div>').load(url),
            'autoScale': false,
            'autoDimensions': true,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'hideOnOverlayClick': false,
            'hideOnContentClick': false,
            'showCloseButton': true,
            'type': 'iframe',
            'autoSize': false,
            'width': 900,
            'height': 470,
            helpers: {
                overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
            },
            'afterClose': function () {
                //window.location.reload();
            }
        });
        return false;
    }

    function change_itm(e) {

        var msg = "Please select record before you proceed.";
        jQuery.growl.warning({ title: "Oops", message: msg });
    }

    function remove_itm(e) {
        jConfirm('Are you sure you want to delete selected inspector?', 'Confirm Delete', function (r) {
            if (r == true) {
                var id = get_id(e);
                var url = "/Company/DeleteItemById";
                delete_record(id, url);
            }
        });
    }

    function get_id(e) {
        var id = jQuery(e.parentElement.parentElement).find('td')[2].innerText;

        console.log('id')
        //var id = jQuery(e.parentElement.parentElement).find('td')[1].innerText;
        console.log(id)
        if (!id) {
            var msg = "Please select record before you proceed.";
            jQuery.growl.warning({ title: "Oops", message: msg });
            return false;
        }
        return id;
    }

    function delete_record(id, url) {
        jQuery.ajax({
            url: url,
            dataType: "json",
            type: "POST",
            data: JSON.stringify({
                inspector_id: id,
            }),
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (response, newValue) {
                var data = JSON.parse(response);
                if (data.test_id !== 0) {
                    jQuery.growl.notice({ title: "Confirm", message: "Item successully deleted" });
                    window.location.reload();
                }
                else {
                    var msg = data.message;
                    jQuery.growl.warning({ title: "Oops", message: "Item failed, criteria linked to item." });
                }
            },
            error: function (xhr, thrownError, thrownError) {
                var msg = "Message: " + thrownError;
                jQuery.growl.error({ title: "Exception", message: msg });
            }
        });
    }

</script>


