﻿@model web_app.Models.CompanyModel
@{
    ViewBag.Title = "CompanyDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("..//partial//_side_menu", null, new ViewDataDictionary { { "_current", "Company" } })

<div class="centercontent">

    <div class="pageheader">
        <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">COMPANY DETAILS</h1>
            <span class="pagedesc">Add or Update company Details</span>
        </div>
    </div><!--pageheader-->
    <div id="contentwrapper" class="contentwrapper" style="background-color: #fff !important">
        <form class="stdform" action="" method="post">
            <input type="hidden" name="company_id" id="company_id" value="@Model.company_id" />
            <table class="table">
                <tr>
                    <td style="width:24%">&nbsp;</td>
                    <td style="width:24%">&nbsp;</td>
                    <td style="width:5%">&nbsp;</td>
                    <td style="width:24%">&nbsp;</td>
                    <td style="width:24%">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h3>Company Details</h3>
                    </td><td>&nbsp;</td>
                    <td colspan="2">
                        <h3>Contact Details</h3>
                    </td>
                </tr>
                <tr>
                    <td>Company Name</td>
                    <td><input type="text" name="name" id="name" class="longinput" value="@Model.company_name" /></td>
                    <td>&nbsp;</td>
                    <td>Email Address:  </td>
                    <td><input type="text" name="email" id="email" class="longinput" value="@Model.company_email" /></td>
                </tr>
                <tr>
                    <td>Trading Name</td>
                    <td><input type="text" name="trading" id="trading" class="longinput" value="@Model.company_trading" /></td>
                    <td>&nbsp;</td>
                    <td>Contact Telephone:  </td>
                    <td><input type="text" name="tel" id="tel" class="longinput" value="@Model.company_tel" /></td>
                </tr>
                <tr>
                    <td>Company Registration</td>
                    <td><input type="text" name="reg" id="reg" class="longinput" value="@Model.company_reg" /></td>
                    <td>&nbsp;</td>
                    <td>Fax Number:  </td>
                    <td><input type="text" name="fax" id="fax" class="longinput" value="@Model.company_fax" /></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <h3>Physical Address Details</h3>
                    </td><td>&nbsp;</td>
                    <td colspan="2">
                        <h3>Postal Address Details</h3>
                    </td>
                </tr>
                <tr>
                    <td>Street Name:  </td>
                    <td><input type="text" name="street" id="street" class="longinput" value="@Model.company_street" /></td>
                    <td>&nbsp;</td>
                    <td>P O Box:  </td>
                    <td><input type="text" name="pobox" id="pobox" class="longinput" value="@Model.company_pobox" /></td>
                </tr>
                <tr>
                    <td>Building Name:  </td>
                    <td><input type="text" name="building" id="building" class="longinput" value="@Model.company_building" /></td>
                    <td>&nbsp;</td>
                    <td>Postal Office:  </td>
                    <td><input type="text" name="pooffice" id="pooffice" class="longinput" value="@Model.company_pooffice" /></td>
                </tr>
                <tr>
                    <td>City / Town:  </td>
                    <td><input type="text" name="city" id="city" class="longinput" value="@Model.company_city" /></td>
                    <td>&nbsp;</td>
                    <td>City / Town:  </td>
                    <td><input type="text" name="pocity" id="pocity" class="longinput" value="@Model.company_pocity" /></td>
                </tr>
                <tr>
                    <td>Postal Code:  </td>
                    <td><input type="text" name="pcode" id="pcode" class="longinput" value="@Model.company_pcode" /></td>
                    <td>&nbsp;</td>
                    <td>Postal Code:  </td>
                    <td><input type="text" name="pocode" id="pocode" class="longinput" value="@Model.company_pocode" /></td>
                </tr>
                <tr>
                    <td colspan="5">
                        <h3>Documents</h3>
                    </td>
                </tr>
                <tr>
                    <td>Company Log:  </td>
                    <td>
                        <input type="file" name="company_logo" id="company_logo" class="form-control" style="width:300px !important" />
                    </td>
                    <td>
                        @{
                            if (Model.imgDataURL != null)
                            {
                                <img style="width:50px; height: 40px" src="@Model.imgDataURL" />
                            }
                        }
                        </td>
                    </tr>
                </table>
                <div class="alignleft">
                    <input type="button" id="btn_save" class="btn btn-primary" value="Save Details" />
                </div>
            </form>
        </div>
    </div>


    <script type="text/javascript">

        jQuery(document).ready(function () {
            jQuery('#btn_save').click(function () {
                var file = jQuery('#company_logo').prop('files')[0]
                var bs_logo = null;

                if (file) {
                    var rd = new FileReader();
                    rd.readAsDataURL(file);
                    rd.onload = function () {
                        bs_logo = rd.result;
                        console.log('get file');
                        console.log(bs_logo);
                        dosave(bs_logo);
                    };
                    rd.onerror = function () {
                        console.log('Err');
                    }
                }else {
                    dosave(bs_logo);
                }
            })
              
        });

        function dosave(bs_logo) {
            console.log('save file');
            console.log(bs_logo);
            var data =
                {
                    company_id: jQuery('#company_id').val(),
                    company_name: jQuery('#name').val(),
                    company_reg: jQuery('#reg').val(),
                    company_trading: jQuery('#trading').val(),
                    company_email: jQuery('#email').val(),
                    company_tel: jQuery('#tel').val(),
                    company_fax: jQuery('#fax').val(),
                    company_street: jQuery('#street').val(),
                    company_building: jQuery('#building').val(),
                    company_city: jQuery('#city').val(),
                    company_pcode: jQuery('#pcode').val(),
                    company_pobox: jQuery('#pobox').val(),
                    company_pooffice: jQuery('#pooffice').val(),
                    company_pocity: jQuery('#pocity').val(),
                    company_pocode: jQuery('#pocode').val(),
                    company_logo: bs_logo ? bs_logo.replace('data:image/png;base64,', '') : bs_logo
                }

            console.log(data)

            jQuery.ajax({
                url: '/Company/SaveOrUpdateCompany',
                dataType: "json",
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (response, newValue) {
                    var data = JSON.parse(response);
                    if (data.code == 1) {
                        var msg = data.message;
                        jQuery.growl.notice({ title: "Saved", message: msg });
                        window.location.href = '/Company/CompanyDetails'
                    }
                    else {
                        var msg = "Oops: " + data.message;
                        jQuery.growl.warning({ title: "Failed", message: msg });
                    }
                },
                error: function (xhr, thrownError, thrownError) {
                    var msg = "Message: " + thrownError;
                    jQuery.growl.error({ title: "Exception", message: msg });
                }
            });
        }
    </script>