﻿
@{
    ViewBag.Title = "Inpsectors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("..//partial//_side_menu_items", null, new ViewDataDictionary { { "_current", "Company" } })

<div class="centercontent" style="padding:5px 0px">

    <div class="pageheader">
        <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">Inspectors</h1>
            <span class="pagedesc">Company inspector list </span>

        </div>
    </div>

    <div id="grid" class="table table-striped"></div>

</div>


<script type="text/javascript">
    jQuery(document).ready(function () {

        jQuery('#grid').kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: {
                        url: '/Company/GetCompanyInspectors',
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: 'inspector_id',
                        fields: {
                            id: {
                                editable: false,
                                nullable: true
                            }
                        }
                    },
                    data: function (data) {
                        return JSON.parse(data);
                    },
                    total: function (data) {
                        return (jQuery(JSON.parse(data))).length;
                    },
                },
                batch: false,
                pageSize: 10,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            toolbar: [
            {
                name: "Create",
                template:
                    '<div class="k-button form-container bg-success" id="btn_create">' +
                        '<span class="k-icon k-i-plus" style="vertical-align: middle;"></span>' +
                            'Create' +
                    '</div>' +
                    '<div style="float: right" class="form-container">' +
                        '<input data-control="text" class="form-control" placeholder="please enter any free form text to search......" type="text" id="searchgrid" style="width: 300px;" onblur="grid();" /></div>' +
                    '</div>'
            },
            {
                name: "Advanced",
                template:

                '<div class="k-button" onclick="exporttoexcel();">' +
                    '<span class="k-icon fa-file-excel-o"></span>' +
                        'Export to Excel' +
                '</div>'
            }],
            columns: [
                 {
                     width: 70,
                     command: [
                         //{
                         //    name: "View",
                         //    template: '<div class="fa fa-info-circle custom_command_view" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="view(this);"></div>'
                         //},
                         {
                             name: "Change",
                             template: '<div class="fa fa-edit custom_command_change" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="change(this);"></div>'
                         },
                         {
                             name: "Remove",
                             template: '<div class="fa fa-trash-o custom_command_remove" data-text="Remove Record" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="remove(this);"></div>'
                         }
                     ],
                     title: '&nbsp;'
                 },
                {
                    field: 'inspector_id',
                    title: 'inspector_id',
                    hidden: true,
                },
                {
                    field: "firstname",
                    title: "First Name",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "lastname",
                    title: "Last Name",
                    width: 150,
                },
                {
                    field: "phone",
                    title: "Phone Number",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "email",
                    title: "Email Address",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "username",
                    title: "Username",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "password",
                    title: "Password",
                    width: 150,
                }
            ],
            filterable: { mode: "row" },
            sortable: true,
            pageable: true,
        });

        jQuery('#btn_create').click(function () {
            var url = "/Company/win_add_inspector";
            show_win(url);
        });
    });


    function change(e) {
        var args = get_id(e);
        if (args) {
            var url = "/Company/win_add_inspector?id=" + args;
            show_win(url);
        }
    }

    function remove(e) {
        jConfirm('Are you sure you want to delete selected inspector?', 'Confirm Delete', function (r) {
            if (r == true) {
                var id = get_id(e);
                var url = "/Company/DeleteInspectorById";
                delete_record(id, url);
            }
        });
    }

    function get_id(e) {
        var id = jQuery(e.parentElement.parentElement).find('td')[1].innerText;
        if (!id) {
            var msg = "Please select record before you proceed.";
            jQuery.growl.warning({ title: "Oops", message: msg });
            return false;
        }
        return id;
    }

    function delete_record(id, url) {
        jQuery.ajax({
            url: url,
            dataType: "json",
            type: "POST",
            data: JSON.stringify({
                inspector_id: id,
            }),
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (response, newValue) {
                var data = JSON.parse(response);
                if (data.test_id !== 0) {
                    jQuery.growl.notice({ title: "Confirm", message: "Inspector successully deleted" });
                    window.location.reload();
                }
                else {
                    var msg = data.message;
                    jQuery.growl.warning({ title: "Oops", message: "Delete failed, criteria linked to item." });
                }
            },
            error: function (xhr, thrownError, thrownError) {
                var msg = "Message: " + thrownError;
                jQuery.growl.error({ title: "Exception", message: msg });
            }
        });
    }

    function show_win(url) {
        jQuery.fancybox.open({
            'content': jQuery('<div>').load(url),
            'autoScale': false,
            'autoDimensions': true,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'hideOnOverlayClick': false,
            'hideOnContentClick': false,
            'showCloseButton': true,
            'type': 'iframe',
            'autoSize': false,
            'width': 750,
            'height': 600,
            helpers: {
                overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
            },
            'afterClose': function () {
                window.location.reload();
            }
        });
        return false;
    }
</script>

