﻿@model IEnumerable<web_app.Models.CompanyInspector>
@{
    ViewBag.Title = "Inspectors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("..//partial//_side_menu_items", null, new ViewDataDictionary { { "_current", "Company" } })

<div class="centercontent" style="padding:5px 0px">

    <div class="pageheader">
        <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">Inspectors</h1>
            <span class="pagedesc">Company inspector list </span>

        </div>
    </div>
    <ul class="buttonlist" style="margin:0px !important">
        <li style="margin:1px"><a href="javascript:add_inspector(0)" class="btn btn-success">Add New Inspector</a></li>
    </ul>
    <table class="stdtable table table-bordered" id="tblManageShifts0">
        <colgroup>
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
        </colgroup>
        <thead>
            <tr>
                <th class="head1 nosort "><strong>First Name</strong></th>
                <th class="head0 nosort "><strong>Last Name</strong></th>
                <th class="head1 nosort "><strong>ID Number</strong></th>
                <th class="head0 nosort "><strong>Register No</strong></th>
                <th class="head1 nosort "><strong>Phone Number</strong></th>
                <th class="head0 nosort "><strong>Email Address</strong></th>
                <th class="head1 nosort "><strong>Username</strong></th>
                <th class="head0 nosort "><strong>Password</strong></th>
                <th class="head1 nosort "><strong>Actions</strong></th>
            </tr>
        </thead>
        <tbody>
            @foreach (web_app.Models.CompanyInspector _item in Model)
            {
            <tr class="line_items">
                <td>@_item.firstname</td>
                <td>@_item.lastname</td>
                <td>@_item.idnumber</td>
                <td>@_item.registerno</td>
                <td>@_item.phone</td>
                <td>@_item.email</td>
                <td>@_item.username</td>
                <td>@_item.password</td>
                <td style="padding:1px; line-height:0">
                    <ul class="buttonlist" style="margin:0px !important">
                        <li style="margin:1px"><a href="javascript:edit_inspector(@_item.inspector_id)" class="btn btn-info">Edit</a></li>
                        <li style="margin:1px"><a href="javascript:del_inspector(@_item.inspector_id)" class="btn btn-danger">Remove</a></li>
                    </ul>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>


<script type="text/javascript">

    function add_inspector(id) {
        var url = "/Company/win_add_inspector";
        show_win(url);
    }
    function edit_inspector(id) {
        if (id) {
            var url = "/Company/win_add_inspector?id=" + id;
            show_win(url);
        } else {

            var msg = "Please select record before you proceed.";
            jQuery.growl.warning({ title: "Oops", message: msg });
        }

    }

    function del_inspector(id) {
        jConfirm('Are you sure you want to delete selected inspector?', 'Confirm Delete', function (r) {
            if (r == true) {
                var url = "/Company/DeleteInspectorById";
                delete_record(id, url);
            }
        });
    }

    function get_id(e) {
        var id = jQuery(e.parentElement.parentElement).find('td')[1].innerText;
        if (!id) {
            var msg = "Please select record before you proceed.";
            jQuery.growl.warning({ title: "Oops", message: msg });
            return false;
        }
        return id;
    }

    function delete_record(id, url) {
        jQuery.ajax({
            url: url,
            dataType: "json",
            type: "POST",
            data: JSON.stringify({
                inspector_id: id,
            }),
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (response, newValue) {
                var data = JSON.parse(response);
                if (data.test_id !== 0) {
                    jQuery.growl.notice({ title: "Confirm", message: "Inspector successully deleted" });
                    window.location.reload();
                }
                else {
                    var msg = data.message;
                    jQuery.growl.warning({ title: "Oops", message: "Delete failed, criteria linked to item." });
                }
            },
            error: function (xhr, thrownError, thrownError) {
                var msg = "Message: " + thrownError;
                jQuery.growl.error({ title: "Exception", message: msg });
            }
        });
    }

    function show_win(url) {
        jQuery.fancybox.open({
            'content': jQuery('<div>').load(url),
            'autoScale': false,
            'autoDimensions': true,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'hideOnOverlayClick': false,
            'hideOnContentClick': false,
            'showCloseButton': true,
            'type': 'iframe',
            'autoSize': false,
            'width': 750,
            'height': 600,
            helpers: {
                overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
            },
            'afterClose': function () {
                window.location.reload();
            }
        });
        return false;
    }
</script>

