﻿@model IEnumerable<web_app.Models.Tags>
@{
    ViewBag.Title = "ViewAssets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("..//partial//_side_menu_items", null, new ViewDataDictionary { { "_current", "Company" } })

<div class="centercontent" style="padding:5px 0px">

    <div class="pageheader">
        <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">View Assets</h1>
            <span class="pagedesc">Company assets list </span>

        </div>
    </div>
    <div id="grid"></div>
    @*<table id="tbl_assets" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <colgroup>
                <col class="con0" style="width:200px" />
                <col class="con1" />
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
            </colgroup>
            <thead>

                <tr>
                    <th class="head0 nosort "><strong>Serial No</strong></th>
                    <th class="head1 nosort "><strong>Standard Code</strong></th>
                    <th class="head0 nosort "><strong>Item</strong></th>
                    <th class="head1 nosort "><strong>Description</strong></th>
                    <th class="head0 nosort "><strong>Category</strong></th>
                    <th class="head1 nosort "><strong>NFC Code</strong></th>
                    <th class="head0 nosort "><strong>Certificate</strong></th>
                    <th class="head1 nosort "><strong>Manufacture</strong></th>
                    <th class="head1 nosort "><strong>Inspection Cycle</strong></th>
                    <th class="head0 nosort "><strong>Size WLL in Ton</strong></th>
                    <th class="head1 nosort "><strong>Size in Meter</strong></th>
                    <th class="head0 nosort "><strong>Size in mm</strong></th>
                </tr>
            </thead>
            <tbody>
                @foreach (web_app.Models.Tags _item in Model)
                {
                    <tr class="line_items">
                        <td>@_item.sn_no</td>
                        <td>@_item.std_code</td>
                        <td>@_item.item_name</td>
                        <td>@_item.asset_description</td>
                        <td>@_item.category_name</td>
                        <td>@_item.barcode</td>
                        <td>@_item.certification</td>
                        <td>@_item.company_name </td>
                        <td>@_item.insp_cycle </td>
                        <td>@_item.size_ton </td>
                        <td>@_item.size_meter </td>
                        <td>@_item.size_mm </td>
                    </tr>
                }
            </tbody>
        </table>*@


</div>


<script type="text/javascript">
    jQuery(document).ready(function () {
        //$('#tbl_assets').DataTable({
        //    "pagingType": "full_numbers",
        //    "paging": true // false to disable pagination (or any other option)
        //});
        //$('.dataTables_length').addClass('bs-select');
        jQuery('#grid').kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: {
                        url: '/Company/GetCompanyTag',
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: 'asset_id',
                        //fields: {
                        //    id: {
                        //        editable: false,
                        //        nullable: true
                        //    }
                        //}
                    },
                    data: function (data) {
                        return JSON.parse(data);
                    },
                    total: function (data) {
                        return (jQuery(JSON.parse(data))).length;
                    },
                },
                batch: false,
                pageSize: 10,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            //toolbar: [
            //{
            //    name: "Create",
            //    template:
            //        '<div class="k-button form-container bg-success" id="btn_create">' +
            //            '<span class="k-icon k-i-plus" style="vertical-align: middle;"></span>' +
            //                'Create' +
            //        '</div>' +
            //        '<div style="float: right" class="form-container">' +
            //            '<input data-control="text" class="form-control" placeholder="please enter any free form text to search......" type="text" id="searchgrid" style="width: 300px;" onblur="grid();" /></div>' +
            //        '</div>'
            //}],
            toolbar: ["excel"],
            columns: [
                 {
                     width: 70,
                     command: [
                         {
                             name: "Change",
                             template: '<div class="fa fa-edit custom_command_change" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="change_itm(this);"></div>'
                         },
                         {
                             name: "Remove",
                             template: '<div class="fa fa-trash-o custom_command_remove" data-text="Remove Record" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="remove_itm(this);"></div>'
                         }
                     ],
                     title: '&nbsp;'
                 },
                {
                    field: 'tag_id',
                    title: 'tag_id',
                    hidden: true,
                },
                //{
                //    title: "Image",
                //    width: 80,
                //    template: function (dataItem) {
                //        return dataItem.imgDataURL == null ? '' : '<img style="width:50px; height: 40px" src="' + dataItem.imgDataURL + '" />' // + kendo.htmlEncode(dataItem.name) + "</strong>";
                //    }
                //},
            {
                field: "barcode",
                title: "NFC Code",
                width: 150,
                filterable: {
                    cell: {
                        showOperators: false,
                        operator: "contains"
                    }
                }
            },
                {
                    field: "sn_no",
                    title: "Serial Number",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "asset_name",
                    title: "Standard Code",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "category_name",
                    title: "Category",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "item_name",
                    title: "Item",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "asset_description",
                    title: "Item Description",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "site_name",
                    title: "Site Name",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "certification",
                    title: "Item Certificate",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "test_cycle",
                    title: "Load Test Cycle",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "insp_cycle",
                    title: "Inpection Cycle",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "company_name",
                    title: "Company",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "last_inspection_date",
                    title: "Last Inspection Date",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "next_inspection_date",
                    title: "Next Inspection Date",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "size_ton",
                    title: "Size Ton",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "size_meter",
                    title: "Size Meter",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "size_mm",
                    title: "Size MM",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "scanin",
                    title: "Scan In",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "scanout",
                    title: "Scan Out",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "linkatag",
                    title: "Link A Tag",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: " handovertag",
                    title: "Hand Over Tag",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "tag_latitude",
                    title: "Tag Latitude",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "tag_longitude",
                    title: "Tag Longitude",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "man_name",
                    title: "Mananufacture",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                }
            ],
            filterable: { mode: "row" },
            sortable: true,
            pageable: true,
            //detailTemplate: kendo.template('<div class="detail_grid"></div>'),
            //detailInit: detailInit,
        });


        jQuery('#btn_create').click(function () {
            var url = "/items/win_add_test";
            show_win(url);
        });
    });


    function change(e) {
        var args = get_id(e);
        if (args) {
            var url = "/items/win_add_test?id=" + args;
            show_win(url);
        }
    }

    function get_id(e) {
        var id = jQuery(e.parentElement.parentElement).find('td')[1].innerText;
        if (!id) {
            var msg = "Please select record before you proceed.";
            jQuery.growl.warning({ title: "Oops", message: msg });
            return false;
        }
        return id;
    }

    function show_win(url) {
        jQuery.fancybox.open({
            'content': jQuery('<div>').load(url),
            'autoScale': false,
            'autoDimensions': true,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'hideOnOverlayClick': false,
            'hideOnContentClick': false,
            'showCloseButton': true,
            'type': 'iframe',
            'autoSize': false,
            'width': 450,
            'height': 350,
            helpers: {
                overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
            },
            'afterClose': function () {
                window.location.reload();
            }
        });
        return false;
    }
</script>
