﻿
@{
    ViewBag.Title = "win_add_asettag";
    Layout = "~/Views/Shared/_Popup.cshtml";
}


<div class="centercontent1">

    <div class="pageheader">
        <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">Add Tag</h1>
            <span class="pagedesc">Complete the form with new tag details</span>
        </div>
    </div><!--pageheader-->
    <div id="contentwrapper" class="contentwrapper" style="background-color: #fff !important">
        <form class="stdform" action="" id="form">
            <input type="hidden" name="id" id="id" value="@ViewBag.asset_id.ToString()" />
            <table class="table">

                <tr>
                    <td style="width:100px">NFC/Tag Code</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="barcode" id="barcode" class="longinput" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Serial Number</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="code" id="code" class="longinput" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Note</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="desc" id="desc" class="longinput" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Site Description</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="sitedesc" id="sitedesc" class="longinput"  /></td>
                </tr>
                <tr>
                    <td style="width:100px">Site</td>
                    <td style="width:10px"></td>
                    <td>
                        @Html.DropDownList("ddlSite", ViewBag.list_sites as SelectList, "Select Site...", new { @class = "longinput" })
                    </td>
                </tr>
                @*<tr>
                    <td>Active</td>
                    <td></td>
                    <td>
                        @Html.CheckBox("chkActive")
                    </td>
                </tr>*@
            </table>
            <div class="alignright bg-info" style="padding:15px">
                <input type="button" id="btn_save" class="btn btn-primary" value="Save Tag" />
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">

    jQuery(document).ready(function () {

        ///// FORM VALIDATION /////
    

       
        jQuery('#chkSplit').click(function () {
            if (jQuery(this).is(':checked')) {
                jQuery('#trSplit').show();
            }
            else {
                jQuery('#trSplit').hide();
            }
        });
        jQuery("#btn_save").click(function () {
            //collect form data
            var data = {
                item_id: jQuery('#id').val(),
                sn_no: jQuery('#code').val(),
                barcode: jQuery('#barcode').val(),
                tag_description: jQuery('#desc').val(),
                site_description: jQuery('#sitedesc').val(),
                site_id: jQuery('#ddlSite').find("option:selected").val(),
            };
            console.log(data)
            jQuery.ajax({
                url: '/Company/CrudTag',
                dataType: "json",
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (response, newValue) {
                    var data = JSON.parse(response);
                    if (data.code == 1) {
                        var msg = data.message;
                        jQuery.growl.notice({ title: "Saved", message: msg });
                    }
                    else {
                        var msg = "Oops: " + data.message;
                        jQuery.growl.warning({ title: "Failed", message: msg });
                       // jQuery.growl.notice({ title: "Saved", message: "Changes successully commited" });
                    }
                },
                error: function (xhr, thrownError, thrownError) {
                    console.log(xhr)
                    console.log(thrownError)
                    var msg = "Message: " + thrownError;
                    jQuery.growl.error({ title: "Exception", message: msg });
                }
            });
        });
    });

</script>

