﻿@model web_app.Models.CompanyInspector
@{
    ViewBag.Title = "win_add_inspector";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="centercontent1">

    <div class="pageheader">
        <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">Inspector</h1>
            <span class="pagedesc">Inspector details</span>
        </div>
    </div><!--pageheader-->
    <div id="contentwrapper" class="contentwrapper" style="background-color: #fff !important">
        <form class="stdform" action="" id="form">
            <input type="hidden" name="id" id="id" value="@Model.inspector_id" />
            <table class="table">

                <tr>
                    <td style="width:100px">Firstname</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="name" id="name" class="longinput" value="@Model.firstname" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Lastname</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="lastname" id="lastname" class="longinput" value="@Model.lastname" /></td>
                </tr>
                <tr>
                    <td style="width:100px">ID Number</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="idnumber" id="idnumber" class="longinput" value="@Model.idnumber" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Register Number</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="register" id="register" class="longinput" value="@Model.registerno" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Email Address</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="email" id="email" class="longinput" value="@Model.email" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Contact Number</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="phone" id="phone" class="longinput" value="@Model.phone" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Certificate</td>
                    <td style="width:10px"></td>
                    <td>
                        @Html.DropDownList("ddlCert", ViewBag.list_certification as SelectList, "Select Certification...", new { @class = "form-control" })
                    </td>
                </tr>
                <tr>
                    <td>Signature Image:  </td>
                    <td>
                        <input type="file" name="signature_img" id="signature_img" class="form-control" style="width:300px !important" />
                    </td>
                    <td>
                        @{
                            if (Model.imgDataURL != null)
                            {
                                <img style="width:50px; height: 40px" src="@Model.imgDataURL" />
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td colspan="3"><hr /></td>
                </tr>
                <tr>
                    <td style="width:100px">Username</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="su" id="su" class="longinput" value="@Model.username" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Password</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="pw" id="pw" class="longinput" value="@Model.password" /></td>
                </tr>
                <tr>
                    <td>Active</td>
                    <td></td>
                    <td>
                        @Html.CheckBox("chkActive")
                    </td>
                </tr>
            </table>
            <div class="alignright">
                <input type="button" id="btn_save" class="btn btn-primary" value="Save Details" />
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">

    jQuery(document).ready(function () {


        jQuery('#chkSplit').click(function () {
            if (jQuery(this).is(':checked')) {
                jQuery('#trSplit').show();
            }
            else {
                jQuery('#trSplit').hide();
            }
        });
           jQuery('#btn_save').click(function () {
                var file = jQuery('#signature_img').prop('files')[0]
                var bs_logo = null;

                if (file) {
                    var rd = new FileReader();
                    rd.readAsDataURL(file);
                    rd.onload = function () {
                        bs_logo = rd.result;
                        console.log('get file');
                        console.log(bs_logo);
                        dosave(bs_logo);
                    };
                    rd.onerror = function () {
                        console.log('Err');
                    }
                }else {
                    dosave(bs_logo);
                }
            })
    });
    
        function dosave (bs_logo) {
            //collect form data
            var data = {
                inspector_id: jQuery('#id').val(),
                firstname: jQuery('#name').val(),
                lastname: jQuery('#lastname').val(),
                email: jQuery('#email').val(),
                phone: jQuery('#phone').val(),
                username: jQuery('#su').val(),
                password: jQuery('#pw').val(),
                certificate_id: jQuery('#ddlCert').find("option:selected").val(),
                signature_img: bs_logo ? bs_logo.replace('data:image/png;base64,', '') : bs_logo
            };
            console.log(data)
            jQuery.ajax({
                url: '/Company/CrudInspector',
                dataType: "json",
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (response, newValue) {
                    var data = JSON.parse(response);
                    if (data.code == 1) {
                        var msg = data.message;
                        jQuery.growl.notice({ title: "Saved", message: msg });
                    }
                    else {
                        var msg = "Oops: " + data.message;
                        jQuery.growl.warning({ title: "Failed", message: msg });
                       // jQuery.growl.notice({ title: "Saved", message: "Changes successully commited" });
                    }
                },
                error: function (xhr, thrownError, thrownError) {
                    var msg = "Message: " + thrownError;
                    jQuery.growl.error({ title: "Exception", message: msg });
                }
            });
        }
</script>

