﻿@model IEnumerable<web_app.Models.Tags>
    @{
        ViewBag.Title = "win_view_asettag";
        Layout = "~/Views/Shared/_Popup.cshtml";
    }

    <div class="centercontent1">

        <div class="pageheader">
            <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
            <div class="profiletitle">
                <h1 class="pagetitle">List Tag</h1>
                <span class="pagedesc">Tags to the items</span>
            </div>
        </div><!--pageheader-->
        <table class="stdtable table table-bordered" id="tblManageShifts0">
            <colgroup>
                <col class="con0" style="width:200px" />
                <col class="con1" />
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
                <col class="con1" />
            </colgroup>
            <thead>

                <tr>
                    <th class="head1 nosort ">
                        <strong>Serial No</strong>
                    </th>
                    <th class="head0 nosort ">
                        <strong>
                            Site Name
                        </strong>
                    </th>
                    <th class="head1 nosort ">
                        <strong>Site Description</strong>
                    </th>
                    <th class="head0 nosort ">
                        <strong>
                            Tag Description
                        </strong>
                    </th>
                    <th class="head1 nosort">
                        <strong>NFC Code</strong>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (web_app.Models.Tags _item in Model)
            {
                    <tr class="line_items">
                        <td>
                            @_item.sn_no
                        </td>
                        <td>@_item.site_name</td>
                        <td>
                            @_item.site_description
                        </td>
                        <td>
                            @_item.tag_description
                        </td>
                        <td>
                            @_item.barcode
                        </td>
                    </tr>
                }
            </tbody>
        </table>


    </div>


