﻿@model web_app.Models.CompanySites
@{
    ViewBag.Title = "win_add_site";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="centercontent1">

    <div class="pageheader">
        <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">Manage Site</h1>
            <span class="pagedesc">Manage company sites details</span>
        </div>
    </div><!--pageheader-->
    <div id="contentwrapper" class="contentwrapper" style="background-color: #fff !important">
        <form class="stdform" action="" id="form">
            <input type="hidden" name="id" id="id" value="@Model.site_id" />
            <table class="table">

                <tr>
                    <td style="width:100px">Site Name</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="site_name" id="site_name" class="longinput" value="@Model.site_name" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Site Description</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="site_description" id="site_description" class="longinput" value="@Model.site_description" /></td>
                </tr>
                <tr>
                    <td colspan="3"><hr /></td>
                </tr>
                <tr>
<tr>
                    <td style="width:100px">Contact Person</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="contact_person" id="contact_person" class="longinput" value="@Model.contact_person" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Email Address</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="contact_email" id="contact_email" class="longinput" value="@Model.contact_email" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Contact Number</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="contact_tel" id="contact_tel" class="longinput" value="@Model.contact_tel" /></td>
                </tr>
                <tr>
                    <td colspan="3"><hr /></td>
                </tr>
                <tr>
                    <td style="width:100px">Street Name</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="address_street" id="address_street" class="longinput" value="@Model.address_street" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Building</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="address_building" id="address_building" class="longinput" value="@Model.address_building" /></td>
                </tr>
                <tr>
                    <td style="width:100px">City</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="address_city" id="address_city" class="longinput" value="@Model.address_city" /></td>
                </tr>
                <tr>
                    <td style="width:100px">Postal Code</td>
                    <td style="width:10px"></td>
                    <td><input type="text" name="address_pcode" id="address_pcode" class="longinput" value="@Model.address_pcode" /></td>
                </tr>
                <tr>
                    <td>In Use</td>
                    <td></td>
                    <td>
                        @Html.CheckBox("chkActive")
                    </td>
                </tr>
            </table>
            <div class="alignright">
                <input type="button" id="btn_save" class="btn btn-primary" value="Save Details" />
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">

    jQuery(document).ready(function () {

       

        jQuery('#chkSplit').click(function () {
            if (jQuery(this).is(':checked')) {
                jQuery('#trSplit').show();
            }
            else {
                jQuery('#trSplit').hide();
            }
        });
        jQuery("#btn_save").click(function () {
            //collect form data
            var data = {
                site_id: jQuery('#id').val(),
                site_name: jQuery('#site_name').val(),
                site_description: jQuery('#site_description').val(),
                contact_person: jQuery('#contact_person').val(),
                contact_email: jQuery('#contact_email').val(),
                contact_tel: jQuery('#contact_tel').val(),
                address_street: jQuery('#address_street').val(),
                address_building: jQuery('#address_building').val(),
                address_city: jQuery('#address_city').val(),
                address_pcode: jQuery('#address_pcode').val(),
            };
            console.log(data)
            jQuery.ajax({
                url: '/Company/CrudSite',
                dataType: "json",
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (response, newValue) {
                    var data = JSON.parse(response);
                    if (data.code == 1) {
                        var msg = data.message;
                        jQuery.growl.notice({ title: "Saved", message: msg });
                    }
                    else {
                        var msg = "Oops: " + data.message;
                        jQuery.growl.warning({ title: "Failed", message: msg });
                       // jQuery.growl.notice({ title: "Saved", message: "Changes successully commited" });
                    }
                },
                error: function (xhr, thrownError, thrownError) {
                    var msg = "Message: " + thrownError;
                    jQuery.growl.error({ title: "Exception", message: msg });
                }
            });
        });
    });

</script>
