﻿@model lid_web.Models.Roles
@{
    ViewBag.Title = "AddRole";
    Layout = "~/Views/Shared/_Anon.cshtml";
}


<div class="centercontent1">

    <div class="pageheader">
        <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">New Quick Shift</h1>
            <span class="pagedesc">Add details of new quick shift</span>
        </div>
    </div><!--pageheader-->
    <div id="contentwrapper" class="contentwrapper" style="background-color: #fff !important">
        <form class="stdform" action="" id="form">

            <table class="table">

                <tr>
                    <td>Role Code</td>
                    <td></td>
                    <td><input type="text" name="code" id="code" class="longinput" value="@Model.role_code" /></td>
                </tr>
                <tr>
                    <td>Role Name</td>
                    <td></td>
                    <td><input type="text" name="name" id="name" class="longinput" value="@Model.role_name" /></td>
                </tr>
                <tr>
                    <td>Is Role Active</td>
                    <td></td>
                    <td>
                        @Html.CheckBox("chkActive")
                    </td>
                </tr>
            </table>
            <div class="alignright">
                <input type="button" id="btn_save" class="btn btn-primary" value="Save Details" />
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">

    jQuery(document).ready(function () {

       
        jQuery("#btn_save").click(function(){
            //collect form data
            var data = {
                role_code: jQuery('#code').val(),
                role_name: jQuery('#name').val(),
                role_isactive: jQuery('#chkActive')[0].checked,
            };
           
            jQuery.ajax({
                url: '/Admin/SaveOrUpdateRole',
                dataType: "json",
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (response, newValue) {
                    var data = JSON.parse(response);
                    if (data.code == 1) {
                        var msg = data.message;
                        jQuery.growl.notice({ title: "Saved", message: msg });
                    }
                    else {
                        var msg = "Oops: " + data.message;
                        jQuery.growl.warning({ title: "Failed", message: msg });
                    }
                },
                error: function (xhr, thrownError, thrownError) {
                    var msg = "Message: " + thrownError;
                    jQuery.growl.error({ title: "Exception", message: msg });
                }
            });
        });
    });

</script>

