﻿@model web_app.Models.CodeValues
@{
    ViewBag.Title = "DataConfig_edit";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="centercontent1">

    <div class="pageheader">
        <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">Update Value </h1>
            <span class="pagedesc">Complete the form with new details</span>
        </div>
    </div><!--pageheader-->

    <div id="contentwrapper" class="contentwrapper">

        <div class="last profile_wrapper" style="width:100% !important">
            <div id="profile" class="subcontent">
                @*<button id="followbtn" class="stdbtn btn_yellow followbtn">Delete</button>
                    <ul class="profile_summary">
                        <li><a href="#"><span>0</span> Staff In this Position</a></li>
                    </ul>*@

                @using (Html.BeginForm("DataConfig_update", "Admin", FormMethod.Post, new { id = "frm_datatypes", @class = "stdform stdform2", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="validation">
                        <div class="stdform stdform2 grid_3 ">
                            <input type="hidden" name="id" value="@Model.id" />
                            <table class="table ">
                                <tr>
                                    <td>
                                        <p>
                                            <label>Code Value Name</label>
                                            <span class="field"><input type="text" name="name" id="name" class="longinput" value="@Model.code" /></span>
                                        </p>
                                    </td>
                            
                                </tr>
                            </table>
                        </div>
                    </div>
                    <p class="stdformbutton">
                        <input type="submit" class="submit radius2" value="Update Value" />
                    </p>
                }
            </div>
            <br /><br />
        </div>
    </div>
</div>