﻿
@{
    ViewBag.Title = "DataConfig";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("..//partial//_side_menu_Admin", null, new ViewDataDictionary { { "_current", "Config" } })


<div class="centercontent">

    <div class="pageheader">
        <h1 class="pagetitle">Role Configuration</h1>
        <span class="pagedesc">setup roles access</span>

    </div><!--pageheader-->

    <div>
        <div class="filemgr" style="min-height:0px !important">
            <div class="filemgr_left">
                <div class="filemgr_head">
                    <ul class="filemgr_menu">
                        <li>
                            <label>Select Data Code</label></li>
                        <li class="marginleft20 filesearch">
                            <span class="field">

@using (Html.BeginForm("flt_data_config", "Admin", null, FormMethod.Post, null))
{
                                @Html.DropDownList("ddlData", ViewBag.list_datatypes as SelectList, "Select Data Type...", new { @class = "form-control", onchange = "this.form.submit();", style = " height:32px;width:190px" })
}
                              </span>
                        </li>
                    </ul>
                    <span class="clearall"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="grid"></div>
    </div>



<script type="text/javascript">

    jQuery(document).ready(function () {

        var _datatype = jQuery('#ddlData').find("option:selected").val();
       // jQuery('#ddlData').change(function (e) {
        jQuery('#grid').kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: {
                        url: '/ajax/GetCodeValues?datatype=' + _datatype,
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: 'id',
                        fields: {
                            id: {
                                editable: false,
                                nullable: true
                            }
                        }
                    },
                    data: function (data) {
                        return JSON.parse(data);
                    },
                    total: function (data) {
                        return (jQuery(JSON.parse(data))).length;
                    },
                },
                batch: false,
                pageSize: 30,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            toolbar: [
            {
                name: "Create",
                template:
                    '<div class="k-button form-container" onclick="datatype_create()">' +
                        '<span class="k-icon k-i-plus" style="vertical-align: middle;"></span>' +
                            'Create' +
                    '</div>' +
                    '<div style="float: right" class="form-container">' +
                         '<table><tr><td>' +
                        '<input data-control="text" class="form-control" placeholder="please enter any free form text to search......" type="text" id="searchgrid" style="width: 300px;" onblur="grid();" /></div>' +
                        '</td></tr></table>' +
                    '</div>'
            }],
            columns: [
                 {
                     width: 70,
                     command: [
                         {
                             name: "Change",
                             template: '<div class="fa fa-edit custom_command_change" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="datavalues_change(this);"></div>'
                         },
                         {
                             name: "Remove",
                             template: '<div class="fa fa-trash-o custom_command_remove" data-text="Remove Record" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="remove();"></div>'
                         }
                     ],
                     title: '&nbsp;'
                 },
                {
                    field: 'id',
                    title: 'id',
                    hidden: true,
                },
                {
                    field: "code",
                    title: "Code",
                    width: 150,
                    hidden: true,
                },
                {
                    field: "value",
                    title: "Value",
                    width: 150,
                },
                {
                    field: "PrimaryVal",
                    title: "Primary",
                    width: 150,
                },
                {
                    field: "SecondaryVal",
                    title: "Secondary",
                    width: 150,
                    hidden: true,
                },
                {
                    field: "DefaultValue",
                    title: "Default",
                    width: 150,
                },
                {
                    field: "isReadyonly",
                    title: "ReadOnly",
                    width: 150,
                    hidden: true,
                },
                {
                    field: "isVisible",
                    title: "Visible",
                    width: 150,
                    hidden: true,
                },
                {
                    field: "isActive",
                    title: "Active",
                    width: 150,
                    hidden: true,
                }
            ],

            //filterable: true,
            //sortable: true,
            //reorderable: true,
            //resizable: true,
            //selectable: 'row',
            pageable: true,
            //dataBound: wizard.context,
            //detailTemplate: kendo.template('<div class="detail_grid"></div>'),
            //detailInit: detailInit,
        });
    //});
        //jQuery('.dataTables_filter label input:text').addClass("form-control-sm");
        //jQuery('#dyntable2').dataTable({
        //    "sPaginationType": "full_numbers",
        //    "aaSortingFixed": [[0, 'asc']],
        //    "fnDrawCallback": function (oSettings) {
        //        jQuery('input:checkbox,input:radio').uniform();
        //    }
        //});
        jQuery('a.fancybox').click(function () {
            jQuery.fancybox.open({
                'content': jQuery('<div>').load(jQuery(this).attr('href')),
                'autoScale': false,
                'autoDimensions': true,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'hideOnOverlayClick': false,
                'hideOnContentClick': false,
                'showCloseButton': true,
                'type': 'iframe',
                'autoSize': false,
                'width': 950,
                'height': 500,
                helpers: {
                    overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
                },
                'afterClose': function () {
                    window.location.reload();
                }
            });
            return false;
        });



    });

    function datatype_create() {
        //var url = "/Admin/DataConfig_win?datatype=" + id;
        //console.log(url)

        var id = jQuery('#ddlData').find("option:selected").val();
        jQuery.fancybox.open({
            //'content': jQuery('<div>').load('/Admin/DataConfig_win?datatype=' + id),

            'content': jQuery('<div>').load('/Admin/DataConfig_add?id=' + id),
            'autoScale': false,
            'autoDimensions': true,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'hideOnOverlayClick': false,
            'hideOnContentClick': false,
            'showCloseButton': true,
            'type': 'iframe',
            'autoSize': false,
            'width': 750,
            'height': 300,
            helpers: {
                overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
            },
            'afterClose': function () {
                //window.location.reload();
            }
        });
        return false;
    }

    function datavalues_change(e) {
        var _id = jQuery(e.parentElement.parentElement).find('td')[1].innerText;
        jQuery.fancybox.open({
            'content': jQuery('<div>').load('/Admin/DataConfig_edit?id=' + _id),
            'autoScale': false,
            'autoDimensions': true,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'hideOnOverlayClick': false,
            'hideOnContentClick': false,
            'showCloseButton': true,
            'type': 'iframe',
            'autoSize': false,
            'width': 800,
            'height': 300,
            helpers: {
                overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
            },
            'afterClose': function () {
                window.location.reload();
            }
        });
    }
</script>
