﻿
@{
    ViewBag.Title = "DataConfig_add";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

@{
    ViewBag.Title = "DataConfig_win";
    Layout = "~/Views/Shared/_Popup.cshtml";
}

<div class="centercontent1">

    <div class="pageheader">
        <span class="profilepic"><img src="~/Assets/Images/icon_right.png" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">@(ViewBag.datatype) </h1>
            <span class="pagedesc">Complete the form with value details</span>
        </div>
    </div><!--pageheader-->

    <div id="contentwrapper" class="contentwrapper">

        <div class="last profile_wrapper" style="width:100% !important">
            <div id="profile" class="subcontent">
                @using (Html.BeginForm("DataConfig_crud", "Admin", FormMethod.Post, new { id = "frm_datatypes", @class = "stdform stdform2", enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div id="validation">
                        <div class="stdform stdform2 grid_3 ">
                            <input type="hidden" name="datatype" value="@ViewBag.datatype" />
                            <table class="table">
                                <tr>
                                    <td>
                                        <p>
                                            <label>Code Value Name</label>
                                            <span class="field"><input type="text" name="name" id="name" class="longinput" /></span>
                                        </p>
                                    </td>
                                    @*<td>
                                        <p>
                                            <label>Is active</label>
                                            <span class="field"><input type="checkbox" name="isactive" id="isactive" class="longinput" /></span>
                                        </p>
                                    </td>*@
                                </tr>
                                </table>
                        </div>
                    </div>
                    <p class="stdformbutton">
                        <input type="submit" class="submit radius2" value="Save Value" />
                    </p>
                }
            </div>
            <br /><br />
        </div>
    </div>
</div>