﻿@{
    ViewBag.Title = "Index";
}
@Html.Partial("..//partial//_side_menu_admin", null, new ViewDataDictionary { { "_current", "Index" } })


<div class="centercontent">

    <div class="pageheader">
        @*<h1 class="pagetitle">Administrator</h1>
        <span class="pagedesc">Manage system </span>*@

    </div>

    <div id="contentwrapper" class="contentwrapper">

        <div id="updates" class="subcontent">
            <div class="notibar announcement">
                    <a class="close"></a>
                    <h3>Announcement</h3>
                    <p>.</p>
                </div>

            <div class="dashboard_left">

                @*<ul class="shortcuts">
                    <li><a href="@Url.Action("Organisation","Admin")" class="settings"><span>Organisation</span></a></li>
                    <li><a href="@Url.Action("Sysconfig","Admin")" class="settings"><span>Sys Config</span></a></li>
                    <li><a href="@Url.Action("AddShift","Admin")" class="users"><span>Add Shift</span></a></li>
                    <li><a href="@Url.Action("AddStaff","Admin")" class="users"><span>Add Staff</span></a></li>
                    <li><a href="@Url.Action("ManageShifts","Admin")" class="events"><span>Manage Shifts</span></a></li>
                    <li><a href="@Url.Action("LeaveRequest","Admin")" class="events"><span>Staff Leave</span></a></li>
                </ul>*@

                <br clear="all" />
            </div>
        </div>
    </div>
</div>
