﻿@model web_app.Models.RoleMenus
@{
    ViewBag.Title = "Roleconfig";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("..//partial//_side_menu_Admin", null, new ViewDataDictionary { { "_current", "Config" } })


<div class="centercontent">

    <div class="pageheader">
        <h1 class="pagetitle">Role Configuration</h1>
        <span class="pagedesc">setup roles access</span>

    </div><!--pageheader-->
    <div>
        <div class="filemgr" style="min-height:0px !important">
            <div class="filemgr_left">
                <div class="filemgr_head">
                    <ul class="filemgr_menu">
                        <li class="marginleft20 filesearch">
                            <span class="field">
                                @using (Html.BeginForm("flt_roles", "Admin", null, FormMethod.Post, null))
                                {
                                @Html.DropDownList("ddlRoles", ViewBag.list_roles as SelectList, "Select Roles...", new { @class = "form-control", onchange = "this.form.submit();", style = " height:32px;width:190px" })
                                }
                            </span>
                        </li>
                    </ul>
                    <span class="clearall"></span>
                </div>
            </div>
        </div>
    </div>
    <div id="contentwrapper" class="contentwrapper">
        <div class="last profile_wrapper" style="width:100% !important">
            <div id="view" class="subcontent">
                <table cellpadding="0" cellspacing="0" border="0" class="stdtable table" id="dyntable2">
                    <colgroup>
                        <col class="con0" />
                    </colgroup>
                    <thead>
                        <tr>
                            <th class="head0">Assing and Remove menus from role. </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="head0" style="padding:5px 10px">

                                @*<div id="treeview"></div>*@
                                <p>
                                    <span id="dualselect" class="dualselect">
                                        <select class="uniformselect" name="select3" multiple="multiple" size="10" style="min-height:400px">
                                            @foreach (web_app.Models.Menus _menu in Model.avl_menus)
                                            {
                                                <option value="@_menu.menu_id">@_menu.menu_name</option>
                                            }
                                        </select>
                                        <span class="ds_arrow">
                                            <span class="arrow ds_prev">&laquo;</span>
                                            <span class="arrow ds_next">&raquo;</span>
                                        </span>
                                        <select name="select4" multiple="multiple" size="10" style="min-height:400px">
                                            @foreach (web_app.Models.Menus _menu in Model.slt_menus)
                                            {
                                                <option value="@_menu.menu_id">@_menu.menu_name</option>
                                            }
                                        </select>
                                    </span>
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    
    jQuery(document).ready(function(){
	
        ///// FORM TRANSFORMATION /////
        //jQuery('input:checkbox, input:radio, select.uniformselect, input:file').uniform();


        ///// DUAL BOX /////
        var db = jQuery('#dualselect').find('.ds_arrow .arrow');	//get arrows of dual select
        var sel1 = jQuery('#dualselect select:first-child');		//get first select element
        var sel2 = jQuery('#dualselect select:last-child');			//get second select element
	
        //sel2.empty(); //empty it first from dom.
	
        db.click(function(){
            var t = (jQuery(this).hasClass('ds_prev'))? 0 : 1;	// 0 if arrow prev otherwise arrow next
            if(t) {
                sel1.find('option').each(function(){
                    if(jQuery(this).is(':selected')) {
                        jQuery(this).attr('selected',false);
                        var op = sel2.find('option:first-child');
                        var _id = jQuery(this).val();
                        mgrrolemenu(_id);
                        sel2.append(jQuery(this));
                    }
                });	
            } else {
                sel2.find('option').each(function(){
                    if(jQuery(this).is(':selected')) {
                        jQuery(this).attr('selected', false);
                        var _id = jQuery(this).val();
                        mgrrolemenu(_id);
                        sel1.append(jQuery(this));
                    }
                });		
            }
        });
    });

    function mgrrolemenu(menu_id) {
        var role_id = jQuery('#ddlRoles').val();
        jQuery.ajax({
            url: '/Ajax/ajaxMgrRoleMenu',
            dataType: "json",
            type: "POST",
            data: JSON.stringify({ role_id: role_id, menu_id: menu_id }),
            contentType: 'application/json; charset=utf-8',
            async: true,
            processData: false,
            cache: false,
            success: function (data) {
                
                var msg = "Role menu successfully " + JSON.parse(data).res;
                jQuery.growl.notice({ title: JSON.parse(data).res, message: msg });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                var msg = "Error";
                jQuery.growl.error({ title: "Error", message: msg });
            }
        });
    }


    homogeneous = new kendo.data.HierarchicalDataSource({
        transport: {
            read: {
                url: '/Ajax/ajaxGetWebMenus',
                dataType: "jsonp"
            }
        },
        schema: {
            model: {
                id: "menu_id",
                hasChildren: "parent_id"
            }
        }
    });
    debugger
    jQuery("#treeview").kendoTreeView({
        checkboxes: {
            checkChildren: true
        },

        check: onCheck,

        dataSource: homogeneous,
        dataTextField: ["parent_id", "menu_name", "menu_id"]
        //[{
        //    id: 1, text: "All Menus", expanded: true, spriteCssClass: "rootfolder", items: [
        //        {
        //            id: 2, text: "Dashboard", expanded: true, spriteCssClass: "folder", items: [
        //                { id: 3, text: "Dashboard", spriteCssClass: "html" },
        //                { id: 4, text: "Calendar", spriteCssClass: "html" },
        //                { id: 5, text: "Work Queue", spriteCssClass: "html" }
        //            ]
        //        },
        //        {
        //            id: 6, text: "Schedule", expanded: true, spriteCssClass: "folder", items: [
        //                { id: 7, text: "Dashboard", spriteCssClass: "html" },
        //                { id: 8, text: "Staff Schedule", spriteCssClass: "html" },
        //                { id: 8, text: "Time Sheet", spriteCssClass: "html" },
        //                { id: 8, text: "Staff Hours", spriteCssClass: "html" },
        //                { id: 8, text: "Burn Down", spriteCssClass: "html" },
        //                { id: 8, text: "Attadence", spriteCssClass: "html" },
        //                { id: 8, text: "Distribution", spriteCssClass: "html" },
        //                { id: 8, text: "Automation", spriteCssClass: "html" },
        //            ]
        //        },
        //        {
        //            id: 9, text: "Clock Time", expanded: true, spriteCssClass: "folder", items: [
        //                { id: 10, text: "Dashboard", spriteCssClass: "html" },
        //                { id: 11, text: "Staff Clocking", spriteCssClass: "html" },
        //                { id: 11, text: "Clocking TimeSheet", spriteCssClass: "html" },
        //                { id: 12, text: "Clocking Logs", spriteCssClass: "html" },
        //                { id: 12, text: "Clocking Issues", spriteCssClass: "html" },
        //                { id: 12, text: "Settings", spriteCssClass: "html" },
        //            ]
        //        },
        //        {
        //            id: 9, text: "Organisation", expanded: true, spriteCssClass: "folder", items: [
        //                { id: 10, text: "Dashboard", spriteCssClass: "html" },
        //                { id: 11, text: "Structure", spriteCssClass: "html" },
        //                { id: 12, text: "Staff Members", spriteCssClass: "html" },
        //                { id: 12, text: "Organisation Details", spriteCssClass: "html" },
        //            ]
        //        },
        //        {
        //            id: 9, text: "Scheduler", expanded: true, spriteCssClass: "folder", items: [
        //                { id: 10, text: "February.pdf", spriteCssClass: "pdf" },
        //                { id: 11, text: "March.pdf", spriteCssClass: "pdf" },
        //                { id: 12, text: "April.pdf", spriteCssClass: "pdf" }
        //            ]
        //        },
        //        {
        //            id: 9, text: "Human Resourse", expanded: true, spriteCssClass: "folder", items: [
        //                { id: 10, text: "February.pdf", spriteCssClass: "html" },
        //                { id: 11, text: "March.pdf", spriteCssClass: "html" },
        //                { id: 12, text: "April.pdf", spriteCssClass: "html" }
        //            ]
        //        },
        //        {
        //            id: 9, text: "Reports", expanded: true, spriteCssClass: "folder", items: [
        //                { id: 10, text: "February.pdf", spriteCssClass: "pdf" },
        //                { id: 11, text: "March.pdf", spriteCssClass: "html" },
        //                { id: 12, text: "April.pdf", spriteCssClass: "html" }
        //            ]
        //        },
        //        {
        //            id: 9, text: "Administrator", expanded: true, spriteCssClass: "folder", items: [
        //                { id: 10, text: "February.pdf", spriteCssClass: "pdf" },
        //                { id: 11, text: "March.pdf", spriteCssClass: "html" },
        //                { id: 12, text: "April.pdf", spriteCssClass: "html" }
        //            ]
        //        },
        //        {
        //            id: 9, text: "Help", expanded: true, spriteCssClass: "folder"
        //        }
        //    ]
        //}]
    });

    // function that gathers IDs of checked nodes
    function checkedNodeIds(nodes, checkedNodes) {
        for (var i = 0; i < nodes.length; i++) {
            if (nodes[i].checked) {
                checkedNodes.push(nodes[i].id);
            }

            if (nodes[i].hasChildren) {
                checkedNodeIds(nodes[i].children.view(), checkedNodes);
            }
        }
    }

    // show checked node IDs on datasource change
    function onCheck() {
        var checkedNodes = [],
            treeView = jQuery("#treeview").data("kendoTreeView"),
            message;

        checkedNodeIds(treeView.dataSource.view(), checkedNodes);

        if (checkedNodes.length > 0) {
            message = "IDs of checked nodes: " + checkedNodes.join(",");
        } else {
            message = "No nodes checked.";
        }

        jQuery("#result").html(message);
    }

</script>
