﻿
@{
    ViewBag.Title = "spHelper";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="centercontent1">

    <div class="pageheader">
        <span class="profilepic"><img src="" alt="" /></span>
        <div class="profiletitle">
            <h1 class="pagetitle">Helper</h1>
            <span class="pagedesc"></span>
        </div>
    </div><!--pageheader-->
    <div id="contentwrapper" class="contentwrapper" style="background-color: #fff !important">
        <div>
            <table class="table">

                <tr>
                    <td>
                        <textarea id="txthelper" rows="5" cols="50"></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
            <div class="alignright">
                <input type="button" id="btn_save" class="btn btn-primary" value="Help" />
            </div>
            <br />
            <hr />
            <br />
            <div id="resHepler"></div>
        </div>
    </div>
</div>


<script type="text/javascript">

    jQuery(document).ready(function () {
        jQuery("#btn_save").click(function () {
            var data = {
                message: jQuery('#txthelper').val()
            };
            console.log(data)
            jQuery.ajax({
                url: '/Admin/PostHelpData',
                dataType: "json",
                type: "POST",
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    var res = JSON.parse(response);
                    console.log(res);

                    jQuery('#resHepler').html('');
                    jQuery('#resHepler').append(res.message);
                },
                error: function (xhr, thrownError, thrownError) {
                    console.log(xhr)
                    console.log(thrownError)
                    console.log(thrownError)
                    var msg = "Message: " + thrownError;
                    jQuery.growl.error({ title: "Exception", message: msg });
                }
            });
        });
    });

</script>


