﻿@model web_app.Models.Config
@{
    ViewBag.Title = "Sysconfig";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("..//partial//_side_menu_admin", null, new ViewDataDictionary { { "_current", "Config" } })


<div class="centercontent">

    <div class="pageheader">
        <h1 class="pagetitle">System Settings</h1>
        <span class="pagedesc">Manage system settings parameters</span>
    </div>

    @using (Html.BeginForm("Sysconfig", "Admin", FormMethod.Post, new { id = "frm_config", @class = "stdform stdform2", enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div id="validation">
            <div class="stdform stdform2 grid_3 ">
                <table class="table " style="border-top:0 !important">

                    <tr>
                        <td>                            
                            Company Default Role
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            @Html.DropDownList("ddlCompanyRole", ViewBag.list_com_roles as SelectList, "Select Company Default Role...", new { @class = "longinput" })
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            Manufacture Default Role
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            @Html.DropDownList("ddlManufactureRole", ViewBag.list_man_roles as SelectList, "Select Manufacture Default Role...", new { @class = "longinput" })
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Date Format
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            @Html.DropDownList("ddlDateFormat", ViewBag.list_dateformat as SelectList, "Select Date Format...", new { @class = "longinput" })
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            Week Start Day
                        </td>
                        <td>&nbsp;</td>
                        <td>
                            @Html.DropDownList("ddlStartDay", ViewBag.list_startday as SelectList, "Select Week Start Day...", new { @class = "longinput" })
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <p class="stdformbutton">
            <input type="submit" class="submit radius2" value="Update Settings" />
            @*<input type="reset" class="reset radius2" value="Reset Button" />*@
        </p>
    }
</div>



<script>
    jQuery(ducument).ready(function () {
        jQuery('input:checkbox,input:radio').uniform();
    });

</script>