﻿@model IEnumerable<web_app.Models.Users>
@{
    ViewBag.Title = "ViewUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("..//partial//_side_menu_admin", null, new ViewDataDictionary { { "_current", "View" } })

<div class="centercontent" style="padding:5px 0px">

    <div class="pageheader">
        <h1 class="pagetitle">System Users</h1>
        <span class="pagedesc">List of all system users </span>

    </div>
    <div id="grid" class="stdtable table"></div>

    @*<table cellpadding="0" cellspacing="0" border="0" class="stdtable table" id="dyntable2">
            <colgroup>
                <col class="con0" style="width: 4%" />
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
            </colgroup>
            <thead>
                <tr>
                    <th class="head0 nosort"></th>
                    <th class="head0 nosort">Photo</th>
                    <th class="head1">Username</th>
                    <th class="head0">User FullNmae</th>
                    <th class="head1">Role</th>
                    <th class="head0">Telephone</th>
                    <th class="head1">Email</th>
                    <th class="head0">Department</th>
                    <th class="head1 nosort">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Byte_Staff.Models.Users _model in Model)
                {
                    <tr class="gradeX">
                        <td align="center">
                            <span class="center">
                                <input type="checkbox" />
                            </span>
                        </td>
                        <td style="text-align:center; padding:1px; line-height:0"><img src="~/Photo/Users/@_model.photo" class="img-circle" style="width:40px; height:40px" /></td>
                        <td>@_model.username</td>
                        <td>@_model.name @_model.surname</td>
                        <td>@_model.role_name</td>
                        <td>@_model.telephone</td>
                        <td>@_model.email</td>
                        <td>@_model.department</td>
                        <td style="padding:1px; line-height:0">
                            <ul class="buttonlist" style="margin:0px !important">
                                <li style="margin:1px"><a href="@Url.Action("StaffView_win", "Admin", new { staff_id = @_model.user_id.ToString() })" class="fancybox btns btn5 btn_yellow btn5_search"></a></li>
                            </ul>
                        </td>
                    </tr>
                }
            </tbody>
        </table>*@
</div>


<script type="text/javascript">
    jQuery(document).ready(function () {


        jQuery('#grid').kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: {
                        url: '/ajax/GetUserList',
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: 'id',
                        fields: {
                            id: {
                                editable: false,
                                nullable: true
                            }
                        }
                    },
                    data: function (data) {
                        return JSON.parse(data);
                    },
                    total: function (data) {
                        return (jQuery(JSON.parse(data))).length;
                    },
                },
                batch: false,
                pageSize: 10,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            toolbar: [
            {
                name: "Create",
                template:
                    '<div class="k-button form-container" id="users_create">' +
                        '<span class="k-icon k-i-plus" style="vertical-align: middle;"></span>' +
                            'Create' +
                    '</div>' 
                    //'<div style="float: right" class="form-container">' +
                    //     '<table><tr><td>' +
                    //    '<input data-control="text" class="form-control" placeholder="please enter any free form text to search......" type="text" id="searchgrid" style="width: 300px;" onblur="grid();" /></div>' +
                    //    '</td></tr></table>' +
                    //'</div>'
            },
            {
                name: "Advanced",
                template:

                '<div class="k-button" onclick="exporttoexcel();">' +
                    '<span class="k-icon fa-file-excel-o"></span>' +
                        'Export to Excel' +
                '</div>' +
                '<div class="k-button" onclick="view_structure();">' +
                    '<span class="k-icon fa-file-excel-o"></span>' +
                        'Export to PDF' +
                '</div>'
            }],
            columns: [
                 {
                     width: 100,
                     command: [
                         {
                             name: "View",
                             template: '<div class="fa fa-info-circle custom_command_view" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="view(this);"></div>'
                         },
                         {
                             name: "Change",
                             template: '<div class="fa fa-edit custom_command_change" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="change(this);"></div>'
                         },
                         {
                             name: "Password",
                             template: '<div class="fa fa-unlock custom_command_remove" data-text="Remove Record" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="change_password(this);"></div>'
                         },
                         {
                             name: "Remove",
                             template: '<div class="fa fa-trash-o custom_command_remove" data-text="Remove Record" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="remove();"></div>'
                         }
                     ],
                     title: '&nbsp;'
                 },
                {
                    field: 'user_id',
                    title: 'user_id',
                    hidden: true,
                },
                {
                    field: "username",
                    title: "Username / Email",
                    width: 150,
                },
                {
                    field: "surname",
                    title: "Surnam",
                    width: 250,
                },
                {
                    field: "name",
                    title: "Name",
                    width: 150,
                },
                {
                    field: "telephone",
                    title: "Telephone",
                    width: 250,
                },
                {
                    field: "role_name",
                    title: "User Role",
                    width: 150,
                },
                {
                    field: "department",
                    title: "Department",
                    width: 150,
                },
                {
                    field: "isAdmin",
                    title: "Administrator",
                    width: 150,
                },
                {
                    field: "isStaff",
                    title: "Is Staff",
                    width: 150,
                }
            ],
            //filterable: true,
            //sortable: true,
            //reorderable: true,
            //resizable: true,
            //selectable: 'row',
            pageable: true,
            //dataBound: wizard.context,
            //detailTemplate: kendo.template('<div class="detail_grid"></div>'),
            //detailInit: detailInit,
        });


        //jQuery('.dataTables_filter label input:text').addClass("form-control-sm");
        //jQuery('#dyntable2').dataTable({
        //    "sPaginationType": "full_numbers",
        //    "aaSortingFixed": [[0, 'asc']],
        //    "fnDrawCallback": function (oSettings) {
        //        jQuery('input:checkbox,input:radio').uniform();
        //    }
        //});

        jQuery('a.fancybox').click(function () {
            jQuery.fancybox.open({
                'content': jQuery('<div>').load(jQuery(this).attr('href')),
                'autoScale': false,
                'autoDimensions': true,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'hideOnOverlayClick': false,
                'hideOnContentClick': false,
                'showCloseButton': true,
                'type': 'iframe',
                'autoSize': false,
                'width': 950,
                'height': 500,
                helpers: {
                    overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
                },
                'afterClose': function () {
                    //window.location.reload();
                }
            });
            return false;
        });

        jQuery('#users_create').click(function () {
            var url = "/Admin/AddUser";
            show_win(url);
        });

    });

    function change_password(e) {
        var username = get_username(e);
        if (username) {
            var url = "/Admin/ChangePassword_win?username=" + username;
            show_win(url);
        }
    }
    

    function change(e) {
        var username = get_username(e);
        if (username) {
            var url = "/Admin/AddUser?username=" + username;
            show_win(url);
        }
    }

    function remove(e) {
        jConfirm('Are you sure you want to delete selected shift?', 'Confirm Delete', function (r) {
            if (r == true) {
                var id = get_id(e);
                var url = "/Admin/DeleteUser?shift_id=" + id;
                delete_record(id, url);
            }
        });

    }

    function view(e) {
        var shift_id = get_id(e);
        if (shift_id) {
            var url = "/admin/ShiftView_win?shift_id=" + shift_id;
            show_win(url);
        }
    }

    function get_id(e) {
        var id = jQuery(e.parentElement.parentElement).find('td')[1].innerText;
        if (!id) {
            var msg = "Please select record before you proceed.";
            jQuery.growl.warning({ title: "Oops", message: msg });
            return false;
        }
        return id;
    }
    function get_username(e) {
        var id = jQuery(e.parentElement.parentElement).find('td')[2].innerText;
        if (!id) {
            var msg = "Please select record before you proceed.";
            jQuery.growl.warning({ title: "Oops", message: msg });
            return false;
        }
        return id;
    }

    function show_win(url) {
        jQuery.fancybox.open({
            'content': jQuery('<div>').load(url),
            'autoScale': false,
            'autoDimensions': true,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'hideOnOverlayClick': false,
            'hideOnContentClick': false,
            'showCloseButton': true,
            'type': 'iframe',
            'autoSize': false,
            'width': 950,
            'height': 600,
            helpers: {
                overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
            },
            'afterClose': function () {
                //window.location.reload();
            }
        });
        return false;
    }

    function delete_record(id, url) {
        jQuery.ajax({
            url: url,
            dataType: "json",
            type: "POST",
            data: JSON.stringify({
                id: id,
            }),
            contentType: 'application/json; charset=utf-8',
            async: false,
            success: function (response, newValue) {
                var data = JSON.parse(response);
                if (data.code == 1) {
                    var msg = data.message;
                    jQuery.growl.notice({ title: "Saved", message: msg });
                }
                else {
                    var msg = data.message;
                    jQuery.growl.warning({ title: "Failed", message: msg });
                }
            },
            error: function (xhr, thrownError, thrownError) {
                var msg = "Message: " + thrownError;
                jQuery.growl.error({ title: "Exception", message: msg });
            }
        });
    }
</script>
