﻿@model  IEnumerable<web_app.Models.Roles>
@{
    ViewBag.Title = "ViewRoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("..//partial//_side_menu_admin", null, new ViewDataDictionary { { "_current", "View" } })

<div class="centercontent" style="padding:5px  0px">

    <div class="pageheader">
        <h1 class="pagetitle">Role List</h1>
        <span class="pagedesc">List of all role </span>

    </div>
    <div id="grid" class="stdtable table"></div>
    @*<table cellpadding="0" cellspacing="0" border="0" class="stdtable table" id="dyntable2">
        <colgroup>
            <col class="con0" style="width: 4%" />
            <col class="con0" />
            <col class="con1" />
            <col class="con0" />
            <col class="con1" />
            <col class="con0" />
        </colgroup>
        <thead>
            <tr>
                <th class="head0 nosort"></th>
                <th class="head0">Role Code</th>
                <th class="head1">Role Name</th>
                <th class="head0">Department</th>
                <th class="head1">Active</th>
                <th class="head0 nosort">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (web_app.Models.Roles _role in Model)
            {
                <tr class="gradeX">
                    <td align="center">
                        <span class="center">
                            <input type="checkbox" />
                        </span>
                    </td>
                    <td>@_role.role_code</td>
                    <td>@_role.role_name</td>
                    <td>@_role.role_dept</td>
                    <td>@_role.role_active</td>
                    <td style="padding:1px; line-height:0">
                        <ul class="buttonlist" style="margin:0px !important">
                            <li style="margin:1px"><a href="@Url.Action("ViewRole_win", "Admin", new { role_id = @_role.role_id.ToString() })" class="fancybox btns btn5 btn_yellow btn5_search"></a></li>

                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
</div>


<script type="text/javascript">

    jQuery(document).ready(function () {

        jQuery('#grid').kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: {
                        url: '/ajax/GetRoleList',
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: 'id',
                        fields: {
                            id: {
                                editable: false,
                                nullable: true
                            }
                        }
                    },
                    data: function (data) {
                        return JSON.parse(data);
                    },
                    total: function (data) {
                        return (jQuery(JSON.parse(data))).length;
                    },
                },
                batch: false,
                pageSize: 10,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            toolbar: [
            {
                name: "Create",
                template:
                    '<div class="k-button form-container" id="role_create">' +
                        '<span class="k-icon k-i-plus" style="vertical-align: middle;"></span>' +
                            'Create' +
                    '</div>' +
                    '<div style="float: right" class="form-container">' +
                         '<table><tr><td>' +
                        '<input data-control="text" class="form-control" placeholder="please enter any free form text to search......" type="text" id="searchgrid" style="width: 300px;" onblur="grid();" /></div>' +
                        '</td></tr></table>' +
                    '</div>'
            },
            {
                name: "Advanced",
                template:

                '<div class="k-button" onclick="exporttoexcel();">' +
                    '<span class="k-icon fa-file-excel-o"></span>' +
                        'Export to Excel' +
                '</div>' 
            }],
            columns: [
                 {
                     width: 70,
                     command: [
                         {
                             name: "View",
                             template: '<div class="fa fa-info-circle custom_command_view" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="view_role(this);"></div>'
                         },
                         {
                             name: "Change",
                             template: '<div class="fa fa-edit custom_command_change" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="role_change(this);"></div>'
                         },
                         {
                             name: "Remove",
                             template: '<div class="fa fa-trash-o custom_command_remove" data-text="Remove Record" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="remove();"></div>'
                         }
                     ],
                     title: '&nbsp;'
                 },
                {
                    field: 'role_id',
                    title: 'role_id',
                    hidden: true,
                },
                {
                    field: "role_code",
                    title: "Role Code",
                    width: 150,
                },
                {
                    field: "role_name",
                    title: "Role Name",
                    width: 150,
                },
                {
                    field: "role_active",
                    title: "Role Active",
                    width: 150,
                }
            ],

            //filterable: true,
            //sortable: true,
            //reorderable: true,
            //resizable: true,
            //selectable: 'row',
            pageable: true,
            //dataBound: wizard.context,
            //detailTemplate: kendo.template('<div class="detail_grid"></div>'),
            //detailInit: detailInit,
        });
        //jQuery('.dataTables_filter label input:text').addClass("form-control-sm");
        //jQuery('#dyntable2').dataTable({
        //    "sPaginationType": "full_numbers",
        //    "aaSortingFixed": [[0, 'asc']],
        //    "fnDrawCallback": function (oSettings) {
        //        jQuery('input:checkbox,input:radio').uniform();
        //    }
        //});
        jQuery('a.fancybox').click(function () {
            jQuery.fancybox.open({
                'content': jQuery('<div>').load(jQuery(this).attr('href')),
                'autoScale': false,
                'autoDimensions': true,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'hideOnOverlayClick': false,
                'hideOnContentClick': false,
                'showCloseButton': true,
                'type': 'iframe',
                'autoSize': false,
                'width': 950,
                'height': 500,
                helpers: {
                    overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
                },
                'afterClose': function () {
                    window.location.reload();
                }
            });
            return false;
        });

        
        jQuery('#role_create').click(function () {
            jQuery.fancybox.open({
                'content': jQuery('<div>').load('/Admin/AddRole'),
                'autoScale': false,
                'autoDimensions': true,
                'transitionIn': 'none',
                'transitionOut': 'none',
                'hideOnOverlayClick': false,
                'hideOnContentClick': false,
                'showCloseButton': true,
                'type': 'iframe',
                'autoSize': false,
                'width': 600,
                'height': 600,
                helpers: {
                    overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
                },
                'afterClose': function () {
                    // window.location.reload();
                }
            });
            return false;
        });

    });

    function role_change(e) {

        var role_id = jQuery(e.parentElement.parentElement).find('td')[1].innerText;
        if (!role_id) {
            var msg = "Please select role to edit.";
            jQuery.growl.warning({ title: "Oops", message: msg });
            return false;
        }
        jQuery.fancybox.open({
            'content': jQuery('<div>').load('/Admin/AddRole?role_id=' + role_id),
            'autoScale': false,
            'autoDimensions': true,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'hideOnOverlayClick': false,
            'hideOnContentClick': false,
            'showCloseButton': true,
            'type': 'iframe',
            'autoSize': false,
            'width': 600,
            'height': 600,
            helpers: {
                overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
            },
            'afterClose': function () {
                // window.location.reload();
            }
        });
        return false;
    }
    function view_role(e) {

        var role_id = jQuery(e.parentElement.parentElement).find('td')[1].innerText;
        if (!role_id) {
            var msg = "Please select role to edit.";
            jQuery.growl.warning({ title: "Oops", message: msg });
            return false;
        }
        jQuery.fancybox.open({
            'content': jQuery('<div>').load('/Admin/ViewRole_win?role_id=' + role_id),
            'autoScale': false,
            'autoDimensions': true,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'hideOnOverlayClick': false,
            'hideOnContentClick': false,
            'showCloseButton': true,
            'type': 'iframe',
            'autoSize': false,
            'width': 1000,
            'height': 600,
            helpers: {
                overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
            },
            'afterClose': function () {
                // window.location.reload();
            }
        });
        return false;
    }
</script>

