﻿
@{
    ViewBag.Title = "ViewAssets";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("..//partial//_side_menu", null, new ViewDataDictionary { { "_current", "Company" } })


<div class="centercontent">

    <div class="pageheader">
        <h1 class="pagetitle">Company Asset Report</h1>
        <span class="pagedesc">List of company assets</span>
    </div>
    <div id="contentwrapper" class="contentwrapper nopadding">
        <div class="filemgr">
            <div class="filemgr_left">
                <!--<div class="filemgr_head">
                    <ul class="filemgr_menu">
                        <li class="marginleft5 viewfilebtn"><a class="preview preview_disabled">Export To Excel</a></li>
                    </ul>
                    <span class="clearall"></span>
                </div>-filemgr_head-->

                <div id="grid" class="table table-striped"></div>

            </div>
        </div>
    </div>
</div>


            <script type="text/javascript">
                jQuery(document).ready(function () {

                    jQuery('#grid').kendoGrid({
                        dataSource: {
                            type: "odata",
                            transport: {
                                read: {
                                    url: '/Company/GetCompanyTag',
                                    dataType: "json"
                                }
                            },
                            schema: {
                                model: {
                                    id: 'tag_id',
                                    fields: {
                                        id: {
                                            editable: false,
                                            nullable: true
                                        }
                                    }
                                },
                                data: function (data) {
                                    return JSON.parse(data);
                                },
                                total: function (data) {
                                    return (jQuery(JSON.parse(data))).length;
                                },
                            },
                            batch: false,
                            pageSize: 10,
                            serverPaging: false,
                            serverFiltering: false,
                            serverSorting: false
                        },
                        //toolbar: [
                        //{
                        //    name: "Create",
                        //    template:
                        //        '<div class="k-button form-container bg-success" id="btn_create">' +
                        //            '<span class="k-icon k-i-plus" style="vertical-align: middle;"></span>' +
                        //                'Create' +
                        //        '</div>' +
                        //        '<div style="float: right" class="form-container">' +
                        //            '<input data-control="text" class="form-control" placeholder="please enter any free form text to search......" type="text" id="searchgrid" style="width: 300px;" onblur="grid();" /></div>' +
                        //        '</div>'
                        //}],
                        toolbar: ["excel"],
                        columns: [
                             //{
                             //    width: 70,
                             //    command: [
                             //        //{
                             //        //    name: "View",
                             //        //    template: '<div class="fa fa-info-circle custom_command_view" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="view(this);"></div>'
                             //        //},
                             //        //{
                             //        //    name: "Change",
                             //        //    template: '<div class="fa fa-edit custom_command_change" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="change(this);"></div>'
                             //        //},
                             //        //{
                             //        //    name: "Remove",
                             //        //    template: '<div class="fa fa-trash-o custom_command_remove" data-text="Remove Record" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="remove(this);"></div>'
                             //        //}
                             //    ],
                             //    title: '&nbsp;'
                             //},
                            {
                                field: 'tag_id',
                                title: 'tag_id',
                                hidden: true,
                            },
                                   {
                                       field: "asset_description",
                                       title: "Item Description",
                                       width: 150,
                                       filterable: {
                                           cell: {
                                               showOperators: false,
                                               operator: "contains"
                                           }
                                       }
                                   }, {
                                       field: "barcode",
                                       title: "NFC Code",
                                       width: 150,
                                       filterable: {
                                           cell: {
                                               showOperators: false,
                                               operator: "contains"
                                           }
                                       }
                                   },
                {
                    field: "sn_no",
                    title: "Serial/Barcode Number",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "asset_name",
                    title: "Standard Code",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "category_name",
                    title: "Category",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "item_name",
                    title: "Item",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "size_ton",
                    title: "Size Ton",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "size_meter",
                    title: "Size Meter",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "size_mm",
                    title: "Size MM",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "site_name",
                    title: "Site Name",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "certification",
                    title: "Item Certificate",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "test_cycle",
                    title: "Load Test Cycle",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "insp_cycle",
                    title: "Inpection Cycle",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "company_name",
                    title: "Tag Company",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "last_inspection_date",
                    title: "Last Inspection Date",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "next_inspection_date",
                    title: "Next Inspection Date",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "visual",
                    title: "Visual",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "loadtest",
                    title: "Load Tested",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "scrap",
                    title: "Scarp",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "recondition",
                    title: "Recondition",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "insp_comments",
                    title: "Inspection Comments",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "insp_status",
                    title: "Inspection Status",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "inspe_photo",
                    title: "Inspection Phot Uploaded",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "insp_lat",
                    title: "Inspection Latitude",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "insp_lon",
                    title: "Inspection Longitude",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "insp_fullname",
                    title: "Inspector",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "insp_certificate",
                    title: "Inspector Certificate",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "insp_company",
                    title: "Inspector Company",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "scanin",
                    title: "Scan In",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "scanout",
                    title: "Scan Out",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "linkatag",
                    title: "Link A Tag",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: " handovertag",
                    title: "Hand Over Tag",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "tag_latitude",
                    title: "Tag Latitude",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "tag_longitude",
                    title: "Tag Longitude",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "man_name",
                    title: "Tag Mananufacture",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                }
                        ],
                        filterable: true,
                        sortable: true,
                        pageable: true,
                    });

                    jQuery('#btn_create').click(function () {
                        var url = "/items/win_add_test";
                        show_win(url);
                    });
                });


                function change(e) {
                    var args = get_id(e);
                    if (args) {
                        var url = "/items/win_add_test?id=" + args;
                        show_win(url);
                    }
                }

                function get_id(e) {
                    var id = jQuery(e.parentElement.parentElement).find('td')[1].innerText;
                    if (!id) {
                        var msg = "Please select record before you proceed.";
                        jQuery.growl.warning({ title: "Oops", message: msg });
                        return false;
                    }
                    return id;
                }

                function show_win(url) {
                    jQuery.fancybox.open({
                        'content': jQuery('<div>').load(url),
                        'autoScale': false,
                        'autoDimensions': true,
                        'transitionIn': 'none',
                        'transitionOut': 'none',
                        'hideOnOverlayClick': false,
                        'hideOnContentClick': false,
                        'showCloseButton': true,
                        'type': 'iframe',
                        'autoSize': false,
                        'width': 450,
                        'height': 350,
                        helpers: {
                            overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
                        },
                        'afterClose': function () {
                            window.location.reload();
                        }
                    });
                    return false;
                }
            </script>
