﻿
@{
    ViewBag.Title = "failreport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("..//partial//_side_menu", null, new ViewDataDictionary { { "_current", "Company" } })


<div class="centercontent">

    <div class="pageheader">
        <h1 class="pagetitle">Failed Inpection Report</h1>
        <span class="pagedesc">List of failed inspection report</span>
    </div>
    <div id="contentwrapper" class="contentwrapper nopadding">
        <div class="filemgr">
            <div class="filemgr_left">
                <div class="filemgr_head">
                    <ul class="filemgr_menu">
                        <li class="marginleft5 viewfilebtn"><a class="preview preview_disabled">Export To Excel</a></li>
                    </ul>
                    <span class="clearall"></span>
                </div>

                <div id="grid" class="table table-striped"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
                jQuery(document).ready(function () {

                    jQuery('#grid').kendoGrid({
                        dataSource: {
                            type: "odata",
                            transport: {
                                read: {
                                    url: '/BI/PassFailReport',
                                    dataType: "json"
                                }
                            },
                            schema: {
                                model: {
                                    id: 'tag_id',
                                    fields: {
                                        id: {
                                            editable: false,
                                            nullable: true
                                        }
                                    }
                                },
                                data: function (data) {
                                    return JSON.parse(data);
                                },
                                total: function (data) {
                                    return (jQuery(JSON.parse(data))).length;
                                },
                            },
                            batch: false,
                            pageSize: 10,
                            serverPaging: false,
                            serverFiltering: false,
                            serverSorting: false
                        },
                        toolbar: [
                        {
                            name: "Create",
                            template:
                                '<div class="k-button form-container bg-success" id="btn_create">' +
                                    '<span class="fa fa-file-o" style="vertical-align: middle;"></span>' +
                                        'Export to Excel' +
                                '</div>' +
                                '<div style="float: right" class="form-container">' +
                                    '<input data-control="text" class="form-control" placeholder="please enter any free form text to search......" type="text" id="searchgrid" style="width: 300px;" onblur="grid();" /></div>' +
                                '</div>'
                        }],
                        columns: [
                             //{
                             //    width: 70,
                             //    command: [
                             //        //{
                             //        //    name: "View",
                             //        //    template: '<div class="fa fa-info-circle custom_command_view" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="view(this);"></div>'
                             //        //},
                             //        //{
                             //        //    name: "Change",
                             //        //    template: '<div class="fa fa-edit custom_command_change" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="change(this);"></div>'
                             //        //},
                             //        //{
                             //        //    name: "Remove",
                             //        //    template: '<div class="fa fa-trash-o custom_command_remove" data-text="Remove Record" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="remove(this);"></div>'
                             //        //}
                             //    ],
                             //    title: '&nbsp;'
                             //},
                            {
                                field: 'tag_id',
                                title: 'tag_id',
                                hidden: true,
                            },
                            {
                                field: "barcode",
                                title: "barcode",
                                width: 150,
                            },
                            {
                                field: "firstname",
                                title: "firstname",
                                width: 150,
                            },
                            {
                                field: "category_name",
                                title: "category_name",
                                width: 150,
                            },
                            {
                                field: "item_name",
                                title: "Item",
                                width: 150,
                            },
                            {
                                field: "asset_name",
                                title: "Asset",
                                width: 150,
                            },
                            {
                                field: "insp_date",
                                title: "Date",
                                width: 150,
                            }
                        ],
                        filterable: true,
                        sortable: true,
                        pageable: true,
                    });

                    jQuery('#btn_create').click(function () {
                        var url = "/items/win_add_test";
                        show_win(url);
                    });
                });


                function change(e) {
                    var args = get_id(e);
                    if (args) {
                        var url = "/items/win_add_test?id=" + args;
                        show_win(url);
                    }
                }

                function get_id(e) {
                    var id = jQuery(e.parentElement.parentElement).find('td')[1].innerText;
                    if (!id) {
                        var msg = "Please select record before you proceed.";
                        jQuery.growl.warning({ title: "Oops", message: msg });
                        return false;
                    }
                    return id;
                }

                function show_win(url) {
                    jQuery.fancybox.open({
                        'content': jQuery('<div>').load(url),
                        'autoScale': false,
                        'autoDimensions': true,
                        'transitionIn': 'none',
                        'transitionOut': 'none',
                        'hideOnOverlayClick': false,
                        'hideOnContentClick': false,
                        'showCloseButton': true,
                        'type': 'iframe',
                        'autoSize': false,
                        'width': 450,
                        'height': 350,
                        helpers: {
                            overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
                        },
                        'afterClose': function () {
                            window.location.reload();
                        }
                    });
                    return false;
                }
</script>

