﻿@model web_app.Models.PassFailReportDTO
@{
    ViewBag.Title = "PassFailReport";
    Layout = "~/Views/Shared/_Anon.cshtml";
}
<link rel="stylesheet" href="~/Assets/css/style.default.css" type="text/css" />
<link rel="stylesheet" href="~/Assets/css/bootstrap.css" type="text/css" />
<style type="text/css">
    body {
        background: rgb(204,204,204);
    }

    page {
        background: white;
        display: block;
        margin: 0 auto;
        margin-bottom: 0.5cm;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }

        page[size="A4"] {
            width: 21cm;
            height: 29.7cm;
        }

            page[size="A4"][layout="portrait"] {
                width: 29.7cm;
                height: 21cm;
            }
.box {
  border: 1px solid gray;
  padding: 2px;
}
.box1 {
  border: 1px solid gray;
  padding: 2px;
  background-color: cadetblue;
}
</style>
<page size="A4">

    <table style="width:100%; margin:6px" cellpadding="0" cellspacing="0">
        <tr>
            <th valign="top">
                <h4 style="padding:2px !important; margin: 2px !important">CERTIFICATE NO: @Model.inspection_id</h4>
                <h4 style="padding:2px !important; margin: 2px !important">LIFTINGiD </h4>
                <h5 style="padding:2px !important; margin: 2px !important; color:blue">&nbsp;</h5>
                <label>Printed on: <strong>@DateTime.Now.ToString("dd MMM yyyy")</strong></label>
            </th>
            <th colspan="2" valign="top">
                <center>
                    <br />
                    <img src="@Model.company_logo_data" alt="" style="width:200px; height:100px; border: 1px solid gray" />
                </center>
            </th>
            <th valign="top">
                <h4 style="padding:2px !important; margin: 2px !important">@Model.company_name</h4>
                <label>@Model.company_reg</label><br />
                <label>@Model.company_street</label><br />
                <label>@Model.company_city</label><br />
                <label>@Model.company_pcode</label><br />
                <label>@Model.company_email</label><br />
            </th>
        </tr>
        <tr>
            <td colspan="4">
                &nbsp;
            </td>
        </tr>
        <tr style="background-color:gray !important; font-weight: bold; color: white; text-align:center">
            <td colspan="4" style="background-color:gray !important">
                <h2 style="padding:2px !important; margin: 2px !important;">  CERTIFICATE</h2>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="text-right-off"><label>ITEM DESCRIPTION: </label></td>
            <td>&nbsp;&nbsp;&nbsp;<label><u>@Model.asset_description</u></label></td>
            <td colspan="2" rowspan="4" valign="top" align="center"><img src="@Model.item_image_data" alt="" style="width:110px; height:100px; border: 1px;" /></td>

        </tr>
        <tr>
            <td class="text-right-off"><label>CERTIFICATE: </label></td>
            <td>&nbsp;&nbsp;&nbsp;<label><u>@(Model.visual) @(Model.loadtest) </u></label></td>
        </tr>
        <tr>
            <td class="text-right-off"><label>INSPECTION DATE: </label></td>
            <td>&nbsp;&nbsp;&nbsp;<label><u>@Model.inspection_date</u></label></td>
        </tr>
        <tr>
            <td class="text-right-off"><label>INSPECTION RESULTS: </label></td>
            <td>&nbsp;&nbsp;&nbsp;<label><u>@Model.inspection_status.ToUpper()</u></label></td>
        </tr>
        <tr>
            <td colspan="4">
                &nbsp;
            </td>
        </tr>
        <tr style="background-color:gray !important; font-weight: bold; color: white; text-align:center">
            <td colspan="4" style="background-color:gray !important">
                <h2 style="padding:2px !important; margin: 2px !important;">  SPECIFICATION</h2>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td class="box1"><label>STANDARD CODE</label></td>
            <td class="box"><label><e>@Model.stdcode</e></label></td>
            <td class="box1"><label>ITEM</label></td>
            <td class="box"><label><e>@Model.item_name</e></label></td>
        </tr>
        <tr class="box">
            <td class="box1"><label>RATE -WILL- TON</label></td>
            <td class="box"><label><e>@Model.size_ton</e></label></td>
            <td class="box1"><label>ITEM VALUE METER</label></td>
            <td class="box"><label><e>@Model.size_meter</e></label></td>
        </tr>
        <tr class="box">
            <td class="box1"><label>ITEM VALUE IN mm</label></td>
            <td class="box"><label><e>@Model.size_mm</e></label></td>
            <td class="box1"><label>BRAND NAME</label></td>
            <td class="box"><label><e>@Model.company_name</e></label></td>
        </tr>
        <tr class="box">
            <td class="box1"><label>SITE NAME</label></td>
            <td class="box"><label><e>@Model.site_name</e></label></td>
            <td class="box1"><label>LOCATION GPS</label></td>
            <td class="box"><label><e>@Model.insp_lat @Model.insp_lon</e></label></td>
        </tr>
        <tr>
            <td colspan="4">
                &nbsp;
            </td>
        </tr>
        <tr style="background-color:gray !important; font-weight: bold; color: white; text-align:center">
            <td colspan="4" style="background-color:gray !important">
                <h2 style="padding:2px !important; margin: 2px !important;">  INSPECTION DETAILS</h2>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td><label>Next Inspection Date: </label></td>
            <td><label>@Model.next_inspection_date</label></td>
            <td colspan="2" rowspan="10" valign="top"><img src="@Model.inspection_image_data" alt="" style="width:300px; height:280px; border: 1px" /></td>
        </tr>
        <tr>
            <td><label>Load Applied: </label></td>
            <td><label>@Model.loadtest</label></td>
        </tr>
        <tr>
            <td><label>Equipments Information: </label></td>
            <td><label>@Model.asset_description</label></td>
        </tr>
        <tr>
            <td><label>Inspection Type: </label></td>
            <td><label>@(Model.visual) @(Model.loadtest) </label></td>
        </tr>
        <tr>
            <td><label>Inspection Results: </label></td>
            <td><label>@Model.inspection_status.ToUpper()</label></td>
        </tr>
        <tr>
            <td><label>Equipment Allocation : </label></td>
            <td><label>@(Model.scrap) @(Model.recondition)</label></td>
        </tr>
        <tr>
            <td><label>Comments: </label></td>
            <td><label>@Model.comments</label></td>
        </tr>
        <tr>
            <td colspan="2">
                <img src="@Model.signature_data" alt="" style="width:100px; height:50px" />
            </td>
        </tr>
        <tr>
            <td><label>Name: </label></td>
            <td><label>@Model.insp_fullname (@Model.registerno)</label></td>
        </tr>
        <tr>
            <td><label>Inspector: </label></td>
            <td><label>@Model.certification</label></td>
        </tr>
    </table>
</page>
