﻿@model IEnumerable<web_app.Models.PassFailReportDTO>
@{
    ViewBag.Title = "passreport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("..//partial//_side_menu", null, new ViewDataDictionary { { "_current", "BI" } })


<div class="centercontent">

    <div class="pageheader">
        <h1 class="pagetitle">Inspection Report</h1>
        <span class="pagedesc">Inspection status report</span>
    </div>
    <div id="contentwrapper" class="contentwrapper nopadding">
        <div class="filemgr">
            <div class="filemgr_left">
                <div class="filemgr_head">
                    <ul class="filemgr_menu">
                        @*   <li class="marginleft5 viewfilebtn"><a class="preview preview_disabled">Export To Excel</a></li>*@
                    </ul>
                    <span class="clearall"></span>
                </div>
                <div id="grid"></div>
                @*<table class="stdtable table table-bordered table-striped" id="tblManageShifts0">
                            <colgroup>
                                <col class="con1" />
                                <col class="con1" />
                                <col class="con0" />
                                <col class="con1" />
                                <col class="con0" />
                                <col class="con1" />
                                <col class="con0" />
                                <col class="con1" />
                                <col class="con0" />
                                <col class="con1" />
                                <col class="con0" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="head1 nosort "><strong>Item</strong></th>
                                    <th class="head1 nosort "><strong>Category</strong></th>
                                    <th class="head0 nosort "><strong>Asset Description</strong></th>
                                    <th class="head1 nosort "><strong>NFC Code</strong></th>
                                    <th class="head0 nosort "><strong>Inspector</strong></th>
                                    <th class="head1 nosort "><strong>Inspection Date</strong></th>
                                    <th class="head0 nosort "><strong>Status</strong></th>
                                    <th class="head1 nosort "><strong>Company</strong></th>
                                    <th class="head0 nosort "><strong>Site</strong></th>
                                    <th class="head0 nosort "><strong>Actions</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (web_app.Models.PassFailReportDTO _item in Model)
                    {
                                    <tr class="line_items">
                                        <td>@_item.item_name</td>
                                        <td>@_item.category_name</td>
                                        <td>@_item.asset_description</td>
                                        <td>@_item.barcode</td>
                                        <td>@_item.insp_fullname</td>
                                        <td>@_item.insp_date</td>
                                        <td class="bg-warning text text-center text-primary"> @_item.inspection_status</td>
                                        <td>@_item.company_name</td>
                                        <td>@_item.site_name</td>
                                        <td style="padding:1px; line-height:0">
                                            <ul class="buttonlist" style="margin:0px !important">
                                                <li style="margin:1px"><a href="javascript:view_inspection(@_item.inspection_id)" class="btn btn-info">View</a></li>
                                                <li style="margin:1px"><a href="javascript:downlaod_report(@_item.inspection_id)" class="btn btn-default">Report</a></li>
                                                <li style="margin:1px"><a href="javascript:downlaod_cert(@_item.inspection_id)" class="btn btn-default">Cert</a></li>
                                            </ul>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>*@
                <a id="link_pdf"></a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function () {
        //$('#tbl_assets').DataTable({
        //    "pagingType": "full_numbers",
        //    "paging": true // false to disable pagination (or any other option)
        //});
        //$('.dataTables_length').addClass('bs-select');
        jQuery('#grid').kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: {
                        url: '/BI/GetPassFailedGrid',
                        dataType: "json"
                    }
                },
                schema: {
                    model: {
                        id: 'asset_id',
                        //fields: {
                        //    id: {
                        //        editable: false,
                        //        nullable: true
                        //    }
                        //}
                    },
                    data: function (data) {
                        return JSON.parse(data);
                    },
                    total: function (data) {
                        return (jQuery(JSON.parse(data))).length;
                    },
                },
                batch: false,
                pageSize: 10,
                serverPaging: false,
                serverFiltering: false,
                serverSorting: false
            },
            //toolbar: [
            //{
            //    name: "Create",
            //    template:
            //        '<div class="k-button form-container bg-success" id="btn_create">' +
            //            '<span class="k-icon k-i-plus" style="vertical-align: middle;"></span>' +
            //                'Create' +
            //        '</div>' +
            //        '<div style="float: right" class="form-container">' +
            //            '<input data-control="text" class="form-control" placeholder="please enter any free form text to search......" type="text" id="searchgrid" style="width: 300px;" onblur="grid();" /></div>' +
            //        '</div>'
            //}],
            toolbar: ["excel"],
            columns: [
                {
                    width: 250,
                    command: [
                        {
                            name: "Remove",
                            template: '<div class="btn btn-default custom_command_remove" data-text="Remove Record" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="view_inspection(this);">View </div>'
                        },
                        {
                            name: "Remove",
                            template: '<div class="btn btn-primary custom_command_remove" data-text="Remove Record" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="downlaod_report(this);">Report</div>'
                        },
                        {
                            name: "Remove",
                            template: '<div class="btn btn-info custom_command_remove" data-text="Remove Record" style="margin-left: 5px; cursor: pointer !important; cursor: hand !important;" onclick="downlaod_cert(this);">Cert</div>'
                        }
                    ],
                    title: '&nbsp;'
                },


                {
                    field: 'inspection_id',
                    title: 'inspection_id',
                    hidden: true,
                },
                //{
                //    title: "Image",
                //    width: 80,
                //    template: function (dataItem) {
                //        return dataItem.imgDataURL == null ? '' : '<img style="width:50px; height: 40px" src="' + dataItem.imgDataURL + '" />' // + kendo.htmlEncode(dataItem.name) + "</strong>";
                //    }
                //},
                {
                    field: "item_name",
                    title: "Item",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "category_name",
                    title: "Category",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "asset_description",
                    title: "Asset Description",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "barcode",
                    title: "NFC Code",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "insp_fullname",
                    title: "Inspector Name",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "insp_date",
                    title: "Inspection Date",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "inspection_status",
                    title: "Status",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "company_name",
                    title: "Company",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                },
                {
                    field: "site_name",
                    title: "Site",
                    width: 150,
                    filterable: {
                        cell: {
                            showOperators: false,
                            operator: "contains"
                        }
                    }
                }
            ],
            filterable: { mode: "row" },
            sortable: true,
            pageable: true,
            //detailTemplate: kendo.template('<div class="detail_grid"></div>'),
            //detailInit: detailInit,
        });


    });

    function downlaod_report(el) {
        var report_id = get_id(el);
        //var report_id = jQuery('#report_id').val();
        var report_file = jQuery('#report_file').val();
        var archive = false;// jQuery('#chkArchive')[0].checked;
        var url = report_file; //+ "?archive=" + archive;


        var report_url = '/BI/PassFailReport?id=' + report_id; //+ parameters;
        console.log('report_url')
        console.log(report_url)
        var link = jQuery('#link_pdf')[0];
        jQuery(link).attr('href', report_url);
        jQuery(link).attr('download', 'true');
        link.click();

        var msg = "Report was sucessfully geranted."
        jQuery.growl.notice({ title: "Report", message: msg });
    }
    function downlaod_cert(el) {
        var report_id = get_id(el);
        //var report_id = jQuery('#report_id').val();
        var report_file = jQuery('#report_file').val();
        var archive = false;// jQuery('#chkArchive')[0].checked;
        var url = report_file; //+ "?archive=" + archive;


        var report_url = '/BI/PassFailCert?id=' + report_id; //+ parameters;
        console.log('report_url')
        console.log(report_url)
        var link = jQuery('#link_pdf')[0];
        jQuery(link).attr('href', report_url);
        jQuery(link).attr('download', 'true');
        jQuery(link).attr('name', 'Certicate');
        link.click();

        var msg = "Report was sucessfully geranted."
        jQuery.growl.notice({ title: "Report", message: msg });
    }
    function get_id(e) {
        console.log(jQuery(e.parentElement.parentElement.parentElement).find('td')[1].innerText)
        console.log(e.parentElement)
        var id = jQuery(e.parentElement.parentElement).find('td')[1].innerText;
        if (!id) {
            var msg = "Please select record before you proceed.";
            jQuery.growl.warning({ title: "Oops", message: msg });
            return false;
        }
        return id;
    }
    function view_inspection(el) {
        var id = get_id(el);
        if (id) {
            var url = "/BI/PassFailView?id=" + id;
            show_win(url);
        } else {

            var msg = "Please select record before you proceed.";
            jQuery.growl.warning({ title: "Oops", message: msg });
        }
    }


    function show_win(url) {
        jQuery.fancybox.open({
            'content': jQuery('<div>').load(url),
            'autoScale': false,
            'autoDimensions': true,
            'transitionIn': 'none',
            'transitionOut': 'none',
            'hideOnOverlayClick': false,
            'hideOnContentClick': false,
            'showCloseButton': true,
            'type': 'iframe',
            'autoSize': false,
            'width': 900,
            'height': 600,
            helpers: {
                overlay: { closeClick: false } // prevents closing when clicking OUTSIDE fancybox
            },
            'afterClose': function () {
                window.location.reload();
            }
        });
        return false;
    }
</script>
